@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.filterTagsContainer {
  margin-top: $sds-spaces-s;
  margin-bottom: $sds-spaces-xs;
  padding-left: $sds-spaces-s;
  display: flex;
  flex-wrap: wrap;
}

.filterTag {
  margin-bottom: $sds-spaces-s;
  width: max-content;
  font: $sds-font-body-xs-400-font;
}
