@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  @include font-header-xl;
  margin: 0 $sds-spaces-m;
  margin-right: 60px;
  word-break: break-all;
}

.geneContents {
  padding: 0 $sds-spaces-m;

  .subtitle {
    @include font-header-s;
    padding-top: 25px;
    padding-bottom: $sds-spaces-m;
  }

  .text {
    @include font-body-s;
  }

  .textSynonym {
    @include font-header-xxs;
  }

  .linksSection {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .linksList {
    min-width: 200px;
    float: left;
    list-style: none;
  }

  .link {
    color: $sds-color-primary-400;
    cursor: pointer;
  }

  .expandLink {
    @include font-body-s;
    color: $sds-color-primary-400;
    margin: $sds-spaces-m 0 0 0;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.cardLicense {
  @include font-body-xxs;
  padding-top: $sds-spaces-m;
  color: $sds-color-gray-500;

  .cardLink {
    color: $sds-color-gray-black;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
