@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~czifui/dist/variables";

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;

  // The child icon will contain an <svg>.
  // The 'fill' rule only works when applied on the svg itself, not the parent.
  svg {
    color: $sds-color-gray-300;
    fill: $sds-color-gray-300;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      background-color: $sds-color-gray-200;
    }

    svg {
      color: $sds-color-primary-400;
      fill: $sds-color-primary-400;
    }
  }
}

.popupText {
  @include font-body-xxs;
  text-align: center;

  .popupSubtitle {
    color: $sds-color-gray-500;
  }
}
