@import "~styles/themes/colors";
@import "~styles/themes/typography";

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;

  // The child icon will contain an <svg>.
  // The 'fill' rule only works when applied on the svg itself, not the parent.
  svg {
    color: $gray-light;
    fill: $gray-light;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      background-color: $gray-lightest;
    }

    svg {
      color: $primary;
      fill: $primary;
    }
  }
}

.popupText {
  @include font-body-xxs;
  text-align: center;

  .popupSubtitle {
    color: $gray-dark;
  }
}
