@import "~czifui/dist/variables";
@import "~styles/themes/colors";
@import "~styles/themes/typography";

.dialog {
  @include font-body-s;

  .dialogTitle {
    @include font-header-xl;
  }

  .dialogActions {
    justify-content: flex-start;
    margin-top: $sds-spaces-xl;

    .deleteButton:not(:disabled) {
      background-color: $sds-color-error-400;

      &:hover,
      &:active {
        background-color: $sds-color-error-600;
      }
    }
  }
}
