@import "~styles/typography";
@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.content {
  @include font-body-xxs;
  padding: 30px;
}

.accordion {
  border-bottom: 1px solid $light-grey;
}

.accordionContent {
  margin-bottom: 20px;
}

.stepName {
  @include font-header-l;
  margin-bottom: 16px;
  margin-right: 60px;
  word-break: break-all;
}

.statusBox {
  padding: $space-l;
  display: flex;
  border-radius: 4px;
  margin-bottom: $space-l;

  .statusIcon {
    height: 20px;
    width: 20px;
    margin-top: $space-xs;
    flex-shrink: 0;
  }

  .statusText {
    margin-left: $space-m;
  }

  .statusTitle {
    @include font-header-s;
  }

  .statusDescription {
    @include font-body-xxs;
  }

  a {
    // Use border-bottom instead of text-decoration: underline to give space under text
    border-bottom: 1px dashed $medium-grey;
  }

  &.inProgress {
    background-color: $primary-lightest;

    .statusIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-light;
      font-size: 20px;
    }
  }

  &.pipelineErrored {
    background-color: $error-bg;

    .statusIcon {
      fill: $error;
    }
  }

  &.userErrored {
    background-color: $warning-bg;
    .statusIcon {
      fill: $warning;
    }
  }

  &.finished {
    background-color: $success-bg;
    .statusIcon {
      fill: $success;
    }
  }
}

.title {
  @include font-header-accordion;
  height: 40px;
}

.description {
  p,
  ol,
  ul,
  li {
    @include font-body-s;
  }

  li {
    margin-bottom: 1em;
  }

  pre {
    padding: 12px 12px 18px;
    background-color: $off-white;
    margin-left: 15px;
  }

  code {
    @include font-code;
    color: $darkest-grey;
  }

  a {
    // Override color: inherit in _header.scss.
    color: $primary-light !important;
  }
}

.fileLink {
  color: $primary-light;
  cursor: pointer;
  margin-bottom: 8px;
}

.disabledFileLink {
  color: $medium-grey;
  cursor: default;
  margin-bottom: 8px;
}

.fileGroup {
  margin-bottom: 18px;

  .fileLink,
  .disabledFileLink {
    margin-left: 25px;
  }

  .fileGroupHeader {
    @include font-header-xs;
    margin-bottom: 8px;
  }
}

.resourcesContainer {
  display: flex;
  flex-wrap: wrap;

  span {
    width: 50%;
    padding-right: 12px;
    margin-bottom: 8px;
  }

  a {
    // Override color: inherit in _header.scss.
    color: $primary-light !important;
  }
}
