@import "~styles/typography";
@import "~styles/themes/typography";
@import "~styles/themes/colors";

.content {
  @include font-body-xxs;
  padding: 30px;
}

.accordion {
  border-bottom: 1px solid $light-grey;
}

.accordionContent {
  margin-bottom: 20px;
}

.stepName {
  @include font-header-l;
  margin-bottom: 12px;
  margin-right: 60px;
  word-break: break-all;
}

.title {
  @include font-header-accordion;
  height: 40px;
}

.fileLink {
  color: $primary-light;
  margin-bottom: 8px;
}

.disabledFileLink {
  color: $medium-grey;
  cursor: default;
}

.fileGroup {
  margin-bottom: 18px;

  .fileLink,
  .disabledFileLink {
    margin-left: 25px;
  }

  .fileGroupHeader {
    @include font-header-xs;
    margin-bottom: 8px;
  }
}
