@import "~styles/themes/colors";
@import "~styles/themes/elements";

:global(.ui):global(.dropdown).bareDropdown,
.portalDropdown {
  // Places the arrow within the trigger.
  &.arrowInsideTrigger {
    position: relative;

    i:global(.dropdown) {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 10px;
      top: 5px;
      line-height: 24px;
      pointer-events: none;
      font-size: 20px;
    }
  }

  // Places the arrow to the right of the trigger.
  &.arrowOutsideTrigger {
    display: flex;
    align-items: center;

    i:global(.dropdown) {
      margin-left: 0;
      font-size: 20px;
    }
  }

  &.hideArrow {
    i:global(.dropdown) {
      display: none;
    }
  }

  :global(.item) {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.4px;
    height: 30px;
    display: flex;
    align-items: center;
    /* Overwrite semantic ui */
    padding-left: 14px !important;
    padding-right: 14px !important;
    color: black !important;
    cursor: pointer;

    &:hover {
      background-color: $transparent-lightest-grey !important;
    }
  }

  .menu {
    min-width: 100%;
    background-color: $white;
    box-shadow: $box-shadow-dropdown-menu;
    border: 1px solid $box-shadow-lighter;
    border-radius: 4px;

    &:global(.left) {
      .innerMenu {
        /* Override special case semantic ui styling for left menus */
        margin: 0 !important;
      }
    }

    &.extraPadding {
      padding-top: 14px;
      padding-bottom: 10px;
    }

    .menuLabel {
      font-size: 13px;
      line-height: 13px;
      font-weight: 600;
      letter-spacing: 0.4px;
      margin-bottom: 12px;
      padding: 0 14px;
    }

    .searchContainer {
      margin: 0 14px 10px 14px;
    }
  }

  .dropdownMenu {
    padding: 6px 0;
  }

  .innerMenu {
    /* Override semantic-ui */
    box-shadow: none !important;
    border-radius: 0 !important;
    border-top: none !important;
    max-height: 288px;
    overflow: auto;

    // TODO(mark): Move this to a global CSS file.
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }
  }

  i:global(.dropdown) {
    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }

  &:global(.active) {
    & > i:global(.dropdown):global(.icon):before {
      color: $primary-light;
    }
  }
}
