:global(.ui):global(.dropdown).dropdown {
  display: flex;
  align-items: center;

  i:global(.dropdown) {
    margin-left: 0;

    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }
}
