@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

:global(.ui):global(.dropdown).dropdown {
  &:global(.active) {
    .dropdownTrigger {
      border: $border-primary;
    }
  }
}

.option {
  @include font-body-xs;
  // override the fixed height and flex display from BareDropdown items
  height: auto !important;
  display: block !important;

  white-space: normal;
  margin-top: $space-m;
  margin-bottom: $space-m;
  cursor: pointer;

  // for SectionsDropdown, the menu items already have padding that can't be overridden
  &.noMargins {
    margin: 0;
  }

  .optionText {
    color: $black;

    &.selectedOption {
      font-weight: $font-weight-semibold;
    }
  }

  .optionSubtext {
    @include font-body-xxs;
    color: $gray-dark;
  }
}

.disabledOption {
  color: $gray-light;
  // override cursor from BareDropdown
  cursor: default !important;

  .optionText {
    color: $gray-light;
  }

  .optionSubtext {
    color: $gray-light;
  }

  &:hover {
    // override background color from BareDropdown
    background-color: $white !important;
  }
}

// override semantic ui Dropdown.Header and Dropdown.Divider styling
:global(.ui.dropdown .menu) {
  :global(.header) {
    @include font-caps-xxxxs;
    color: $gray-dark;

    margin: $space-m 0 0;
  }

  :global(.divider) {
    border-top: $border-gray-lightest;
    margin: 0 $space-l;
  }
}

.emptySection {
  margin: $space-l 0 $space-l $space-l;

  .message {
    @include font-body-xxs;
    color: $gray-dark;
  }
}
