@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

:global(.ui):global(.dropdown).thresholdFilterDropdown {
  &:global(.active) {
    .dropdownTrigger {
      border: $border-primary;
    }
  }

  .container {
    width: 412px;
    padding: $sds-spaces-xs;

    .thresholdButtons {
      /* Override row css */
      padding-top: 5px !important;
      text-align: center;

      .button {
        margin-left: $sds-spaces-m;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .thresholdFilter {
      .removeIcon {
        cursor: pointer;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }

    .addThresholdLink {
      text-align: left;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: $sds-color-primary-400;
      }
    }

    :global(.grid) {
      margin: 0;

      :global(.row) {
        margin: 0;
        padding: 0;

        :global(.column) {
          padding: $sds-spaces-xs;
        }
      }
    }
  }
}
