@import "../../themes/colors";

.phylo-tree-vis {
  font-size: 13px;

  &__tree-container {
    padding: 20px;
    margin-bottom: 30rem;
    overflow: auto;

    svg {
      width: 100%;
    }

    .node {
      cursor: pointer;
    }

    .node circle {
      opacity: 1;
    }

    .node text {
      fill: $black;
    }

    .node.highlight text {
      font-weight: 700;
    }

    .node-internal text {
      text-shadow: 0 1px 0 $white, 0 -1px 0 $white, 1px 0 0 $white,
        -1px 0 0 $white;
    }

    .link {
      fill: none;
      stroke: $light-grey;
      stroke-width: 2px;
    }

    .link.highlight {
      stroke-width: 4px;
    }

    form {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    label {
      display: block;
    }

    .scale {
      .scale-line,
      .scale-tick path {
        fill: none;
        stroke: $light-grey;
        stroke-width: 2px;
      }
    }

    .legend {
      background-color: $white;

      .legend-background {
        fill: $white;
        fill-opacity: 0.8;
      }

      .legend-title {
        font-weight: bold;
      }
    }
  }

  &__tooltip-container {
    position: absolute;
    display: none;

    &.visible {
      display: block;
    }

    .data-tooltip__label {
      min-width: 100px;
    }
  }
}
