@import "~styles/themes/colors";

.heatmap {
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    .controls {
      display: flex;

      .controlElement {
        margin-left: 10px;
      }
    }
  }

  .menu {
    background-color: $white;

    .filterRow {
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .filterTag {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .loadingIndicator,
  .noDataMsg {
    margin: 50px;
    text-align: center;
    color: $medium-grey;
  }
}
