@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.heatmap {
  margin-top: -$header-margin-bottom;
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    .controls {
      display: flex;

      .controlElement {
        margin-left: 10px;
      }
    }
  }

  .menu {
    background-color: $white;

    .filterRow {
      margin-top: $space-l;
      margin-bottom: $space-l;
      margin-right: 10px !important;
    }

    .filterElement {
      display: inline-flex;
      width: 16.6666666667%;
      float: left;
      box-sizing: border-box;
      padding: 0 5px;
      min-height: 1px;
      margin-left: auto;
      left: auto;
      right: auto;
    }

    .filterTagsList {
      margin-bottom: $space-l;
      .filterTag {
        margin-right: $space-xs;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .statsRow {
      @include font-body-xs;
      color: $dark-grey;
      margin-left: $space-xxs;

      .infoIcon {
        margin-top: $space-xxxs;
        margin-left: $space-xxs;
        height: 15px;
        width: 15px;
        fill: $dark-grey;
        vertical-align: text-top;
      }
    }
  }

  .filterToggleContainer {
    text-align: center;
    position: relative;

    .filterLine {
      height: 0px;
      border-bottom: 10px solid $white;
      box-shadow: $box-shadow-dropdown-menu;
    }

    .arrowIcon {
      display: inline-block;
      cursor: pointer;
      color: $dark-grey;
      background-color: $white;
      font-size: $font-size-h4;
      padding: 0 $space-l;
      border-radius: 0 0 4px 4px;
      box-shadow: $box-shadow-tab-bottom;
    }
  }

  .loadingIndicator,
  .noDataMsg {
    margin: 50px;
    text-align: center;
    color: $medium-grey;
  }
}

.highlight {
  @include font-header-xxs;
}

.listContainer {
  background-color: $warning-bg;
}

.notificationContainer {
  margin: $space-l 0 $space-l;
}

.messageLine {
  @include font-body-xxs;
  padding: $space-xxs 0;
  margin-right: $space-xl;
}
