@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.heatmap {
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    .controls {
      display: flex;

      .controlElement {
        margin-left: 10px;
      }
    }
  }

  .menu {
    background-color: $white;

    .filterRow {
      margin-top: $space-m;
      margin-bottom: $space-m;
    }

    .filterTag {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filterToggleContainer {
    margin: auto;
    width: 47px;
    display: block;
    text-align: center;

    .arrowIcon {
      color: $dark-grey;
      font-size: $font-size-h4;
      padding: 0 18px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .loadingIndicator,
  .noDataMsg {
    margin: 50px;
    text-align: center;
    color: $medium-grey;
  }
}
