@import "~styles/themes/colors";

.heading {
  /* override semantic-ui */
  margin: 15px !important;
}

.accessionViz {
  margin: 15px;
}

.warningIcon {
  font-size: 24px;
  color: $light-grey;
  margin-left: 5px;
  transform: translateY(-1px);
}

.popup {
  text-align: left;
}
