@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.publicSiteBanner {
  @include font-body-xs;
  background: $primary-light;
  color: $white;
  height: 40px;
  position: relative;
  text-align: center;
  z-index: 900;

  .content {
    display: block;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .icon {
      fill: $white;
      height: 20px;
      margin-right: $space-xs;
      vertical-align: text-bottom;
    }

    .title {
      @include font-header-xs;
      margin-right: $space-xxxs;
    }

    .link {
      margin-left: 3px;
      text-decoration: underline;
      // override styling in the Link component
      color: white !important;
    }
  }

  .close {
    cursor: pointer;
    fill: $dark-grey;
    position: absolute;
    right: $space-m;
    top: $space-m;

    &:hover {
      fill: $black;
    }
  }
}

.paperReferenceBanner {
  background-color: $off-white;

  .paperReferenceContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 800px;
    padding: $space-xl 0;

    .paperImage {
      flex: 0 0 auto;
      margin-right: $space-xl;
    }

    .paperInfo {
      flex: 1 0 0;

      .paperInfoTitle {
        @include font-header-xl;

        margin-bottom: $space-m;
      }

      .paperInfoBody {
        @include font-body-m;

        margin-bottom: $space-m;
      }
    }
  }
}

.paperCard {
  background-color: $white;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-s;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-right: $space-xl;
  width: 260px;

  .paperCardTitle {
    @include font-header-l;

    flex: 1 0 auto;
    line-height: 28px;
    padding: $space-l;
  }

  .paperCardLogoContainer {
    background-color: $off-white;
    display: flex;
    flex: 0 0 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: $border-radius-m;
    border-bottom-right-radius: $border-radius-m;

    .paperCardLogo {
      flex: 0 0 auto;
      max-height: 22px;
      max-width: 85px;
    }
  }
}
