@import "~styles/themes/colors";
@import "~styles/themes/typography";

.pipelineViz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.stageButton {
  background-color: $light-grey;
  border-radius: 8px;
  padding: 12px;
  width: 250px;
  text-align: center;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.stageArrow {
  width: 50px;
  height: 10px;
  display: flex;
  align-items: center;
  overflow: visible;
  position: relative;
  flex-shrink: 0;

  .stageArrowBody {
    position: relative;
    width: calc(100% - 12px);
    padding: 0.5px 0;
    background-color: $medium-grey;
  }

  .stageArrowHead {
    position: absolute;
    right: 0;
    height: 100%;
    fill: $medium-grey;
  }
}

.graph {
  height: calc(100% - 32px);
}

.graphLabel {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;
}

.hidden {
  display: none;
}

.openedStage {
  background-color: $off-white;
  border-radius: 6px;
  height: 50vh;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;
  position: relative;
}
