@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.header {
  @include font-header-xs;

  color: $medium-grey;
  justify-content: flex-end;
  text-align: right;
  margin-right: $space-m;
  // Push all the headers down except nt/nr selector so the text is aligned.
  margin-top: $space-m;
}

.sortedHeader {
  color: $primary-light;
}

.taxonHeader {
  justify-content: flex-start;
  text-align: left;
}

.expandHeader {
  // reactVirtualized sets margin-left to 10px for the first column by default,
  // so we need to override it.
  margin-left: 0px !important;
  margin-right: 2px !important;
}

.expandCell {
  // reactVirtualized sets margin-left to 10px for the first column by default,
  // so we need to override it.
  margin-left: 0px !important;
  margin-right: 2px !important;
}

.expandIcon {
  font-size: 18px;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 3px;
}

.header {
  .expandIcon {
    margin-bottom: 2px;
  }
}

.ntnrSelectorHeader {
  color: $darkest-grey;
  text-align: center;
  cursor: pointer;
  // Don't push down the text so "NR" is aligned with the other headers.
  margin-top: 0;
}

.cell {
  @include font-body-s;

  color: $darkest-grey;
  font-weight: $font-weight-bold;
  padding: $space-s 0;
  text-align: right;
  margin-right: $space-m;
}

.stack {
  display: inline-block;

  .stackElement {
    @include font-body-s;
    line-height: $space-l;
    font-weight: $font-weight-bold;

    &.lowlightValue {
      @include font-body-xxs;

      color: $medium-grey;
    }
  }
}

.nameCell {
  display: flex;
  flex-direction: row;
  font-weight: $font-weight-semibold;
  text-align: left;

  .taxonContainer {
    .taxonName {
      white-space: normal;
      &:hover {
        cursor: pointer;
      }
    }

    .missingName {
      color: $medium-grey;
    }

    .countInfo {
      font-style: italic;
      font-weight: $font-weight-regular;
      margin-left: $space-xxs;
      color: $medium-grey;
      white-space: normal;
    }
  }

  &:hover {
    .taxonName {
      color: $primary-light;
    }
  }
}

.taxonContainer::first-letter {
  text-transform: uppercase;
}

.speciesRow {
  .nameCell {
    font-weight: $font-weight-regular;
    margin-left: $space-s;
    margin-right: $space-xxxs;
  }
}

.genusRow {
  background-color: $off-white;
}

.genusRow,
.speciesRow,
.row {
  padding-left: 5px;
  // For some reason, react virtualized adds 8px padding to rows' style,
  // when we expand a single column, from a previous value of 0.
  // In theory is to make room for the scrollbar.
  // We override it here to 0, specially since the last column - the NT/NR
  // selector can be used for the scrollbar.
  padding-right: 0px !important;
  &.highlighted {
    background-color: $primary-lightest;
    border-left: 5px solid $primary-light;
    padding-left: 0px;
  }

  .hoverActions {
    display: none;
  }

  &:hover {
    .hoverActions {
      display: inline-block;
    }
  }
}

.annotatedData {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;

  .icon {
    flex: 0 0 auto;
    margin-right: $space-xxs;
  }

  .data {
    flex: 0 0 auto;
  }
}
