@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.header {
  @include font-body-xxs-crop;

  color: $medium-grey;
  justify-content: flex-end;
  text-align: right;
}

.sortedHeader {
  color: $primary-light;
}

.taxonHeader {
  justify-content: flex-start;
  text-align: left;
}

.expandIcon {
  font-size: $font-size-h5;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 3px;
}

.header {
  .expandIcon {
    margin-bottom: 2px;
  }
}

.ntnrSelectorHeader {
  color: $darkest-grey;
  text-align: center;
}

.cell {
  @include font-body-s-crop;

  color: $darkest-grey;
  font-weight: $font-weight-bold;
  padding: $space-s 0;
  text-align: right;
}

.stack {
  display: inline-block;

  .stackElement {
    @include font-body-s-crop;

    font-weight: $font-weight-bold;
    padding: $space-xxs 0;

    &.lowlightValue {
      @include font-body-xxs-crop;

      color: $medium-grey;
    }
  }
}

.nameCell {
  display: flex;
  flex-direction: row;
  font-weight: $font-weight-semibold;
  text-align: left;

  .taxonContainer {
    .taxonName {
      text-transform: capitalize;
      white-space: normal;
    }

    .missingName {
      color: $medium-grey;
    }

    .countInfo {
      font-style: italic;
      font-weight: $font-weight-regular;
      margin-left: $space-s;
      color: $medium-grey;
      white-space: normal;
    }
  }
}

.speciesRow {
  .nameCell {
    font-weight: $font-weight-regular;
  }
}

.genusRow {
  background-color: $off-white;
}

.genusRow,
.speciesRow,
.row {
  padding-left: 5px;
  // For some reason, react virtualized adds 8px padding to rows' style,
  // when we expand a single column, from a previous value of 0.
  // In theory is to make room for the scrollbar.
  // We override it here to 0, specially since the last column - the NT/NR
  // selector can be used for the scrollbar.
  padding-right: 0px !important;
  &.highlighted {
    background-color: $primary-lightest;
    border-left: 5px solid $primary-lighter;
    padding-left: 0px;
  }
}

.speciesRow {
  .nameCell {
    margin-left: $space-s;
  }
}

.annotatedData {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .icon {
    flex: 0 0 auto;
    margin-right: $space-xxs;
  }

  .data {
    flex: 0 0 auto;
  }
}
