@import "~styles/themes/elements";

.filterList {
  .filterListElement {
    display: inline-block;
    margin: $space-xxs 0;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: $space-m;
    }
  }
}

.tagList {
  margin-top: $space-l;
  margin-bottom: $space-l;

  .filterTag {
    margin-right: $space-xs;

    &:last-child {
      margin-right: 0;
    }
  }
}
