@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.sampleViewContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-total-height});
}

.sampleViewHeader {
  flex: 0 0 auto;
}

.tabsContainer {
  flex: 0 0 auto;
}

.reportViewContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  .reportFilters {
    flex: 0 0 auto;
  }

  .reportTable {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .reportHeader {
    display: flex;

    .statsRow {
      @include font-body-xxs;

      color: $medium-grey;
      flex: 1 0 auto;

      .reportInfoMsg {
        &:not(:first-child) {
          margin-left: $space-xxxs;
        }
      }

      .clearAllFilters {
        margin-left: $space-xxxs;
        font-weight: $font-weight-semibold;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    .reportViewSelector {
      flex: 0 0 auto;
    }
  }
}

.tabs {
  margin: 25px 0;
}

.divider {
  height: 3px;
  background-color: $lightest-grey;
  position: absolute;
  left: 0;
  right: 0;
}

.dividerContainer {
  height: 2px;
  padding: 30px 0;
}

.sampleMessage {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .textContainer {
    margin-top: $space-xs;
    margin-right: 18px;
    width: 330px;

    .reportStatus {
      display: inline-flex;
      align-items: center;
      background-color: $error-lightest;
      border-radius: 15px;
      padding: 3px $space-xs;

      .icon {
        width: 20px;
      }

      .text {
        @include font-label-s;
        margin-left: $space-xs;
        margin-top: 1px;
      }

      &.warning {
        background-color: $warning-bg;
        color: $warning;

        .icon {
          fill: $warning;
        }
      }

      &.error {
        background-color: $error-bg;
        color: $error;

        .icon {
          fill: $error;
        }
      }

      &.inProgress {
        background-color: $primary-lightest;
        color: $primary-light;

        .icon {
          fill: $primary-light;
          font-size: 20px;
        }
      }

      &.info {
        background-color: $info-bg;
        color: $info;

        .icon {
          fill: $info;
        }
      }
    }

    .message {
      @include font-header-m;
      margin-bottom: $space-xs;
      margin-top: $space-xs;
      margin-left: 2px;
    }

    .actionLink {
      @include font-header-xxs;
      color: $primary-light !important;
      margin-top: $space-s;
      margin-left: 2px;

      .rightArrow {
        font-size: 8px;
        margin-left: 3px;
      }
    }
  }

  .bacteriaIcon {
    width: 105px;
    height: 128px;
  }
}
