<div id="SamplesHeatmap_page">
</div>

<%= javascript_tag do %>
  react_component(
    'SamplesHeatmap', 
    JSON.parse('<%= raw escape_json(@heatmap_data) %>'),
    'SamplesHeatmap_page'
  );
<% end %>
