<div id="SamplesHeatmapView_page">
</div>

<%= javascript_tag do %>
  react_component(
    'SamplesHeatmapView', 
    JSON.parse('<%= raw escape_json(@heatmap_data) %>'),
    'SamplesHeatmapView_page'
  );
<% end %>
