

     <style>

    </style>

</head>



<div id="ProjectVisualization_page">
</div>


<%= javascript_tag do %>
  react_component(
    'ProjectVisualization', 
    {}, 
    'ProjectVisualization_page'
  );
<% end %>
