<div id="sample_view">
  <%= javascript_tag do %>
    react_component('SampleView', {
      sampleId: <%= @sample.id %>,
      snapshotShareId: '<%= @share_id %>',
    }, 'sample_view', JSON.parse('<%= raw escape_json(user_context)%>'));
  <% end %>
</div>
