@import "~czifui/dist/variables";

.titleSection {
  padding-bottom: $sds-spaces-m;
}
.titleMainText {
  font: $sds-font-header-s-600-font;
  color: $sds-color-gray-black;
}
.titleSubText {
  font: $sds-font-body-s-400-font;
  color: $sds-color-gray-black;
}
.main {
  padding-bottom: $sds-spaces-xl;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: $sds-spaces-l;
}
