@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: $white;
  font-family: $font-family-sans-serif;
  color: $black;
  cursor: pointer;
  padding: 26px 45px;
  text-align: left;
  border-bottom: 1px solid $gray-light;
  border-top: none;
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  outline: none;
  transition: 0.4s;
  position: relative;

  @media (max-width: 768px) {
    padding-left: 65px;
    text-indent: -38px;
  }

  &:hover {
    color: $primary;

    svg {
      .plusStroke {
        stroke: $primary;
      }
    }
  }

  p {
    color: $gray-darkest;
    margin-top: 1em;
  }

  &:first-of-type {
    border-top: 1px solid $gray-light;
  }

  svg {
    position: absolute;
    top: 28px;

    circle,
    path {
      transition: 0.4s;
    }
  }
}

.accordionTitle,
.accordionText {
  margin-left: $sds-spaces-xxl;
}

.accordionTitle {
  @include font-header-l;

  @media (max-width: 768px) {
    @include font-header-s;
  }
}

.accordionText {
  @include font-body-s;

  @media (max-width: 768px) {
    @include font-body-xs;
    text-indent: 0px;
  }
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  a {
    color: $primary !important;
    text-decoration: none !important;

    &:hover,
    &:active {
      color: $primary-darkest !important;
    }
  }

  @media (max-width: 768px) {
    margin-left: -37px;
  }
}
