@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: $white;
  font-family: $font-family-sans-serif;
  color: $black;
  cursor: pointer;
  padding: 26px 45px;
  text-align: left;
  border-bottom: 1px solid $gray-light;
  border-top: none;
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  outline: none;
  transition: 0.4s;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;

  &:hover {
    color: $primary;

    svg {
      .plusStroke {
        stroke: $primary;
      }
    }
  }

  p {
    color: $gray-darkest;
  }

  &:first-of-type {
    border-top: 1px solid $gray-light;
  }

  svg {
    position: absolute;
    top: 28px;

    circle,
    path {
      transition: 0.4s;
    }
  }
}

.accordionTitle,
.accordionText {
  margin-left: 38px;
}

.accordionTitle {
  @include font-header-l;

  @media (max-width: 768px) {
    @include font-header-s;
  }
}

.accordionText {
  @include font-body-m;

  @media (max-width: 768px) {
    @include font-body-xxxs;
  }
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
