@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.contentContainer {
  font-family: $font-family-sans-serif;
  
  h2 {
    @include font-header-marketing-l;

    @media (max-width: 768px) {
      @include font-header-xxl;
    }
  }
}

.summary {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    align-items: center;
  }
  
  a {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.summaryText {

  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  h2 {
    margin: 0;
  }

  p {
    @include font-body-m;
    margin-top: 30px;

    @media (max-width: 768px) {
      @include font-body-s;
      padding-right: 15px;
    }
  }

  width: 33%;
  margin-left: auto;
  margin-top: 65px;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
  }
}

.summaryImage {
  width: 55%;
  max-width: 998px;

  @media (max-width: 768px) {
    align-self: flex-end;
    width: 100%;
  }

  img {
    margin-top: -15%;
    width: 100%;

    @media (max-width: 768px) {
      margin-top: -20%;
    }
  }
}

.healthQuestions {
  text-align: center;
  margin: 4rem auto 5rem auto;

  @media (max-width: 768px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  figure {
    display: inline-block;
    margin-top: 2rem;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-right: 0;
    }

    img {
      width: 100%;
      max-width: 979px;
    }
  }

  .healthQuestionsFigure {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .healthQuestionsMobileFigure {
    display: none;
    
    @media (max-width: 768px) {
      display: block;
    }
  }
}

.howItWorks {
  margin-top: 5rem;
  text-align: center;

  @media (max-width: 768px) {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  p {
    max-width: 765px;
    margin: 0 auto;
    @include font-body-m;

    @media (max-width: 768px) {
      @include font-body-s;
    }
  }
}

.howItWorksProcess {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  img {
    height: 100px;
    width: auto;
  }

  h3 {
    @include font-header-m;
  }

  p {
    @include font-body-xs;
    max-width: 250px;
    color: $gray-darkest;
  }
}

.howItWorksProcessStep {

  padding: 0 20px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.tabbedGallery {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.questions {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  a {
    margin: 3rem auto;
  }
}
