@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.footer {
  background: $black;
  color: $white;
  padding: 3rem 4rem;
  font-family: $font-family-sans-serif;
  @include font-body-s;

  a {
    color: $white;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    @include font-body-xxs;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.topNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;

  a + a {
    margin-left: 40px;

    @media (max-width: 768px) {
      margin-left: 0px;
      margin-top: 32px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.topNavMenu {
  @media (max-width: 768px) {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bottomNavContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.bottomNavMenu {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 25px;
    @include font-body-xxxs;
  }

  p {
    margin-right: 10px;
    margin-bottom: 10px;
    color: $white;
  }

  span {
    margin: 0 8px;
  }
}

.czLogoContainer {
  display: flex;
  align-items: center;
  padding-bottom: 30px;

  .separator {
    background: $white;
    opacity: 0.3;
    height: 42px;
    width: 1px;
    margin: 0 22px;
  }

  @media (max-width: 768px) {
    border-bottom: 1px solid $gray-darkest;
  }
}

.cziLogo svg {
  width: 75px;
  height: auto;
}

.biohubLogo svg {
    width: 99px;
    height: auto;
}