@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.hero {
  font-family: $sds-font-font-family;
  background-color: $sds-color-gray-black;
  background: url("../../../images/landing_page/idseq-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 85%;
  height: 434px;
  padding-top: 65px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    text-align: left;
    padding: 40px $sds-spaces-xl 0;
    background: url("../../../images/landing_page/idseq-hero-mobile.svg");
    background-color: $sds-color-gray-black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100%;
  }

  @media (max-width: 526px) {
    align-items: flex-start;
  }

  @media (max-width: 450px) {
    background-size: contain;
    background-position: center 102%;
    height: 485px;
  }

  h1 {
    color: $sds-color-gray-white;
    font-weight: $font-weight-semibold;
    margin: 0;
    @include font-header-marketing-xl;
    transform: translateX(11%);
    transition: all 0.4s;

    span {
      transition: opacity 0.4s;
      display: inline-block;
      min-width: 600px;
      text-align: left;

      @media (max-width: 905px) {
        min-width: 450px;
      }

      @media (max-width: 768px) {
        min-width: 365px;
      }

      @media (max-width: 526px) {
        min-width: unset;
      }
    }

    @media (max-width: 905px) {
      @include font-header-marketing-l;
    }

    @media (max-width: 768px) {
      @include font-header-xxl;
      line-height: 44px;
    }

    @media (max-width: 526px) {
      transform: translateX(0px) !important;
    }

    @media (max-width: 397px) {
      @include font-header-xl;
    }

    @media (max-width: 341px) {
      font-size: 20px;
    }
  }

  p {
    color: $sds-color-gray-white;
    margin-bottom: 40px;
    margin-top: $sds-spaces-xs;
    @include font-body-m;

    @media (max-width: 768px) {
      @include font-body-s;
      line-height: 23px;
    }

    @media (max-width: 526px) {
      @include font-header-xs;
    }
  }
}

.heroLineBreak {
  display: none;

  @media (max-width: 526px) {
    display: inline;
  }
}

// Animations for rotating hero text

.fade {
  opacity: 0;
}

.moveUp {
  animation: moveUp 0.4s ease forwards;
}

.shiftLeft {
  transform: translateX(0px) !important;
}

@keyframes moveUp {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0px);
  }
}
