@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.heroEmailForm {
  max-width: 489px;
  width: 100%;
  border-radius: 999px;

  form {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  input,
  button {
    font-family: $font-family-sans-serif;
    @include font-body-m;
    border: none;

    @media (max-width: 768px) {
      @include font-body-s;
      width: 100%;
      max-width: 350px;
      padding: unset;
      text-align: center;
      padding: $space-xl 0;
    }
  }

  input {
    border-radius: 999px 0 0 999px;
    width: 274px;
    padding: 13px 0 13px 38px;

    &::placeholder {
      color: $gray-dark;
    }

    @media (max-width: 768px) {
      border-radius: $border-radius-m;
      margin-bottom: 7px;
      width: 100%;
      padding: 13px;
    }
  }

  button {
    border-radius: 0 999px 999px 0;
    color: $white;
    background: $primary;
    width: 215px;
    padding: 13px 38px 13px 30px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      border-radius: $border-radius-m;
      width: 100%;
    }

    span {
      margin-left: 1rem;
      border-left: none;
    }
  }
}
