@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.hero {
  font-family: $font-family-sans-serif;
  background-color: $black;
  background: url("../../../images/landing_page/idseq-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 85%;
  height: 434px;
  padding-top: 65px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    text-align: left;
    padding-top: 40px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  h1 {
    color: $white;
    font-weight: $font-weight-semibold;
    margin: 0;
    @include font-header-marketing-xl;

    span {
      transition: all 0.4s;
    }

    @media (max-width: 768px) {
      @include font-header-marketing-l;
    }
  }

  p {
    color: $white;
    margin-bottom: 40px;
    margin-top: 6px;
    @include font-body-m;

    @media (max-width: 768px) {
      @include font-body-xs;
    }
  }
}
