@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.carouselCell {
  width: 100%;
  background-color: $primary;
  color: $white;
}

.quoteContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 6rem;
  position: relative;
  @include font-header-xl;
  font-family: $font-family-sans-serif;

  @media (max-width: 768px) {
    @include font-header-m;
    padding: 3rem;
  }

  p {
    color: $white;
    @include font-header-xl;
  }
}

.quoteCitation {
  width: 50%;
  margin-left: auto;
  @include font-body-xs;

  span {
    font-weight: $font-weight-semibold;
    margin-left: -17px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  p {
    margin-top: 5px;
    @include font-body-xs;

    @media (max-width: 768px) {
      @include font-body-xxs
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    @include font-body-xxs
  }
}

.startQuotation {
  position: absolute;
  left: 2rem;
  top: 6rem;

  @media (max-width: 768px) {
    left: 0.75rem;
    top: 3.5rem;
  }

  svg {
    @media (max-width: 768px) {
      width: 24px;
    }
  }
}
