@import "~styles/themes/colors";

.mainCarousel {
  cursor: grab;
  background: $primary;

  :global(.slick-dots) {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  @media (max-width: 768px) {
    :global(.slick-dots) {
      bottom: 12px;
    }
  }

  :global(.slick-dots) li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin: 0 !important;
  }

  :global(.slick-dots) li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }

  :global(.slick-dots) li button:focus,
  :global(.slick-dots) li button:hover {
    outline: 0;
  }

  :global(.slick-dots) li button:focus:before,
  :global(.slick-dots) li button:hover:before {
    opacity: 1 !important;
    color: #fff !important;
  }

  :global(.slick-dots) li button:before {
    font-family: slick;
    font-size: 10px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.4 !important;
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :global(.slick-dots) :global(li.slick-active) button:before {
    opacity: 1 !important;
    color: #fff !important;
  }
}
