@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.tabContainer {
  max-width: 440px;
  width: 100%;
  display: flex;
  background: $gray-off-white;

  &:hover {
    cursor: pointer;

    .tabIndicator {
      background: $primary;
    }

    .tabCheckIcon {
      fill: $primary;

      & .outerCircle {
        stroke: $primary;
      }

      & .checkMark {
        stroke: $white;
      }
    }

    .circle {
      fill: $white;
    }
  }

  @media (max-width: 990px) {
    max-width: unset;
  }
}

.tabIndicator {
  min-height: 100%;
  width: 7px;
  background: $gray-lightest;
}

.tabContent {
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid $gray-lightest;
  font-family: $font-family-sans-serif;
  display: flex;
  padding-top: 15px;
}

.tabCheckIcon {
  align-self: flex-start;
  width: 22px;
  flex-shrink: 0;
}

.tabContentText {
  margin-left: 1rem;
  max-width: 300px;
  margin-bottom: 10px;

  @media (max-width: 990px) {
    max-width: unset;
  }
}

.tabTitle {
  color: $black;
  @include font-header-l;

  @media (max-width: 1024px) {
    @include font-header-s;
  }
}

.tabDescription {
  color: $gray-darkest;
  @include font-body-xs;

  @media (max-width: 1024px) {
    @include font-body-xxxs;
  }
}
