@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.tabContainer {
  min-height: 132px;
  max-width: 440px;
  width: 100%;
  display: flex;
  background: $gray-off-white;

  @media (max-width: 768px) {
    flex-direction: column;
    min-height: unset;
  }

  &:hover {
    cursor: pointer;

    .tabIndicator {
      background: $primary;
    }

    .tabCheckIcon {
      fill: $primary;

      & .outerCircle {
        stroke: $primary;
      }

      & .checkMark {
        stroke: $white;
      }
    }

    .circle {
      fill: $white;
    }
  }
}

.tabIndicator {
  min-height: 100%;
  width: 7px;
  background: $gray-lightest;

  @media (max-width: 768px) {
    min-height: unset;
    height: 7px;
    width: 100%;
  }
}

.tabContent {
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid $gray-lightest;
  font-family: $font-family-sans-serif;
  display: flex;

  @media (max-width: 768px) {
    border-bottom: none;
  }
}

.tabCheckIcon {
  align-self: flex-start;
  width: 22px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.tabContentText {
  margin-left: 1rem;
  max-width: 300px;
}

.tabTitle {
  color: $black;
  @include font-header-l;

  @media (max-width: 998px) {
    @include font-header-m;
  }

  @media (max-width: 768px) {
    @include font-header-xs;
  }
}

.tabDescription {
  color: $gray-darkest;
  @include font-body-xs;

  @media (max-width: 998px) {
    @include font-body-xxxs;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
