@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.projectSettingsTrigger {
  color: $primary;
  cursor: pointer;
}

.projectSettingsContent {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    @include font-body-xl;
    color: black;

    .highlight {
      font-weight: $font-weight-semibold;
    }
  }

  .background {
    background-color: $gray-off-white;
    border-radius: $border-radius-m;
  }

  .projectVisibility {
    margin-top: $space-xl;
    margin-bottom: $space-xl;

    .visibility {
      display: flex;
      align-items: center;
      position: relative;
      padding: $space-l;

      .icon {
        width: 32px;
        flex-shrink: 0;
        align-self: flex-start;
      }

      .text {
        flex-grow: 100;
        margin-left: $space-l;

        .label {
          @include font-header-s;
          color: black;
        }

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .toggle {
            @include font-caps-xxxs;
            color: $primary;
            cursor: pointer;
          }
        }

        .note {
          @include font-body-xs;
          margin-top: $space-xxs;
          color: $gray-dark;
        }
      }
    }
  }

  .userManagementFormContainer {
    margin-top: $space-xl;
    flex: 1;
    display: flex;
  }
}
