@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.userManagementForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .title {
    @include font-header-m;
    color: black;
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: $space-xxs;
  }

  .note {
    @include font-body-xs;
    color: $gray-dark;
    margin-bottom: $space-l;
  }

  .background {
    background-color: $gray-off-white;
    border-radius: $border-radius-m;
  }

  .userManagementBody {
    padding: $space-l;

    .userList {
      margin-top: $space-l;
      width: 100%;
      max-height: 100px;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .userEntry {
        @include font-body-xs;
        color: black;
      }

      .userEntry:not(:first-child) {
        margin-top: $space-xs;
      }
    }

    .addMemberForm {
      display: flex;

      .label {
        @include font-header-s;
        color: black;
        margin-bottom: $space-xxs;
      }

      .button {
        min-width: 75px;
      }

      .addMemberFormField:not(:first-child) {
        margin-left: $space-m;
      }

      .addMemberFormField:not(:last-child) {
        flex: 1;
      }

      .addMemberFormField:last-child {
        flex: 0 0 auto;
        align-self: flex-end;
        margin-bottom: 0;
      }
    }

    .statusMessage {
      @include font-body-xxs;
      margin-top: $space-m;
      height: 16px;

      &.errorMessage {
        color: $error-medium;
      }

      &.infoMessage {
        color: $gray-dark;
      }

      &.successMessage {
        color: $success-medium;
      }
    }
  }
}
