@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.viewOnlyLinkForm {
  display: flex;
  flex-direction: column;

  .note {
    @include font-body-xs;
    color: $gray-dark;
  }

  .noteContainer {
    margin-top: $space-xxs;
    margin-right: 100px;
  }

  .background {
    background-color: $gray-off-white;
    border-radius: $border-radius-m;
  }

  .helpIcon {
    fill: $gray-light;
    margin-left: $space-xs;
    display: inline-flex;
    vertical-align: middle;

    &:hover {
      fill: $primary;

      svg {
        fill: $primary;
      }
    }
  }

  .toggleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .loadingIcon {
      // width and height of toggle
      width: 68px;
      height: 28px;
      justify-content: center;
    }

    .linkToggle {
      margin-right: $space-m;
    }

    .automaticUpdateToggle {
      margin-right: $space-xl;
    }
  }

  .viewOnlyLinkHeader {
    .titleContainer {
      height: 22px; // title height

      .title {
        @include font-header-m;
      }
    }

    .note {
      display: inline;
    }
  }

  .viewOnlyLinkBody {
    padding: $space-l;
    margin-top: $space-l;

    .label {
      @include font-header-s;
      color: $black;
      margin-bottom: $space-xxs;
    }

    .pipelineVersionTooltip {
      text-decoration: underline;
      text-decoration-style: dashed;

      &:hover {
        color: $primary;
        cursor: default;
      }
    }

    .settingsForm {
      margin-left: $space-xl;

      .settingsFormDropdown {
        margin-top: $space-l;

        .backgroundModelLabel {
          @include font-header-s;
          margin-top: $space-l;
          margin-bottom: $space-xxs;
          display: flex;
          align-items: center;
        }

        .dropdown {
          width: 190px;
          color: $primary;

          span {
            color: $gray-dark;
          }
        }
      }

      .settingsFormField {
        display: flex;
        flex-direction: column;
        margin-top: $space-l;

        .formFieldLabelContainer {
          height: 24px; // formFieldLabel height

          .formFieldLabel {
            @include font-header-s;
          }
        }
      }
    }

    .shareableLink {
      display: flex;
      margin-top: $space-xl;

      .shareableLinkField:first-child {
        flex: 1;
      }

      .shareableLinkField:last-child {
        flex: 0 0 auto;
        margin-left: $space-m;
      }

      .input {
        input[type="text"] {
          color: $gray-dark;
        }
      }

      .button {
        min-width: 75px;
      }
    }

    .staticWarning {
      @include font-body-xxs;
      color: $gray-dark;
      margin-left: $space-xxxs;
      margin-top: $space-s;
      margin-right: 100px;
      margin-bottom: $space-s;
    }
  }
}

.highlight {
  @include font-header-xs;
}

// Override materialize.css
.conditionList {
  @include font-body-xs;
  padding-left: 0;
  margin-top: $space-m;
  margin-bottom: $space-m;

  .conditionListItem {
    list-style: disc inside none;
    margin-bottom: $space-xxs;
  }
}
