@import "~styles/themes/typography";
@import "~styles/themes/colors";

.header {
  margin-top: 40px;

  .title {
    @include font-header-xxl;
  }

  .controls {
    @include font-body-s;
    color: $medium-grey;
    margin-top: 10px;
    display: flex;
    align-items: center;

    .checkbox {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}

.playgroundTypography {
  display: flex;

  .column {
    width: 400px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  margin-bottom: 40px;
}

.borderContainer {
  position: relative;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.container {
  padding: 20px 0;

  &.upperCase {
    text-transform: uppercase;
  }
}

.font-header-xxl {
  @include font-header-xxl;
}

.font-header-xl {
  @include font-header-xl;
}

.font-header-l {
  @include font-header-l;
}

.font-header-m {
  @include font-header-m;
}

.font-header-s {
  @include font-header-s;
}

.font-header-xs {
  @include font-header-xs;
}

.font-header-xxs {
  @include font-header-xxs;
}

.font-header-xxxs {
  @include font-header-xxxs;
}

.font-header-accordion {
  @include font-header-accordion;
}

.font-header-node-l {
  @include font-header-node-l;
}

.font-header-node-s {
  @include font-header-node-s;
}

.font-body-xl {
  @include font-body-xl;
}

.font-body-l {
  @include font-body-l;
}

.font-body-m {
  @include font-body-m;
}

.font-body-s {
  @include font-body-s;
}

.font-body-xs {
  @include font-body-xs;
}

.font-body-xxs {
  @include font-body-xxs;
}

.font-body-xxxs {
  @include font-body-xxxs;
}

.font-label-s {
  @include font-label-s;
}

.font-label-xs {
  @include font-label-xs;
}

.font-label-xxs {
  @include font-label-xxs;
}

.font-tag-s {
  @include font-tag-s;
}

.font-viz-label {
  @include viz-label;
}

.font-search-result-title {
  @include font-search-result-title;
}

.font-search-result-description {
  @include font-search-result-description;
}

.font-code {
  @include font-code;
}

.font-caps-xxs {
  @include font-caps-xxs;
}

.font-caps-xxxs {
  @include font-caps-xxs;
}

.font-caps-xxxxs {
  @include font-caps-xxs;
}
