@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.vizContainer {
  margin-top: 100px;
}

.tabs {
  margin: 30px 65px;
}

.barChartContainer {
  display: flex;
  flex-direction: column;
  margin-top: $sds-spaces-s;

  .canvas {
    @include scrollable;
    max-height: calc(85vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
