// From Adobe generated SVG
.st0 {
  fill: #cccccc;
}
.st1 {
  clip-path: url(#SVGID_2_);
}
.st2 {
  clip-path: url(#SVGID_4_);
  fill: #a300df;
}
.st3 {
  clip-path: url(#SVGID_6_);
}
.st4 {
  clip-path: url(#SVGID_8_);
  fill: #ffffff;
}
.st5 {
  clip-path: url(#SVGID_10_);
}
.st6 {
  clip-path: url(#SVGID_12_);
  fill: #3867fa;
}
.st7 {
  clip-path: url(#SVGID_14_);
}
.st8 {
  clip-path: url(#SVGID_16_);
  fill: #3867fa;
}
.st9 {
  fill: #ffffff;
}
.st10 {
  fill: #3867fa;
}
.st11 {
  fill: none;
}
.st12 {
  fill: none;
  stroke: #3867fa;
  stroke-width: 1.8;
  stroke-miterlimit: 10;
}
.st13 {
  fill: none;
  stroke: #3867fa;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}
.st14 {
  fill: none;
  stroke: #3867fa;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st15 {
  fill: none;
  stroke: #3867fa;
  stroke-width: 1.7;
  stroke-miterlimit: 10;
}
