// TODO(tiago): find a way to get rid of these styles
.cls1 {
  fill: #a300df;
}
.cls2 {
  fill: none;
}
.cls3 {
  clip-path: url(#clip-path);
}
.cls4 {
  clip-path: url(#clip-path-2);
}
.cls5 {
  clip-path: url(#clip-path-3);
}
.cls6 {
  clip-path: url(#clip-path-4);
}
.cls7 {
  fill: #ccc;
}
.cls8 {
  fill: #3867fa;
}
