@import "~styles/themes/colors";
@import "~styles/themes/typography";

// NOTE: this is almost a line-for-line copy of projects_view.scss
.visualization {
  text-align: left;
  padding: 15px 0;

  .visualizationName {
    color: $black;
    font-weight: $font-weight-semibold;
    font-size: $font-size-h5;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .visualizationDetails {
    @include font-body-xxs;

    color: $medium-grey;
    font-weight: $font-weight-regular;

    span:not(:last-child) {
      margin-right: 8px;
    }

    span:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.detailsCell,
.detailsHeader {
  text-align: left;
}

.icon {
  width: 36px;
}
