tmp
log
.git
node_modules

# Ignore .sql and sql.gz files at root
#   These are used to populate the db for local development
#   If these are not ignored the local images you build will be huge
/*.sql
/*.sql.gz