{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "standard", 
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "standard/object-curly-even-spacing": "warn",
    "no-extra-semi": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-unreachable": "warn",
    "no-console": "warn",
    "no-useless-escape": "warn",
    "no-undef": "warn"
  }
}
