{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "camelcase": "warn",
    "no-unreachable": "warn",
    "react/boolean-prop-naming": "warn",
    "standard/object-curly-even-spacing": "warn",
    "standard/computed-property-even-spacing": "warn",
    "react/no-deprecated": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-find-dom-node": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/jsx-key": "warn",
    "react/no-string-refs": "warn",
    "react/prop-types": "warn",
  },
  "settings": {
    "propWrapperFunctions": [ "forbidExtraProps" ]
  }
}
