version: '3'
services:
  db:
    image: mysql:5.6
    container_name: mysql
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_DATABASE=idseq_development
  redis:
    image: redis:3.0.5
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - ./redis-data:/var/lib/redis/data
  web:
    build: .
    image: chanzuckerberg/idseq-web:compose
    volumes:
      - .:/app
      - ~/.aws:/root/.aws:ro
    command: bash -c "rm -f tmp/pids/server.pid && rails server -b 0.0.0.0 -p 3000"
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      - SAMPLES_BUCKET_NAME=czbiohub-idseq-samples-development
      - IDSEQ_AIRBRAKE_PROJECT_ID
      - IDSEQ_AIRBRAKE_PROJECT_KEY
      - IDSEQ_HONEYCOMB_DB_DATA_SET
      - IDSEQ_HONEYCOMB_DATA_SET
      - IDSEQ_HONEYCOMB_WRITE_KEY
      - MAIL_GUN_API_KEY
      - CI
      - CONTINUOUS_INTEGRATION
      - RACK_ENV
      - RAILS_ENV
      - TRAVIS_ALLOW_FAILURE
      - TRAVIS_BRANCH
      - TRAVIS_BUILD_DIR
      - TRAVIS_BUILD_ID
      - TRAVIS_BUILD_NUMBER
      - TRAVIS_COMMIT
      - TRAVIS_COMMIT_MESSAGE
      - TRAVIS_COMMIT_RANGE
      - TRAVIS_EVENT_TYPE
      - TRAVIS_FILTERED
      - TRAVIS_JOB_ID
      - TRAVIS_JOB_NUMBER
      - TRAVIS_LANGUAGE
      - TRAVIS_OS_NAME
      - TRAVIS_PRE_CHEF_BOOTSTRAP_TIME
      - TRAVIS_PULL_REQUEST_BRANCH
      - TRAVIS_PULL_REQUEST
      - TRAVIS_PULL_REQUEST_SHA
      - TRAVIS_PULL_REQUEST_SLUG
      - TRAVIS_REPO_SLUG
      - TRAVIS_SECURE_ENV_VARS
      - TRAVIS_TAG
      - TRAVIS
  resque:
    build: .
    volumes:
      - .:/app
      - ~/.aws:/root/.aws:ro
    depends_on:
      - db
      - redis
    environment:
      - SAMPLES_BUCKET_NAME=czbiohub-idseq-samples-development
      - CI
      - CONTINUOUS_INTEGRATION
      - RACK_ENV
      - RAILS_ENV
      - TRAVIS_ALLOW_FAILURE
      - TRAVIS_BRANCH
      - TRAVIS_BUILD_DIR
      - TRAVIS_BUILD_ID
      - TRAVIS_BUILD_NUMBER
      - TRAVIS_COMMIT
      - TRAVIS_COMMIT_MESSAGE
      - TRAVIS_COMMIT_RANGE
      - TRAVIS_EVENT_TYPE
      - TRAVIS_FILTERED
      - TRAVIS_JOB_ID
      - TRAVIS_JOB_NUMBER
      - TRAVIS_LANGUAGE
      - TRAVIS_OS_NAME
      - TRAVIS_PRE_CHEF_BOOTSTRAP_TIME
      - TRAVIS_PULL_REQUEST_BRANCH
      - TRAVIS_PULL_REQUEST
      - TRAVIS_PULL_REQUEST_SHA
      - TRAVIS_PULL_REQUEST_SLUG
      - TRAVIS_REPO_SLUG
      - TRAVIS_SECURE_ENV_VARS
      - TRAVIS_TAG
      - TRAVIS
    command: bundle exec "QUEUE=* COUNT=5 rake resque:workers"
  resque_schedule:
    build: .
    volumes:
      - .:/app
      - ~/.aws:/root/.aws:ro
    depends_on:
      - db
      - redis
    environment:
      - SAMPLES_BUCKET_NAME=czbiohub-idseq-samples-development
      - CI
      - CONTINUOUS_INTEGRATION
      - RACK_ENV
      - RAILS_ENV
      - TRAVIS_ALLOW_FAILURE
      - TRAVIS_BRANCH
      - TRAVIS_BUILD_DIR
      - TRAVIS_BUILD_ID
      - TRAVIS_BUILD_NUMBER
      - TRAVIS_COMMIT
      - TRAVIS_COMMIT_MESSAGE
      - TRAVIS_COMMIT_RANGE
      - TRAVIS_EVENT_TYPE
      - TRAVIS_FILTERED
      - TRAVIS_JOB_ID
      - TRAVIS_JOB_NUMBER
      - TRAVIS_LANGUAGE
      - TRAVIS_OS_NAME
      - TRAVIS_PRE_CHEF_BOOTSTRAP_TIME
      - TRAVIS_PULL_REQUEST_BRANCH
      - TRAVIS_PULL_REQUEST
      - TRAVIS_PULL_REQUEST_SHA
      - TRAVIS_PULL_REQUEST_SLUG
      - TRAVIS_REPO_SLUG
      - TRAVIS_SECURE_ENV_VARS
      - TRAVIS_TAG
      - TRAVIS
    command: bundle exec "QUEUE=* rake resque:scheduler"
