@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.button {
  background: none !important; // Override Semantic UI
  color: $sds-color-primary-400;
  padding: 0 !important; // Override .idseq-ui.button
}

.label {
  @include font-caps-xxxs;

  align-items: center;
  color: $sds-color-primary-400;
  display: flex;
}
