// Apply custom styling to SDS Button to create circular Button
.helpButton {
  min-width: auto !important;
  padding: 0 5px !important;

  :global(.MuiButton-startIcon) {
    margin: 0 !important;
  }
}
