@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  @include font-header-xl;

  margin: 0 $sds-spaces-m;
  margin-right: 60px;
  word-break: break-all;
}

.subTitle {
  @include font-body-xs;

  color: $gray-dark;
  margin: 0 $sds-spaces-m;
}

.taxonContents {
  padding: 0 $sds-spaces-m;

  .subtitle {
    padding-top: 25px;
    padding-bottom: $sds-spaces-m;
    font-size: 14px;
    font-weight: 700;

    .infoIcon {
      margin-left: $sds-spaces-xxs;
      margin-top: $sds-spaces-xxs;
      height: 15px;
      width: 15px;
      fill: $gray-medium;
    }
  }

  .histogram {
    width: 100%;
    height: 160px;
    margin: 0 auto;
  }

  .text {
    line-height: 24px;

    &.collapsed {
      max-height: 120px;
      overflow: hidden;
    }
  }

  .linksSection {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .linksList {
    min-width: 200px;
    float: left;
    list-style: none;
  }

  .link {
    color: $primary;
    line-height: 30px;
    cursor: pointer;
  }

  .expandLink {
    color: $primary;
    margin-top: $sds-spaces-m;
    cursor: pointer;
  }
}

.wikiLicense {
  @include font-body-xxs;

  padding-top: $sds-spaces-m;
  color: $gray-dark;

  .wikiLink {
    color: $black !important;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
