@import "~styles/typography";
@import "~styles/themes/colors";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  margin: 0 10px;
  margin-right: 60px;
  word-break: break-all;
  line-height: 1.4em;
}

.taxonContents {
  padding: 0 10px;

  .subtitle {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
  }

  .histogram {
    width: 100%;
    height: 160px;
    margin: 0 auto;
  }

  .text {
    line-height: 24px;

    &.collapsed {
      max-height: 120px;
      overflow: hidden;
    }
  }

  .linksSection {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .linksList {
    min-width: 200px;
    float: left;
    list-style: none;
  }

  .link {
    color: $primary-light;
    line-height: 30px;
    cursor: pointer;
  }

  .expandLink {
    color: $primary-light;
    margin-top: 10px;
    cursor: pointer;
  }
}
