@import "~styles/themes/colors";
@import "~styles/themes/elements";

.tooltip {
  position: absolute;
  display: none;

  &.visible {
    display: block;
  }
}

.legend {
  padding: 10px;
  background-color: $white;
  border: $border-gray-light;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-dropdown-menu;
  font-size: 8pt;

  .legendRow {
    vertical-align: middle;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .legendEntryColor {
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
