@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

// These variables help to keep the loading and no data screens the same height as the viz screen.
$body-height: 248px;
$accession-label-height: 22px;
$accession-count-label-height: 20px;
$genome-viz-height: 18px;
$genome-viz-spacing: $space-xs;

.contents {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;

  // Leave a place for the sidebar close button on narrow screens.
  // 160px is based on the close button position and size. (multipled by 2)
  @media (max-width: $narrow-container-width + 160px) {
    padding-top: 50px;
  }
}

.header {
  margin-bottom: 30px;
  display: flex;

  .headerText {
    .taxonLabel {
      @include font-header-xs;
      color: $gray-dark;
      display: flex;
      align-items: center;
    }

    .accessionSelectMenu {
      min-width: 500px !important;
      width: 100%;
      margin-top: 5px;
    }

    .accessionLabel {
      @include font-header-m;
      max-width: 550px;
      margin-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      height: $accession-label-height;
    }

    .accessionCountLabel {
      @include font-body-xs;
      color: $gray-light;
      height: $accession-count-label-height;
      display: flex;
      align-items: center;
    }

    .notShownMsg {
      margin-left: 5px;
    }

    .helpIcon {
      margin-left: 5px;
      height: 14px;
    }
  }

  .fill {
    flex: 1 1 0;
    min-width: 0;
  }

  .headerControls {
    text-align: right;

    .vizLinkContainer {
      text-align: right;
      margin-top: 2px;
      margin-right: 12px;
    }
  }
}

// Used to style multiple links in different locations in coverage viz sidebar.
.linkWithArrow {
  @include font-header-xxs;
  // Override color: inherit in _header.scss.
  color: $primary !important;

  .rightArrow {
    font-size: 0.75em;
    margin-left: 4px;
  }
}

.refAccessionVizLink {
  display: inline-block;
}

.body {
  height: $body-height;

  &.withReads {
    height: $body-height + $genome-viz-height + $genome-viz-spacing;
  }

  .metrics {
    display: flex;
    margin-bottom: 30px;

    .column {
      flex: 1 1 0;
      min-width: 0;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .metric {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 10px;

      &:first-child {
        background-color: $gray-off-white;
      }

      .label,
      .value {
        flex: 1 1 0;
        min-width: 0;
      }

      .label {
        @include font-header-xxs;
      }

      .value {
        @include font-body-xxs;
      }

      .ncbiLinkWrapper {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .ncbiLink {
        // Override color: inherit in _header.scss.
        color: $primary !important;
      }
    }
  }

  .coverageVizHistogram {
    height: 110px;
    background-color: $gray-off-white;
  }

  .genomeVizRow {
    height: $genome-viz-height;
    margin-top: $genome-viz-spacing;
    display: flex;

    .rowLabel {
      @include font-body-xxs;
      width: 170px;
      text-align: right;
      padding-right: 8px;
      color: $gray-darkest;
    }

    .genomeViz {
      margin-right: 40px;
      flex: 1 1 0;
      min-width: 0;

      .genomeVizInner {
        height: 100%;
      }
    }
  }

  .referenceAccession {
    background-color: $gray-lightest;
  }
}

.noDataBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: (
    $body-height + $accession-count-label-height + $accession-label-height
  );

  .noDataContainer {
    display: flex;
  }

  .text {
    margin-top: $space-xl;
    margin-right: $space-xl;
    width: 350px;

    .message {
      @include font-header-m;
      margin-bottom: 8px;
    }

    .vizLink {
      margin-top: 10px;
    }
  }

  .icon {
    fill: $gray-lightest;
    width: $img-m;
    height: $img-m;
  }
}

.loadingContainer,
.unknownErrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $body-height;
  color: $gray-dark;

  .loadingMessage,
  .unknownErrorMessage {
    margin-bottom: 20px;
  }

  .helpLink {
    color: $primary !important;
  }

  .loadingIcon {
    margin-right: 5px;
  }
}

.hoverTooltip {
  position: fixed;
  background-color: white;
  z-index: 104;
  // So the tooltip appears on the top-right instead of bottom-right of mouse.
  transform: translateY(-100%);
}

.contigDownloader {
  position: fixed;
  z-index: 105;
  // So the tooltip appears on the top-left instead of bottom-right of the top-right corner of bar.
  transform: translate(-100%, -100%);
  background-color: $white;
  box-shadow: $box-shadow-m;
  border: $border-gray-light;
  border-radius: $border-radius-m;
  padding: 5px 10px;
  display: flex;
  align-items: center;

  .icon {
    cursor: pointer;
    height: $icon-l;
    width: $icon-l;

    svg {
      width: 100%;
      height: 100%;
      color: $gray-medium;
      fill: $gray-medium;
    }

    &:hover {
      svg {
        color: $primary;
        fill: $primary;
      }
    }
  }

  .downloadIcon {
    margin-right: 12px;
  }
}

// TODO(mark):
// If text-subtext options become more common, add this to BareDropdown as an official alternative option.
.option {
  padding: 6px 16px;

  .optionText {
    @include font-body-xs;
    color: $gray-darkest;
  }

  .optionSubtext {
    @include font-body-xxs;
    color: $gray-light;
    font-weight: $font-weight-regular;
  }

  .optionText,
  .optionSubtext {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
