@import "~styles/themes/colors";
@import "~styles/themes/elements";

.AMRHeatmapView {
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    .controls {
      display: flex;

      .controlElement {
        margin-left: 10px;
      }
    }
  }

  .menu {
    background-color: $white;

    .filterRow {
      margin: 20px 0;
      height: $space-xxl;

      .filterControl {
        float: left;
        margin-left: auto;
        padding: 0 $space-default;
        width: 25%;
      }
    }
  }

  .loadingIndicator,
  .noDataMsg {
    margin: 50px;
    text-align: center;
    color: $gray-dark;
  }
}
