@import "~styles/themes/colors";

.AMRHeatmapView {
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    .controls {
      display: flex;

      .controlElement {
        margin-left: 10px;
      }
    }
  }

  .menu {
    background-color: $white;

    .filterRow {
      margin: 20px 0;
    }
  }

  .loadingIndicator,
  .noDataMsg {
    margin: 50px;
    text-align: center;
    color: $gray-dark;
  }
}
