<p><b>You have been invited to join IDseq!</b></p>
<p/>
<p><b><%= link_to 'Activate Your Account', @reset_password_url %></b></p>
<p>Please note that this activation link expires after 48 hours. If the link has expired, please <%= link_to 'cilck here to request a new one', root_url + "users/password/new", style: 'color: black' %>.</p>
<p>
  Thanks,<br/> The IDseq Team
</p>
