<p><b>You have been invited to join IDseq!</b></p>
<p/>
<p><b><%= link_to 'Activate Your Account', @reset_password_url %></b></p>
<p>Please note that this activation link expires after 48 hours.</p>
<p>If you missed that window, please <%= link_to 'request a new password reset email', root_url + "users/password/new" %>.</p>
<p>
  Thanks,<br/> The IDseq Team
</p>
