<p>Hello,</p>
<p>
  Thank you for your interest in CZ ID! <br/>
  We will be in touch soon to learn more about your work and how CZ ID can help you.<br/>
  If your team is already on CZ ID, ask a collaborator to add you to a project to get immediate access.
</p>
<p>
  Cheers,<br/> The CZ ID Team
</p>
