<p>Someone entered your email for a password reset request on CZ ID, but we couldn’t find a matching account. If you think this is a mistake, please <a href="https://chanzuckerberg.zendesk.com/hc/en-us/requests/new" target="_blank">contact us for help</a>.</p>
<p>
  Thanks,<br/> The CZ ID Team
</p>
