<p>Someone entered your email for a password reset request on CZ ID, but we couldn’t find a matching account. If you think this is a mistake, please <a href="mailto:help@czid.org">contact us for help</a>.</p>
<p>
  Thanks,<br/> The CZ ID Team
</p>
