@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.form {
  width: 350px;
  margin: 0 auto;
  box-shadow: $box-shadow-m;
  margin-top: 150px;
  border-radius: $border-radius-l;
  padding-top: $space-default;

  .mainContent {
    margin-bottom: $space-xl;
  }

  .title {
    @include font-header-l;
    padding: $space-xl $space-xxl 0 $space-xxl;
  }

  .content {
    @include font-body-s;
    padding: $space-l $space-xxl;

    .emailLabel {
      margin-left: $space-s;
      // Override materialize
      color: inherit !important;
      -webkit-transform: none !important;
      transform: none !important;
    }

    .inputField {
      @include font-body-xs;
      width: 100%;
    }
  }

  .submit {
    @include font-header-m;

    background-color: $primary;
    border-radius: 0 0 $space-default $space-default;
    border: none;
    color: $white;
    cursor: pointer;
    padding: $space-l;
    width: 100%;
  }

  .text {
    @include font-body-s;
    padding: $space-xl;
  }
}
