@import "~styles/themes/typography";
@import "~styles/themes/colors";

.privacyPolicy,
.termsOfUse,
.faqPage,
.publicNcovHomepage {
  margin-top: 90px;
  margin-bottom: 90px;

  h1 {
    @include font-header-xxl;
    margin-bottom: 0;
  }

  h2 {
    @include font-header-xl;
    margin-top: 40px;
    position: relative;

    .number {
      position: absolute;
      right: 100%;
      margin-right: 8px;
    }
  }

  h3 {
    @include font-header-m;
    margin-top: 30px;
    position: relative;

    .number {
      position: absolute;
      right: 100%;
      margin-right: 8px;
    }
  }

  h4.subtitle {
    @include font-body-xxs;
    margin-top: 5px;
    color: $dark-grey;
  }

  .title {
    margin-bottom: 50px;
  }

  p {
    @include font-body-s;

    &.large {
      @include font-body-m;
    }
  }

  a {
    // Override _header.scss
    color: $primary-light !important;
  }

  ul {
    margin-left: 40px;

    li {
      @include font-body-s;
      list-style-type: disc;
      margin-bottom: 10px;

      .listItemLabel {
        font-weight: 600;
        margin-right: 5px;
      }
    }
  }

  .underlineHeader {
    @include font-body-m;
    margin-top: 25px;
    text-decoration: underline;
  }

  b {
    font-weight: $font-weight-semibold;
  }
}

.faqPage .question {
  border-bottom: 1px solid $light-grey;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
    min-height: 50px;
    display: flex;
    align-items: center;

    &:hover {
      color: $primary-light;
    }

    &.multiLine {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  p {
    margin: 0px 50px 10px 10px;
  }

  .innerListItem {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.publicNcovHomepage {
  margin-top: 60px;

  .title {
    display: flex;
    margin-bottom: 20px;

    .fill {
      flex: 1 1 0;
    }
  }

  .image {
    max-width: 100%;
    margin-top: 20px;
  }

  h2 {
    @include font-header-l;
    margin-top: 30px;
  }

  ol {
    margin: 30px 0 30px 20px;

    li {
      @include font-body-m;
      list-style-type: none;
      margin-bottom: 20px;

      .listItemTitle {
        @include font-header-m;
        margin-bottom: 5px;
      }

      .content {
        display: flex;
        margin-top: 10px;

        img {
          width: 300px;
          margin-right: 30px;
        }
      }
    }
  }
}
