@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~@czi-sds/components/dist/variables";

.header {
  margin-bottom: $sds-spaces-xl;

  .title {
    @include font-header-xl;
  }

  .subtitle {
    @include font-body-xxs;
    color: $sds-color-gray-500;
  }
}

.presets {
  .title {
    @include font-header-m;
    margin-bottom: $sds-spaces-xxs;
  }

  .description {
    margin-bottom: $sds-spaces-l;
  }

  .filter {
    margin-bottom: $sds-spaces-xl;

    .label {
      @include font-body-xs;
      font-weight: $font-weight-semibold;
      margin-bottom: $sds-spaces-s;

      .optionalLabel {
        @include font-body-xxs;
        margin-bottom: $sds-spaces-xl;
        color: $sds-color-gray-500;
      }
    }
  }
}

.footer {
  .button {
    &:not(:last-child) {
      margin-right: $sds-spaces-default !important; // override PrimaryButton's 0 margin-right
    }
  }
}
