@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.samplesHeatmapVis {
  .plusMinusControl {
    z-index: 1;
    position: absolute;
    // Offset from the viewport to line up with the filter controls. This will
    // need to be adjusted if the position of the controls changes.
    top: 360px;
    right: 40px;
    box-shadow: $box-shadow-m;

    background-color: white;
    svg:hover {
      background-color: darken(white, 5%);
    }
  }

  .heatmapContainer {
    overflow: hidden;
    // Set the height so the heatmap takes up the rest of the screen.
    // 358px is the height of the elements above the heatmapContainer.
    // It *will* need to change if the height of the elements above ever change.
    height: calc(100vh - #{$header-height} - 284px);

    &.filtersApplied {
      height: calc(100vh - #{$header-height} - 307px);
    }

    &.fullScreen {
      height: calc(100vh - #{$header-height} - 33px);
    }

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .tooltip {
    position: absolute;
    display: none;

    &.visible {
      display: block;
    }

    .data-tooltip__label {
      min-width: 100px;
    }

    .warning {
      display: flex;

      .warningIcon {
        height: 14px;
        width: 14px;
        margin-right: 6px;
        // Vertical-align the svg element with the text.
        transform: translateY(1px);
      }

      .warningText {
        flex: 1 1 0;
        min-width: 0;
      }
    }
  }

  .bannerContainer {
    width: 500px;
    bottom: $space-m;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    position: fixed;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }

    &:hover {
      opacity: 1;
    }

    .bannerText {
      @include font-body-xxs;
      color: $gray-dark;
      background: $white;
      border-radius: $border-radius-m;
      box-shadow: $box-shadow-m;
      cursor: default;
      display: inline-block;
      margin: $space-s auto auto;
      padding: $space-xxs $space-s;
      text-align: center;
    }

    .removeIcon {
      cursor: pointer;
      height: 8px;
      margin-left: $space-xs;
    }
  }
}
