@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.samplesHeatmapVis {
  .plusMinusControl {
    position: absolute;
    // Offset from the viewport to line up with the filter controls. This will
    // need to be adjusted if the position of the controls changes.
    top: 360px;
    right: 40px;
    box-shadow: $box-shadow-dropdown-menu;

    background-color: white;
    svg:hover {
      background-color: darken(white, 5%);
    }
  }

  .heatmapContainer {
    overflow-x: auto;
    // Set the height to force the horizontal scrollbar to appear at the bottom
    // of the viewport instead of the bottom of the page. 334px is the height
    // of the all the elements above the heatmapContainer. It *will* need to
    // change if the height of the elements above ever change.
    // TODO(mark): Use flexbox instead of hard-coding the offset.
    height: calc(100vh - 334px);

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .tooltip {
    position: absolute;
    display: none;

    &.visible {
      display: block;
    }

    .data-tooltip__label {
      min-width: 100px;
    }

    .warning {
      display: flex;

      .warningIcon {
        height: 14px;
        width: 14px;
        margin-right: 6px;
        // Vertical-align the svg element with the text.
        transform: translateY(1px);
      }

      .warningText {
        flex: 1 1 0;
        min-width: 0;
      }
    }
  }
}
