@import "~styles/themes/colors";
@import "~styles/typography";

.phyloTreeListView {
  .viewHeader {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .narrowContainer {
    max-width: 1280px;
    margin: 0 auto;
  }
}
