@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.samplesHeatmapVis {
  .plusMinusControl {
    z-index: 1;
    position: absolute;
    // Offset from the viewport to line up with the filter controls. This will
    // need to be adjusted if the position of the controls changes.
    top: 360px;
    right: 40px;
    box-shadow: $box-shadow-dropdown-menu;

    background-color: white;
    svg:hover {
      background-color: darken(white, 5%);
    }
  }

  .heatmapContainer {
    overflow: hidden;
    // Set the height to the entire viewport; the heatmap will take up the entire page
    // if the user scrolls to hide the filter controls.
    height: 100vh;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .tooltip {
    position: absolute;
    display: none;

    &.visible {
      display: block;
    }

    .data-tooltip__label {
      min-width: 100px;
    }

    .warning {
      display: flex;

      .warningIcon {
        height: 14px;
        width: 14px;
        margin-right: 6px;
        // Vertical-align the svg element with the text.
        transform: translateY(1px);
      }

      .warningText {
        flex: 1 1 0;
        min-width: 0;
      }
    }
  }
}
