@import "~styles/typography";
@import "~styles/themes/colors";

.content {
  margin: 30px 20px;
  position: relative;
}

.title {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  margin: 0 10px;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
  width: 20px;
  height: 20px;

  &:hover {
    opacity: 1;
  }
}

.field {
  padding: 15px 0;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: $off-white;
  }

  .label {
    font-weight: bold;
    width: 160px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 10px;
  }

  .input {
    flex: 1 1 0;
    min-width: 0;
  }

  .metadataValue {
    color: $dark-grey;
  }

  .emptyValue {
    color: $light-grey;
  }

  .projectLink {
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }
}
