@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.tooltip {
  text-align: left;
  font-size: $font-size;

  .title {
    font-weight: bold;
    margin-right: $space-xxs;
  }

  .link {
    margin-left: $space-xxs;
    // override link color `inherit !important` in _header.scss
    color: $primary-lighter !important;
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .ul {
    padding-left: 0;
    margin-top: $space-s;
    margin-bottom: 0;

    .li {
      list-style: disc inside none;
      margin-bottom: $space-xxxs;
    }
  }
}
