@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.tooltip {
  @include font-body-xs;
  text-align: left;

  .title {
    font-weight: bold;
    margin-right: $space-xs;
  }
}
