@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.tooltip {
  text-align: left;
  font-size: $font-size;

  .title {
    font-weight: bold;
    margin-right: $space-xs;
  }

  .link {
    margin-left: $space-xs;
    // override link color `inherit !important` in _header.scss
    color: $primary !important;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
