@import "~styles/themes/colors";

.dataTooltip {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 8pt;
  height: auto;
  min-width: 200px;
  padding: 10px;
  pointer-events: none;

  &Title {
    border-bottom: 1px solid $lightest-grey;
    color: $medium-grey;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &Subtitle {
    font-weight: 700;
  }

  &SectionName {
    border-bottom: 1px solid $lightest-grey;
    color: $medium-grey;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &Section {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &ValuePair {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &Label {
    font-weight: 700;
    float: left;
    margin-right: 10px;
  }

  &Value {
    float: right;
  }
}
