@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.dataTooltip {
  @include font-body-xxs;
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: $border-radius-m;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  min-width: 200px;
  max-width: 400px;
  padding: 10px;
  pointer-events: none;

  &Title {
    @include font-label-xs;
    border-bottom: 1px solid $gray-lightest;
    color: $gray-dark;
    margin-bottom: 10px;
  }

  &Subtitle {
    @include font-body-xxs;
    margin-bottom: 15px;
  }

  &SectionName {
    @include font-label-xs;
    border-bottom: 1px solid $gray-lightest;
    color: $gray-dark;
    margin-bottom: 10px;
  }

  &Section {
    &:not(:first-child) {
      margin-top: 20px;
    }

    &.disabled {
      color: $gray-light;

      .dataTooltipSectionName {
        color: $gray-light;
      }
    }
  }

  &ValuePair {
    display: flex;
  }

  &Label {
    @include font-header-xxs;
    margin-right: 10px;
    width: 160px;
    flex-shrink: 0;
  }

  &Value {
    flex: 1 1 0;
    word-break: break-all;
  }
}
