.modal {
  padding: 40px;
  max-height: 70vh;
  left: auto;
  right: auto;

  .closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &.narrow {
    width: 600px;
  }

  &.narrowest {
    width: 400px;
  }

  &.tall {
    /* Overwrite semantic ui */
    max-height: 85vh !important;
  }

  &.fixedHeight {
    :global(.content) {
      height: calc(70vh - 80px);
    }
  }

  :global(.content) {
    /* Overwrite semantic ui */
    padding: 0 !important;
  }
}
