@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.table {
  @include font-body-xxs;
  background-color: $white;
  border-radius: $border-radius-m;
  border: $border-gray-light;
  box-shadow: $box-shadow-m;
  pointer-events: none;
  padding: 0 $space-m;

  .title {
    @include font-caps-xxxxs;
    border-bottom: $border-gray-lightest;
    color: $gray-dark;
    margin-bottom: $space-m;
  }

  .subtitle {
    @include font-body-xxs;
    padding-top: $space-l;
  }

  .description {
    @include font-body-xxs;
    color: $gray-dark;
    margin-top: $space-s;
    margin-bottom: $space-l;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin: $space-l 0;

    &:not(:first-child) {
      border-top: $border-gray-lightest;
      padding-top: $space-l;
    }

    &.disabled {
      color: $gray-light;
    }

    .name {
      @include font-caps-xxxxs;
      color: $gray-dark;
      margin-bottom: $space-m;

      &.disabled {
        color: $gray-light;
      }
    }

    .data {
      display: flex;
      flex-direction: column;

      .dataRow {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;

        .label {
          @include font-header-xs;
          width: auto;
          margin-right: $space-l;
          flex-grow: 1;
        }

        .compact {
          width: auto;
        }

        .value {
          @include font-body-xs;
          text-align: right;
          flex-grow: 1;
        }
      }
    }
  }
}
