@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

:global(.ui):global(.popup) {
  &.annotationPopup {
    @include font-header-xs;
  }

  &.annotationPreviewPopup {
    @include font-body-xs;
  }
}

.annotationIcon {
  &:hover {
    cursor: pointer;
  }
}

.annotationIconLarge {
  height: $sds-icon-sizes-s-height;
  width: $sds-icon-sizes-s-height;
  vertical-align: -10%;
}

.annotationIconSmall {
  height: $sds-icon-sizes-xs-height;
  width: $sds-icon-sizes-xs-height;
  vertical-align: -4%;
}
