@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

// Use .ui to make selector higher precedence than semantic-ui.
:global(.ui) {
  &.pathogenLabel {
    margin-left: $sds-spaces-m;

    &:first-child {
      margin-left: $sds-spaces-m;
    }

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 9px;
  }

  &.newPathogenLabel {
    @include font-body-xxxs;
    padding: $sds-spaces-xxxs $sds-spaces-xs;

    &:first-child {
      margin-left: $sds-spaces-m;
    }

    &:global(.red.label) {
      background-color: $sds-color-error-600 !important;
      border-color: $sds-color-error-600 !important;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
