@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.statusLabel {
  @include font-label-xxs;
  line-height: 9px;
  border-radius: 13px;
  margin-left: $space-xxs;
  padding: $space-xxxs $space-xxs;

  &.default {
    background-color: $lightest-grey;
    color: $medium-grey;
  }

  &.success {
    background-color: $success-bg;
    color: $success;
  }

  &.error {
    background-color: $error-bg;
    color: $error;
  }

  &.info {
    background-color: $info-bg;
    color: $info;
  }

  &.warning {
    background-color: $warning-bg;
    color: $warning;
  }

  &.inline {
    display: inline-block;
  }
}
