@import "~styles/themes/typography";
@import "~czifui/dist/variables";

.expandLink {
  @include font-body-s;
  color: $sds-color-primary-400;
  margin: $sds-spaces-m 0 0 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

.textSynonym {
  @include font-header-xxs;
}

.text {
  @include font-body-s;
}
