@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.metadataUploadModal {
  min-height: 500px;

  .projectName {
    font-weight: 600;
  }
}

.tableContainer {
  overflow: auto;
  max-height: 300px;
}

.uploadPage {
  .link {
    // Overwrite <a> inherit rule in header.scss
    color: $primary !important;
    cursor: pointer;
  }
}

.uploadInstructions {
  .backButton {
    color: $primary;
    letter-spacing: 0.4px;
    font-size: 13px;
    cursor: pointer;
  }

  .title {
    font-size: 22px;
    letter-spacing: 0.4px;
    line-height: 30px;
  }

  .sectionTitle {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
  }

  .section {
    padding-left: 16px;
    line-height: 25px;

    li {
      padding-left: $sds-spaces-xxxs;
    }

    .link {
      // Overwrite <a> inherit rule in header.scss
      color: $primary !important;
      cursor: pointer;
    }
  }

  &.standalone {
    margin-top: 50px;
  }
}
