@import "../../themes/colors";

.data-tooltip {
  background-color: white;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 8pt;
  height: auto;
  min-width: 200px;
  padding: 10px;
  pointer-events: none;

  &__title {
    border-bottom: 1px solid $lightest-grey;
    color: $medium-grey;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 700;
  }

  &__section-name {
    border-bottom: 1px solid $lightest-grey;
    color: $medium-grey;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__section {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__value-pair {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__label {
    font-weight: 700;
    float: left;
    margin-right: 10px;
  }

  &__value {
    float: right;
  }
}
