@import "../../themes/colors";

.idseq-ui.modal {
  left: auto;
  right: auto;
  padding: 40px;

  .close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;

    .icon.remove {
      height: 16px;
      width: 16px;

      path {
        fill: $medium-grey;
      }
    }
  }
}
