@import "../../themes/colors.scss";

.wizard {
  font-size: 13px;

  // TODO: overrides home.scss, remove after refactoring
  table thead {
    th,
    td {
      font-size: 12px;
    }
  }

  &__header {
    display: block;
    margin-bottom: 10px;
    width: 100%;

    &__title {
      font-size: 22px;
      letter-spacing: 0.4px;
      line-height: 30px;
      vertical-align: middle;
    }

    &__page {
      color: $light-grey;
      letter-spacing: 0.4px;
    }
  }

  &__page_wrapper {
    // Leave space for the nav at the bottom.
    padding-bottom: 50px;
  }

  &__nav {
    // The nav should always at the bottom of the Wizard's parent container.
    position: fixed;
    bottom: 40px;
    align-items: center;
    display: flex;

    button:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__action {
    cursor: pointer;
  }
}
