@import "~styles/themes/colors";
@import "~styles/typography";

.metadataSection {
  .title {
    color: $black;
    font-weight: 600;
    letter-spacing: 1.45px;
    font-size: $font-size-body;
    text-transform: uppercase;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
  }

  .editLink {
    color: $light-grey;
    text-decoration: underline;
    font-size: $font-size-small;
    display: none;
    cursor: pointer;

    &.show {
      display: block;
    }

    &:hover {
      color: $black;
    }
  }

  .status {
    color: $light-grey;
    font-size: $font-size-small;
    margin-top: 1px;
  }

  .controls {
    text-align: right;
    margin-top: 15px;
  }
}

.metadataSection:hover {
  .editLink {
    display: block;
  }
}
