@import "~styles/themes/colors";
@import "~styles/typography";
@import "~styles/themes/typography";

.metadataSection {
  .title {
    @include font-header-tall-section-title;
  }

  .editLink {
    color: $light-grey;
    text-decoration: underline;
    font-size: $font-size-small;
    display: none;
    cursor: pointer;

    &.show {
      display: block;
    }

    &:hover {
      color: $black;
    }
  }

  .status {
    color: $light-grey;
    font-size: $font-size-small;
    margin-top: 1px;
  }

  .controls {
    text-align: right;
    margin-top: 15px;
  }
}

.metadataSection:hover {
  .editLink {
    display: block;
  }
}
