@import "~styles/typography";
@import "~styles/themes/colors";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  margin: 0 10px;
  margin-right: 60px;
  word-break: break-all;
  line-height: 1.4em;
}

.tabs {
  margin: 30px 10px;
}

// See also discovery_sidebar.scss
.field {
  padding: 10px 0;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: $off-white;
  }

  .label {
    font-weight: 600;
    width: 160px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 10px;
  }

  .input {
    flex: 1 1 0;
    min-width: 0;
  }

  .metadataValue {
    color: $dark-grey;
    word-break: break-all;
  }

  .emptyValue {
    color: $light-grey;
  }

  .projectLink {
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }
}

.reportLink {
  margin: 5px 10px;

  a {
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }
}

.erccScatterplotSection {
  .graphContainer {
    margin-top: 20px;
    margin-right: 10px;
  }
}

.downloadSectionContent {
  padding-top: 5px;

  .downloadLink {
    padding: 5px 10px;
    display: block;
    margin: 5px 0;
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      opacity: 0.5;
    }
  }
}

.notesSection {
  .note {
    font-size: $font-size-body;
    line-height: 23px;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 15px 10px;
  }

  .noData {
    color: $light-grey;
    margin: 20px 10px;
  }

  .textareaContainer {
    margin: 15px 10px 0 10px;
  }

  .textarea {
    height: 600px;
    resize: vertical;
  }
}
