@import "~styles/typography";
@import "~styles/themes/typography";
@import "~styles/themes/colors";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  margin: 0 10px;
  margin-right: 60px;
  word-break: break-all;
  line-height: 1.4em;
}

.tabs {
  margin: 30px 10px;
}

.noData {
  color: $light-grey;
  margin-left: 10px;
}

.pipelineInfoFields,
.metadataFields {
  .inputWrapper,
  .sampleNameInput {
    flex: 1 1 0;
    min-width: 0;

    .metadataInput {
      width: 100%;

      :global(.ui):global(.input) {
        width: 100%;
      }
    }

    .error {
      @include font-body-xxs;
      color: $error;
      margin-top: 5px;
    }
  }

  .metadataValue {
    color: $dark-grey;
    word-break: break-all;
  }

  .emptyValue {
    color: $light-grey;
    font-weight: $font-weight-regular;
  }

  .projectLink {
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }

  .vizLink {
    @include font-header-xxs;
    // Override color: inherit in _header.scss.
    color: $primary-light !important;
    margin-left: 15px;

    .rightArrow {
      font-size: 0.75em;
      margin-left: 4px;
    }
  }
}

.readsRemainingRow {
  padding: 10px 0;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: $off-white;
  }

  .label {
    font-weight: $font-weight-semibold;
    width: 160px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 10px;

    .labelText {
      width: 120px;
      &:hover {
        color: $primary-light;
        cursor: default;
      }
    }

    .header {
      color: $medium-grey;
    }
  }

  .narrowMetadataValueContainer {
    width: 100px;
    margin-right: 15px;
    display: inline-flex;
    text-align: right;
    justify-content: flex-end;

    .labelText {
      font-weight: $font-weight-semibold;
      color: $medium-grey;
    }
  }

  .metadataValue {
    color: $dark-grey;
    word-break: break-all;
  }
}

.reportLink {
  margin: 5px 10px;

  a {
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }
}

.erccScatterplotSection {
  .graphContainer {
    margin-top: 20px;
    margin-right: 10px;
  }
}

.downloadSectionContent {
  padding-top: 5px;

  .downloadLink {
    padding: 5px 10px;
    display: block;
    margin: 5px 0;
    /* overwrite header.scss */
    color: $primary-light !important;

    &:hover {
      opacity: 0.5;
    }
  }
}

.notesSection {
  .note {
    font-size: $font-size-body;
    line-height: 23px;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 15px 10px;
  }

  .noData {
    color: $light-grey;
    margin: 20px 10px;
  }

  .textareaContainer {
    margin: 15px 10px 0 10px;
  }

  .textarea {
    height: 600px;
    resize: vertical;
  }
}
