@import "~styles/typography";
@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.content {
  padding: 30px 20px;
  position: relative;
}

.title,
.loadingMsg {
  @include font-header-xl;
  margin: 0 $sds-spaces-m;
  margin-right: 60px;
  word-break: break-all;
  line-height: 1.4em;
}

.tabs {
  margin: 30px $sds-spaces-m $sds-spaces-l;
}

.workflowTabs {
  margin: 0 $sds-spaces-m;
}

.tabLabels {
  @include font-header-xs;
  color: $gray-dark;
  margin-right: 30px;
  cursor: pointer;
}

.dropdownContainer {
  width: 340px;
  margin: $sds-spaces-l $sds-spaces-m $sds-spaces-xl;
}

.noData {
  color: $gray-light;
  margin-left: $sds-spaces-m;
}

.loading {
  @include font-body-s;
  padding: 0 0 0 $sds-spaces-default;
  color: $gray-dark;
  display: inline-block;

  .loadingIcon {
    fill: $gray-dark;
    width: $icon-s;
    height: $icon-s;
    vertical-align: -0.1em;
  }
}

.pipelineInfoFields,
.metadataFields {
  .inputWrapper,
  .sampleNameInput {
    flex: 1 1 0;
    min-width: 0;

    .metadataInput {
      width: 100%;

      :global(.ui):global(.input) {
        width: 100%;
      }
    }

    :global(.warning) {
      margin-bottom: $sds-spaces-s;
    }

    .error {
      @include font-body-xxs;
      color: $error-medium;
      margin-top: 5px;
    }
  }

  .metadataValue {
    color: $gray-dark;
    word-break: break-all;
  }

  .emptyValue {
    color: $gray-light;
    font-weight: $font-weight-regular;
  }

  .projectLink {
    /* overwrite header.scss */
    color: $primary !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }

  .vizLink {
    @include font-header-xxs;
    // Override color: inherit in _header.scss.
    color: $primary !important;
    margin-left: 15px;

    .rightArrow {
      font-size: 0.75em;
      margin-left: $sds-spaces-xxs;
    }
  }
}

.readsRemainingRow {
  padding: $sds-spaces-m 0;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: $gray-off-white;
  }

  .label {
    font-weight: $font-weight-semibold;
    width: 160px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: $sds-spaces-m;

    .labelText {
      width: 120px;
      &:hover {
        color: $primary;
        cursor: default;
      }
    }

    .header {
      color: $gray-dark;
    }
  }

  .narrowMetadataValueContainer {
    width: 140px; // to fit largest plausible numbers
    margin-right: 15px;
    display: inline-flex;
    text-align: right;
    justify-content: flex-end;

    .labelText {
      font-weight: $font-weight-semibold;
      color: $gray-dark;
    }
  }

  .metadataValue {
    color: $gray-dark;
    word-break: break-all;
  }
}

.reportLink {
  margin: 5px $sds-spaces-m;

  a {
    /* overwrite header.scss */
    color: $primary !important;

    &:hover {
      /* overwrite header.scss */
      opacity: 0.5;
    }
  }
}

.erccScatterplotSection {
  .graphContainer {
    margin-top: 20px;
    margin-right: $sds-spaces-m;
  }
}

.downloadSectionContent {
  padding-top: 5px;

  .downloadLink {
    padding: 5px $sds-spaces-m;
    display: block;
    margin: 5px 0;
    /* overwrite header.scss */
    color: $primary !important;

    &:hover {
      opacity: 0.5;
    }
  }
}

.notesSection {
  .note {
    font-size: $font-size-body;
    line-height: 23px;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 15px $sds-spaces-m;
  }

  .noData {
    color: $gray-light;
    margin: 20px $sds-spaces-m;
  }

  .textareaContainer {
    margin: 15px $sds-spaces-m 0 $sds-spaces-m;
  }

  .textarea {
    height: 600px;
    resize: vertical;
    width: 100%;
  }
}
