<h1>Editing Background</h1>

<%= render 'form', background: @background %>

<%= link_to 'Show background', @background %> |
<%= link_to 'See all backgrounds', backgrounds_path %> |
<%= link_to 'Front portal', root_path %>
