@import "~styles/themes/colors";
@import "~styles/themes/typography";

.header {
  color: $medium-grey;
  font-size: $font-size-h6;
  font-weight: $font-weight-regular;
  line-height: 20px;
  outline: 0;
  text-align: center;
  text-transform: none;
}

.cell {
  color: $darkest-grey;
  font-size: $font-size-h6;
  font-weight: $font-weight-regular;
  line-height: 20px;
  text-align: center;
}

.row {
  &:global(.ReactVirtualized__Table__headerRow) {
    border-bottom: 4px solid $off-white;
  }

  &:global(.ReactVirtualized__Table__row) {
    border-bottom: 1px solid $lightest-grey;

    &:hover {
      background-color: $off-white-blue;
    }
  }
}

.grid {
  outline: none;
}
