@import "~styles/themes/colors";
@import "~styles/themes/typography";

.tableContainer {
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
}

.columnSelectorContainer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 20px;

  .plusDropdown {
    margin: 0;
  }

  .plusIcon {
    padding-top: 8px;
    width: 14px;
    fill: $medium-grey;
  }
}

.header {
  @include font-body-s;

  align-self: center;
  color: $medium-grey;
  font-weight: $font-weight-semibold;
  outline: 0;
  text-align: center;
  text-transform: none;

  .tooltipText {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
}

.actionsHeader {
  overflow: visible;
}

.cell {
  @include font-body-xs;

  color: $darkest-grey;
  font-weight: $font-weight-semibold;
  text-align: center;
  overflow: hidden;
}

.row {
  &:global(.ReactVirtualized__Table__headerRow) {
    border-bottom: 4px solid $off-white;
  }

  &:global(.ReactVirtualized__Table__row) {
    border-bottom: 1px solid $lightest-grey;

    &:hover {
      background-color: $off-white-blue;
    }

    &:focus {
      outline: none;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}

.grid {
  outline: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }
}
