@import "~styles/themes/colors";
@import "~styles/themes/typography";

.tableContainer {
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}

.columnSelector {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  display: flex;
  align-content: center;
  justify-content: center;

  .plusIcon {
    flex: 1 0 auto;
    width: 14px;
    fill: $medium-grey;
    vertical-align: center;

    &:hover {
      fill: $primary-light;
    }
  }
}

.header {
  @include font-body-s;

  align-self: center;
  color: $medium-grey;
  font-weight: $font-weight-semibold;
  outline: 0;
  text-transform: none;
  align-items: center;
  justify-content: center;
  text-align: center;

  .sortableHeader {
    max-width: 100%;
    display: flex;
    flex: 1 0 auto;
    align-items: inherit;
    justify-content: inherit;

    .label {
      // Shrink once you're at the maximum width (e.g. don't overflow). Do not grow unless needed.
      flex: 0 1 auto;
      min-width: 0;

      &:hover {
        color: $black;
        cursor: pointer;
      }
    }

    .sortIcon {
      // Make the sort icon slightly bigger than the text.
      font-size: 1.2em;
      margin-left: 4px;

      &.active {
        display: flex;
      }
    }
    // Display sortIcon when sortableHeader label is hovered over
    .label:hover + .sortIcon {
      display: flex;
    }
  }

  .label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      color: $black;
      cursor: default;
    }
  }
}

.actionsHeader {
  overflow: visible;
}

.cell {
  @include font-body-xs;

  color: $black;
  font-weight: $font-weight-semibold;
  text-align: center;
  overflow: hidden;
}

.row {
  &:global(.ReactVirtualized__Table__headerRow) {
    border-bottom: 3px solid $lightest-grey;
  }

  &:global(.ReactVirtualized__Table__row) {
    border-bottom: 1px solid $lightest-grey;

    &:hover {
      background-color: $off-white-blue;
    }

    &:focus {
      outline: none;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}

.grid {
  outline: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }
}

.selectableColumnClassName {
  .selectableCell {
    position: absolute;
    overflow: visible;
    height: 66px;
    width: 50px;
    margin: -11px -10px -10px -10px;
    padding-left: 0px;
    justify-content: center;
  }
}
