@import "~styles/themes/colors";
@import "~styles/themes/elements";

.loading {
  .cellContent {
    @include loadingAnimation;

    height: 12px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .numberValueAndPercentage {
    .value {
      @include loadingAnimation;

      background-clip: content-box;
      height: 16px;
      padding: 2px 15%;
    }

    .percentage {
      @include loadingAnimation;

      background-clip: content-box;
      height: 15px;
      padding: 2px 20%;
    }
  }

  .sample {
    .publicAccess {
      @include loadingAnimation;

      height: 36px;
      width: 36px;
    }

    .sampleRightPane {
      .sampleNameAndStatus {
        @include loadingAnimation;

        background-clip: content-box;
        padding: 4px 0;
        height: 20px;
        width: 365px;
      }

      .sampleDetails {
        @include loadingAnimation;

        background-clip: content-box;
        padding: 4px 0;
        height: 17px;
        width: 315px;
      }
    }
  }
}
