@import "~czifui/dist/variables";

// Select all elements with contigsColumnGroup class inside of styledTableRow
// Give them all a left border
.styledTableRow > .contigsColumnGroup {
  border-left: $sds-borders-gray-300;
}

// Select all elements with contigsColumnGroup class inside of styledTableRow
// except for the first one
// Remove the border
.styledTableRow > .contigsColumnGroup ~ .contigsColumnGroup {
  border-left: none;
}

// Select all elements with readsColumnGroup class inside of styledTableRow
// Give them all a left border
.styledTableRow > .readsColumnGroup {
  border-left: $sds-borders-gray-300;
}

// Select all elements with readsColumnGroup class inside of styledTableRow
// except for the first one
// Remove the border
.styledTableRow > .readsColumnGroup ~ .readsColumnGroup {
  border-left: none;
}

// Styles for all styleTableRow elements
.styledTableRow {
  &:hover {
    background-color: $sds-color-gray-100;
  }
  th {
    border-bottom: $sds-borders-gray-300;
    min-width: unset;
  }
}
