@import "~styles/themes/colors";
@import "~styles/themes/elements";

.sign-in {
  margin-top: 0.4rem;
  margin-right: 0.75rem;
}

.alert-browser-support {
  color: $gray-dark;
  margin-right: 0.75rem;
  margin-top: 15px;

  .browser-name {
    font-weight: 700;
  }

  @media only screen and (max-width: 748px) {
    color: $gray-dark;
  }
}
