@import "~styles/themes/colors";
@import "~styles/themes/elements";

.sign-in {
  margin-top: 0.4rem;
  margin-right: 0.75rem;
}

.alert-browser-support {
  color: $gray-dark;
  margin-right: 0.75rem;
  margin-top: 15px;

  .browser-name {
    font-weight: 700;
  }

  @media only screen and (max-width: 748px) {
    color: $gray-dark;
  }
}

.first-block {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .top-title {
    font-size: 2.3rem;
    line-height: 3.2rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-right: 2.2rem;
    max-width: 70rem;
  }

  .account-form {
    box-shadow: $box-shadow-m;
    border-radius: $border-radius-m;
    border: 0.1rem solid $gray-lightest;

    .form-header {
      margin: 2rem 2rem 1rem 2rem;

      .form-title {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .form-description {
        margin-top: 0.7rem;
      }

      a {
        color: $primary !important;
      }
    }

    .form {
      margin: 0 2rem 2rem 2rem;

      .field {
        margin-top: 1.5rem;

        input {
          max-height: 1.5rem;
        }

        input:focus {
          border-color: $primary;
        }

        textarea {
          min-height: 10rem;
        }

        textarea:focus {
          border-color: $primary;
        }

        .optional {
          color: $gray-light;
          font-weight: normal;
          font-size: 0.8rem;
          margin-left: 0.5rem;
        }
      }

      .submit-button {
        margin: 2rem auto auto auto;
        width: 9rem;

        .button {
          width: 9rem;
        }
      }
    }
  }
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 0.1rem solid $gray-off-white;
}

.bulletin-banner {
  background: $primary;
  color: $white;
  text-align: center;
  padding: 4rem 0;

  .bulletin-title {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
  }

  .bulletin-description {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  .button.transparent-btn {
    margin-top: 2rem;
    height: 2.5rem;

    &:hover,
    &:active,
    &:focus {
      background: $white;
      border: 1px solid $white;
      color: $black;
    }
  }
}

.partners-block {
  width: 30rem;
  margin: 5rem auto 5rem auto;

  .partner-title {
    text-align: center;
    letter-spacing: 0.07rem;
    font-weight: 600;
    color: $gray-dark;
    font-size: 0.8rem;
  }

  .partner-logos {
    margin-top: 1rem;
    margin-right: 2rem;

    .first-logo {
      width: 8rem;
      margin-left: 4.6rem;
    }

    .second-logo {
      width: 11rem;
      margin-top: 0.3rem;
      margin-left: 0.7rem;
    }
  }
}
