@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~@czi-sds/components/dist/variables";

.playground {
  .playground-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: $sds-spaces-m;
    margin: $sds-spaces-m;

    .component-card {
      border: $sds-borders-gray-200;
      padding: $sds-spaces-m;
      float: left;

      .component {
        padding-top: $sds-spaces-m;
        text-align: center;
      }

      .title {
        border-bottom: 1px solid $gray-lightest;
        padding: $sds-spaces-m;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  .playground-console {
    padding: $sds-spaces-m;

    .playground-console-label {
      font-weight: 700;
      margin-right: 20px;
    }
  }
}
