@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";
@import "~ui/controls/buttons/error_button.scss";

.sampleDeletionConfirmation {
  .title {
    @include font-header-xl;
    color: $sds-color-gray-black;
  }

  .text {
    @include font-body-s;
    margin-top: $sds-spaces-s;
    margin-bottom: 28px;
    color: $sds-color-gray-600;
  }

  .actions {
    margin-top: $sds-spaces-m;
    display: flex;

    .item {
      &:not(:first-child) {
        margin-left: 5px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
