@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.listContainer {
  margin-bottom: $sds-spaces-xs;
  &.error {
    border-color: $error-medium;
    background-color: $error-off-white;
  }

  &.warning {
    border-color: $warning-medium;
    background-color: $warning-off-white;
  }

  &.info {
    border-color: $info-medium;
    background-color: $info-off-white;
  }

  &.success {
    border-color: $success-medium;
    background-color: $success-off-white;
  }
}

.notificationContainer {
  @include font-body-xxs;
  margin: $sds-spaces-xs 0;
}

.messageContainer {
  max-height: 150px;
  overflow: auto;
  margin-top: $sds-spaces-l;
  word-break: break-word;
}
