@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.listContainer {
  margin-bottom: $space-s;

  &.error {
    background-color: $error-bg;
  }

  &.warn {
    background-color: $warning-bg;
  }

  &.info {
    background-color: $info-bg;
  }

  &.success {
    background-color: $success-bg;
  }
}

.notificationContainer {
  @include font-body-xxs;
  margin: $space-xxs 0;
}
