@import "~styles/themes/colors";
@import "~styles/themes/typography";

.issueGroup {
  border-bottom: none !important;

  &.warning {
    background-color: $warning-bg;

    tbody {
      tr:nth-child(odd) {
        background-color: $warning-dark;
      }
    }
  }

  &.error {
    background-color: $error-bg;

    tbody {
      tr:nth-child(odd) {
        background-color: $error-dark;
      }
    }
  }

  &.info {
    background-color: $info-bg;

    tbody {
      tr:nth-child(odd) {
        background-color: $info-dark;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  @include font-header-xs;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    &.warning {
      fill: $warning;
    }

    &.error {
      fill: $error;
    }

    &.info {
      fill: $info;
    }
  }
}

.tableContainer {
  margin: 0 40px;
  padding-bottom: 20px;

  td {
    border-bottom: none !important;
  }

  thead {
    border-bottom: none;
  }

  th {
    color: $darkest-grey;
  }

  &.limited {
    max-height: 100px;
    overflow: auto;
    @include font-body-xs;
  }
}
