@import "~styles/themes/colors";

.issueGroup {
  border-bottom: none !important;

  &.warning {
    background-color: $warning-off-white;

    tbody {
      tr:nth-child(odd) {
        background-color: $warning-light;
      }
    }
  }

  &.error {
    background-color: $error-off-white;

    tbody {
      tr:nth-child(odd) {
        background-color: $error-light;
      }
    }
  }

  &.info {
    background-color: $info-off-white;

    tbody {
      tr:nth-child(odd) {
        background-color: $info-light;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    &.warning {
      fill: $warning-medium;
    }

    &.error {
      fill: $error-medium;
    }

    &.info {
      fill: $info-medium;
    }
  }
}

.tableContainer {
  margin: 0 40px;
  padding-bottom: 20px;

  td {
    border-bottom: none !important;
  }

  thead {
    border-bottom: none;
  }

  th {
    color: $gray-darkest;
  }
}
