@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.listNotification {
  .accordion {
    background-color: $transparent-lightest-grey;
    border-radius: 5px;
    margin-top: $space-s;

    .title {
      @include font-header-node-l;
      padding: $space-s;
    }

    .content {
      max-height: 300px;
      max-width: 340px;
      overflow: auto;

      .listItem {
        line-height: 22px;
        padding: 10px;

        &:nth-child(odd) {
          background-color: $transparent-lightest-grey;
        }
      }
    }
  }

  .accordionIcon {
    font-size: 20px;
  }
}
