@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.notification {
  border-left: 5px solid $black;
  border-radius: 5px;
  box-shadow: $box-shadow-bottom-right;
  color: $black;
  display: flex;
  font-family: $font-family-default;
  font-size: $font-size;
  padding: 14px 14px 14px 9px;

  &.flat {
    border: 0;
    box-shadow: none;
    padding: 9px;
  }

  .icon {
    flex-grow: 0;
    margin-right: $space-m;
    height: 20px;

    svg {
      width: 20px;
    }

    .successIcon {
      font-size: 16px;
      color: $success;
    }
  }

  .content {
    // Helps to center single-line text vertically.
    margin-top: 1px;
  }

  .actions {
    @include font-caps-xxs;
    font-weight: 600;
    margin-top: 14px;
  }

  &.error {
    border-color: $error;
    background-color: $error-bg;

    .icon {
      fill: $error;
    }
  }

  &.warn {
    border-color: $warning;
    background-color: $warning-bg;

    .icon {
      fill: $warning;
    }
  }

  &.info {
    border-color: $info;
    background-color: $info-bg;

    .icon {
      fill: $info;
    }
  }

  &.success {
    border-color: $success;
    background-color: $success-bg;

    .icon {
      fill: $success;
    }
  }
}
