@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.notification {
  border-left: 5px solid $black;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-s;
  color: $black;
  display: flex;
  font-family: $font-family-default;
  font-size: $font-size;
  padding: 14px 14px 14px 9px;

  &.flat {
    border: 0;
    box-shadow: none;
    padding: 9px;
  }

  .icon {
    flex-grow: 0;
    margin-right: $space-l;
    height: 20px;

    svg {
      width: 20px;
    }

    .successIcon {
      font-size: 16px;
      color: $success-medium;
    }
  }

  .content {
    // Helps to center single-line text vertically.
    margin-top: 1px;
  }

  .actions {
    @include font-caps-xxs;
    font-weight: 600;
    margin-top: 14px;
  }

  &.error {
    border-color: $error-medium;
    background-color: $error-off-white;
  }

  &.warning {
    border-color: $warning-medium;
    background-color: $warning-off-white;
  }

  &.info {
    border-color: $info-medium;
    background-color: $info-off-white;

    .icon {
      fill: $info-medium;
    }
  }

  &.success {
    border-color: $success-medium;
    background-color: $success-off-white;

    .icon {
      fill: $success-medium;
    }
  }
}
