@import "../../../themes/colors";
@import "../../../themes/typography";

.idseq-ui.button.primary {
  border: 1px solid $primary;
  background-color: $primary;
  color: $white;
  margin-right: 0;

  .icon-label {
    position: relative;
    svg {
      fill: $white;
    }
  }

  &:hover,
  &.hover {
    border: 1px solid $primary-dark;
    background: $primary-dark;
    color: $white;
  }

  &:active,
  &.active {
    border: 1px solid $primary-darkest;
    background-color: $primary-darkest;
    color: $white;
  }

  &:focus,
  &.focus {
    border: 1px solid $primary-darkest;
    background-color: $primary-darkest;
    color: $white;
  }

  &:disabled,
  &.disabled {
    border: 0;
    background-color: $gray-light;
    color: $gray-dark;

    .icon-label {
      svg {
        fill: $gray-medium;
      }
    }
  }
}
