@import "../../../themes/colors";
@import "../../../themes/typography";

.idseq-ui.button.secondary {
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;

  .icon-label {
    svg {
      fill: $primary;
    }
  }

  &:hover,
  &.hover {
    background: $primary;
    color: $white;
  }

  &:active,
  &.active {
    border: 1px solid $primary-dark;
    background-color: $primary-dark;
    color: $white;
  }

  &:focus,
  &.focus {
    border: 1px solid $primary-dark;
    background-color: $primary-dark;
    color: $white;
  }

  &:disabled,
  &.disabled {
    border: 1px solid $gray-light;
    background-color: $gray-off-white;
    color: $gray-light;

    .icon-label {
      svg {
        fill: $gray-light;
      }
    }
  }
}
