@import "../../../themes/colors";
@import "../../../themes/typography";

.idseq-ui.button.transparent-btn {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  height: 2rem;
  min-width: 8rem;
  margin-top: 0.4rem;

  .icon-label {
    svg {
      fill: $white;
    }
  }

  &:hover {
    background-color: $white;
    border: 1px solid $white;
    opacity: 0.7;
    color: $black;
  }

  &:active {
    background-color: $light-grey;
    border: 1px solid $light-grey;
    color: $black;
  }

  &:focus {
    background-color: $light-grey;
    border: 1px solid $light-grey;
    color: $black;
  }

  &:disabled {
    border: 1px solid $medium-grey;
    background-color: $white;
    color: $medium-grey;

    .icon-label {
      svg {
        fill: $medium-grey;
      }
    }
  }
}
