@import "../../../themes/colors";
@import "../../../themes/typography";

.idseq-ui.button.transparent-btn {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  height: 2rem;
  min-width: 8rem;
  margin-top: 0.4rem;

  .icon-label {
    svg {
      fill: $white;
    }
  }

  &:hover {
    background: $primary-light;
    border: 1px solid $primary-medium;
    color: $white;
  }

  &:active,
  &:focus {
    border: 1px solid $primary-medium;
    background-color: $primary-medium;
    color: $white;
  }

  &:disabled {
    border: 1px solid $medium-grey;
    background-color: $white;
    color: $medium-grey;

    .icon-label {
      svg {
        fill: $medium-grey;
      }
    }
  }
}
