@import "~styles/themes/colors";

.circle {
  cursor: pointer;
  fill: $celery;
  fill-opacity: 0.9;

  &.hoverable {
    &:hover {
      fill: $primary-medium;
      fill-opacity: 1;
    }
  }

  &.active {
    fill: $primary-medium;
    fill-opacity: 1;
  }
}
