@import "~styles/themes/colors";

.circle {
  cursor: pointer;
  fill: $secondary;
  fill-opacity: 0.85;

  &.hoverable {
    &:hover {
      fill: $primary-dark;
      fill-opacity: 1;
    }
  }

  &.active {
    fill: $primary-dark;
    fill-opacity: 1;
  }
}
