@import "~styles/themes/colors";
@import "~styles/themes/typography";

.banner {
  @include font-body-xxs;

  background: $white;
  margin: 8px auto auto;
  padding: 8px;
  text-align: center;
  width: 60%;
  border-radius: 2px;
}
