@import "~styles/themes/colors";
@import "~styles/themes/typography";

.bannerContainer {
  text-align: center;

  .banner {
    @include font-body-xxs;

    background: $white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: default;
    display: inline-block;
    margin: 8px auto auto;
    padding: 8px;
    text-align: center;

    .clear {
      color: red;
      cursor: $primary-light;
    }
  }
}
