@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.bannerContainer {
  text-align: center;

  .banner {
    @include font-body-xxxs;

    background: $white;
    border-radius: $border-radius-m;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: default;
    display: inline-block;
    margin: 8px auto auto;
    padding: 6px 8px;
    text-align: center;

    .clearAll {
      color: $primary-light;
      cursor: pointer;
    }

    .emphasis {
      font-weight: $font-weight-semibold;
    }

    .infoIcon {
      cursor: pointer;
      fill: $dark-grey;
      height: 15px;
      margin-left: 5px;
      vertical-align: top;
    }
  }
}
