@import "~styles/themes/colors";
@import "~styles/themes/typography";

.dataTooltipContainer {
  // Stay above regular markers
  z-index: 1;

  :global(.mapboxgl-popup-content) {
    // Override some MapboxGL styling
    padding: 0;
    box-shadow: none;
    background: transparent;
  }
}
