@import "~styles/themes/colors";
@import "~styles/themes/typography";

.rectangle {
  @include font-header-s;

  cursor: pointer;
  background-color: $white;
  border-radius: 8px;
  padding: 2px 7px;
  // Center horizontal/vertical midpoints
  transform: translate(-50%, -50%);

  &.hoverable {
    &:hover {
      background-color: $primary-medium;
      color: $white;
    }
  }

  &.active {
    background-color: $primary-medium;
    color: $white;
  }
}
