@import "~styles/themes/colors";

.rectangle {
  cursor: pointer;
  background-color: $celery;
  border-radius: 8px;
  padding: 4px;

  &.hoverable {
    &:hover {
      fill: $primary-medium;
    }
  }

  &.active {
    fill: $primary-medium;
  }
}
