@import "../../../themes/colors";

.idseq-ui.ui.dropdown.button.button-dropdown {
  padding: 0;
  border-radius: 19px;

  button.button {
    border: 0;
    background: transparent;
    width: auto;
  }

  .idseq-ui.ui.button {
    margin: 0;
    padding: 6px 31px 6px 16px;
  }

  & > i.icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 6px;
    line-height: 24px;
    pointer-events: none;
    font-size: 20px;

    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }

  .item {
    background-color: $white;
    font-weight: 400;

    &:hover {
      /* Override semantic UI */
      background-color: $off-white !important;
    }
  }
}
