@import "../../../themes/colors";

.idseq-ui.ui.dropdown.button.button-dropdown {
  padding: 0;

  button.button {
    border: 0;
    background: transparent;
    width: auto;
  }

  .idseq-ui.ui.button {
    margin: 0;
    padding: 6px 31px 6px 16px;
  }

  .item {
    background-color: $white;
    font-weight: 400;
  }
}
