@import "../../../themes/colors";

// TODO(mark): Redundant with bare_dropdown.scss. Refactor.
.idseq-ui.ui.dropdown.button.button-dropdown {
  padding: 0;
  border-radius: 19px;

  button.button {
    border: 0;
    background: transparent;
    width: auto;
  }

  .idseq-ui.ui.button {
    margin: 0;
    padding: 2px 31px 4px 14px;
  }

  & > i.icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 4px;
    line-height: 24px;
    pointer-events: none;
    font-size: 20px;

    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }

  .menu {
    padding: 6px 0;
  }

  .item {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: $white;

    &:hover {
      /* Override semantic UI */
      background-color: $off-white !important;
    }
  }
}
