@import "../../../themes/colors";
@import "../../../themes/typography";

.idseq-ui.ui.dropdown.threshold {
  border: 1px solid $light-grey;
  border-radius: 19px;
  color: $black;
  letter-spacing: 0.4px;
  height: 38px;
  line-height: 24px;
  padding: 6px 16px;
  position: relative;
  width: 100%;
  font-family: $font-family-default;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;

  .item {
    font-family: $font-family-default;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
  }

  &.inner-dropdown {
    border-radius: 4px;
  }

  .label-container {
    margin-right: 10px;
  }

  .label-container-title {
    float: left;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 10px;
  }

  .label-container-count.ui.label {
    line-height: 12px;
    height: 24px;
    border-radius: 12px;
    background-color: $off-white;
    color: $primary-light;
    float: right;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }

  i.icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 24px;
    pointer-events: none;
    font-size: 20px;
    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }

  &.active {
    border: 1px solid $primary-light;
  }

  &.disabled {
    border: 1px solid $medium-grey;
    color: $medium-grey;

    .ui.label {
      color: $medium-grey;
    }
  }
}

// TODO: Redundant
.idseq-ui.ui.selection.dropdown.threshold {
  i.icon {
    margin: 0;
    padding: 0;
    right: 10px;
    top: 5px;
    line-height: 24px;
    pointer-events: none;
    font-size: 20px;
    &:before {
      font-family: FontAwesome;
      content: "\f107";
    }
  }

  &.active {
    border: 1px solid $primary-light;
    border-radius: 19px;
  }
}

.idseq-ui.ui.popup.threshold {
  padding: 6px;
  border-radius: 4px;

  .container {
    width: 400px;

    .grid {
      margin: 0px;

      .row {
        margin: 0;
        padding: 0px;

        &.threshold-buttons {
          padding-top: 10px;
        }

        .column {
          padding: 6px;

          input {
            text-align: center;
            border: 1px solid $light-grey;
            box-shadow: none;
            box-sizing: border-box;
            height: 38px;
            padding: 10px;

            &:focus {
              border: 1px solid $primary-light;
            }
          }

          .add-threshold-link {
            text-align: left;
            font-weight: 600;
          }

          .threshold-buttons-apply {
            text-align: left;
          }
        }
      }
    }
  }
}
