@import "~styles/themes/typography";
@import "~styles/themes/colors";

.xAxis {
  stroke: $gray-light;
}

.xAxisTickText,
.yAxisTickText {
  @include viz-label;
  color: $gray-dark;
  font-family: $font-family-sans-serif;
}

.yAxisTickLine,
.xAxisTickLine {
  color: $gray-light;
}

.labelX {
  font-family: $font-family-sans-serif;

  &.simple {
    color: $gray-dark;
    font-weight: $font-weight-regular;
  }
}

.labelY {
  color: $black;
  font-family: $font-family-sans-serif;

  &.large {
    @include font-body-xxs;
    font-weight: $font-weight-regular;
  }

  &.simple {
    font-weight: $font-weight-regular;
  }
}

.hoverRect {
  fill: transparent;
}
