<div id='user_edit_page'>
  <% if current_user && current_user.admin %>
    <%= javascript_tag do %>
      react_component('CreateUser', {
        selectedUser: JSON.parse('<%= raw @user.to_json %>'),
        csrf: '<%= form_authenticity_token %>',
      }, 'user_edit_page');
    <% end %>
  <% else %>
    <%= javascript_tag do %>
      react_component('ForbiddenPage', 'user_edit_page');
    <% end %>
  <% end %>
</div>
