<div id='forgot_password_page' >
  <%= javascript_tag do %>
    react_component('ForgotPassword', {
      errors: `<%= raw devise_error_messages! %>`,
      endpoint: '/users/auth0_request_password_reset',
      emailLabel: 'user[email]',
      csrf: '<%= form_authenticity_token %>'  }, 'forgot_password_page');
  <% end %>
</div>
