@import "~styles/themes/colors";
@import "~styles/themes/typography";

.sidebar {
  font-size: 12px;
  width: 300px;
  overflow-y: scroll;

  .emptyMessage {
    color: $medium-grey;
    margin: 20px;
  }
}

.metadataContainer {
  .hasBackground {
    padding: 5px 10px;

    strong {
      display: block;
      margin: 5px 0;
    }
  }

  .hasBackground:nth-child(odd) {
    background-color: $off-white;
  }

  // See SampleDetailsMode/metadata_section.scss
  .title {
    @include font-body-s;

    color: $black;
    font-weight: 600;
    letter-spacing: 1.45px;
    text-transform: uppercase;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
  }
}
.dateHistogram {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;

  .bar {
    margin: 0 1px;
    flex: 1 0;
    background-color: $medium-grey;
    cursor: pointer;
  }

  .label {
    margin: 4px 0;
    flex: 0 0;
    white-space: nowrap;
    font-size: smaller;
  }
}

.dataList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;

  dt,
  dd {
    word-break: break-word;
    min-width: 33%;
    margin: 5px 0;
    padding: 0px;
  }

  dt {
    max-width: 33%;
  }

  dd {
    padding: 0 0 0 10px;
    width: 66%;
  }

  .bar {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    margin: 0 5px;
    padding: 0 5px;
    background-color: $medium-grey;
    text-align: right;
    color: white;
  }
}
