@import "~styles/themes/colors";
@import "~styles/themes/typography";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .icon {
    fill: $primary-light;
    width: 30px;

    &.closed {
      fill: $light-grey;
    }

    &:not(:disabled) {
      &:hover {
        fill: $primary-lighter;
      }
    }
  }

  .filtersTrigger {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    margin-right: 25px;

    .filtersCounter {
      background-color: $lightest-grey;
      color: $primary-light;
      font-size: 11px;
      min-height: 18px;
      min-width: 18px;
      // Override semantic-ui
      padding: 3px !important;
      position: absolute;
      top: -5px;
      right: -12px;
      vertical-align: middle;
    }

    &.disabled {
      cursor: default;
    }
  }

  .blankFill {
    flex: 1 0 auto;
  }

  .statsTrigger {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    margin-left: 25px;
  }

  .tabs {
    flex: 1 0 auto;
    margin-top: 10px;
  }

  .searchContainer {
    margin-right: 25px;
  }
}

.popupText {
  @include font-body-xxs;

  .popupSubtitle {
    color: $medium-grey;
  }
}
