@import "~styles/themes/colors";
@import "~styles/themes/typography";

.sideBar {
  padding: 10px;
}

.dataList {
  display: flex;
  flex-flow: row wrap;

  dt {
    flex: 1 0;
  }

  dd {
    flex: 0 0;
    display: inline-block;
  }

  .bar {
    background-color: $medium-grey;
    height: 18px;
    text-align: right;
    color: white;
  }
}
