@import "~styles/themes/colors";
@import "~styles/themes/typography";

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  .headerContainer {
    flex: 0 0 auto;
    margin: 10px 20px 0 20px;
  }

  .mainContainer {
    flex: 1;
    display: flex;

    .leftPane:not(:empty) {
      border-right: 2px solid $off-white;
      flex: 0 0 auto;
      padding: 30px 20px;
      overflow-x: visible;
    }

    .centerPane {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      .viewContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 30px 20px;
      }
    }

    .rightPane:not(:empty) {
      border-left: 2px solid $off-white;
      flex: 0 0 auto;
      overflow: auto;
      padding: 30px 20px;
    }
  }
}

.hiddenPane {
  display: none;
  padding: 0;
}

.tabLabel {
  font-size: $font-size-h6;
  margin-right: 10px;
}

.tabCounter {
  color: $medium-grey;
  font-size: $font-size;
  font-weight: $font-weight-regular;
}
