@import "~styles/themes/colors";
@import "~styles/themes/typography";

.emptyStateBanner {
  height: 380px;

  .iconClassName {
    svg {
      fill: $primary-light;
      height: 150px;
      width: 150px;
    }
  }
}

.messageClassName {
  @include font-body-m;
}

.titleClassName {
  @include font-header-xl;
}

.link {
  color: $primary-light !important;
}
