@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.container {
  display: flex;
  width: 500px;
  align-items: center;
  margin: 0 auto;

  .content {
    flex: 1 0 0;
    margin-right: 0;

    .title {
      @include font-header-l;

      color: $black;
    }

    .message {
      @include font-body-s;

      color: $black;
      margin-top: $space-xxs;
    }

    .suggestion {
      @include font-header-xs;

      color: $gray-dark;
      margin-top: $space-m;
    }

    .link {
      @include font-header-xs;
      // Override color: inherit in _header.scss.
      color: $primary !important;
      display: block;
      margin-top: $space-m;

      .rightArrow {
        font-size: 0.75em;
        margin-left: $space-xs;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  .icon {
    flex: 0 0 auto;
    margin-right: $space-m;

    svg {
      height: $img-l;
      width: $img-l;
    }
  }
}
