@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.projectHeader {
  display: flex;
  margin-bottom: 20px;

  .name {
    @include font-header-xl;

    flex: 0 1 auto;
  }

  .fillIn {
    flex: 1;
  }

  .item {
    @include font-body-s;
    color: $gray-dark;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: $space-l;
    }
  }
}

.smallIcon {
  height: 16px;
  margin-right: $space-xs;
  fill: $gray-dark;

  .userIcon {
    height: 14px;
  }
}
