@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.projectHeader {
  display: flex;
  margin: $sds-spaces-xxs 0px $sds-spaces-l 0px;

  .name {
    @include font-header-xl;

    flex: 0 1 auto;
  }

  .fillIn {
    flex: 1;
  }

  .item {
    @include font-body-s;
    color: $sds-color-gray-500;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:not(:first-child) {
      margin-left: $sds-spaces-l;
    }
  }
}

.smallIcon {
  height: 16px;
  margin-right: $sds-spaces-xxxs;
  fill: $sds-color-gray-500;

  .userIcon {
    height: $icon-s;
  }
}
