@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.content {
  @include scrollable;
  // window height minus the header and toolbars
  max-height: calc(100vh - #{$header-total-height} - 172px);
  overflow: scroll;
  padding-left: $space-l;

  .notification {
    margin-bottom: $space-s;
    margin-right: $space-xl;

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }

  .statsRow {
    @include font-body-xxs;
    color: $gray-dark;
  }

  .chartsContainer {
    display: flex;
    flex-flow: row wrap;
    height: 100%;

    .halfPageChart {
      color: $black;
      padding-right: $space-xl;
      padding-bottom: $space-xl;
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
    }

    .fullPageChart {
      color: $black;
      padding-right: $space-xl;
      padding-bottom: $space-xl;
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;

      .stackedBarChart {
        margin: 0px;
      }
    }

    .histogramContainer {
      padding: $space-xl;
      border: $border-gray-light;
      border-radius: $border-radius-m;
      width: 100%;
      height: 100%;
      min-height: calc(#{$img-l} * 2.5);
      min-width: calc(#{$img-l} * 2.5);
      box-shadow: 0 2px 4px 0 $gray-light;
      display: flex;
      flex-direction: column;

      .subtitle {
        @include font-header-s;
        margin-bottom: $space-xxl;
        height: 10%;

        .message {
          @include font-body-xxs;
        }

        .information {
          @include font-body-xs;
          margin-top: $space-xxl;
          color: $gray-dark;
        }

        &.messageIncluded {
          margin-bottom: $space-xl;
        }
      }

      .d3Container {
        height: 80%;
        width: 90%;
      }
    }

    .title {
      @include font-header-l;
      margin-bottom: $space-l;
      margin-top: $space-l;
      height: max-content;
    }

    .legend {
      @include font-body-xxs;
      margin-bottom: $space-l;
    }
  }

  .infoIcon {
    margin: $space-xxxs $space-xxs 0 $space-xxs;
    height: 14px;
    width: 14px;
    fill: $gray-dark;
    vertical-align: text-top;

    &:hover {
      fill: $primary;
    }
  }

  .histogramSection {
    min-height: min-content;
    width: 100%;
  }

  .readsLostSection {
    min-height: min-content;
    width: 100%;
  }
}

.statusList {
  margin: 0 0 0 $space-l; // override list margins and move bullets inside tooltip
}

// see discovery_view.scss
.noDataBannerFlexContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  // The following before and after attributes center
  // the div on the available space, while keeping a max-height.
  &::before {
    content: "";
    flex: 1 0 auto;
    max-height: 250px;
  }

  &::after {
    content: "";
    flex: 1 0 auto;
  }

  .noDataBannerContainer {
    flex: 0 0 auto;
  }
}

.hoverTooltip {
  position: fixed;
  z-index: 1;
  transform: translateY(-100%);
}

.summaryTooltip {
  transform: translateY(-100%);
  z-index: 100;
}

.inlineLegend {
  margin: 0px;
}
