@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.content {
  @include scrollable;
  // window height minus the header and toolbars
  max-height: calc(100vh - #{$header-total-height} - 172px);
  overflow: scroll;
  padding-right: $space-l;
  padding-left: $space-l;

  .notification {
    margin-bottom: $space-s;
    margin-right: $space-xl;

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }

  .statsRow {
    @include font-body-xxs;
    color: $black;
  }

  .chartsContainer {
    display: flex;
    flex-flow: row wrap;

    .chart {
      color: $black;
      width: 50%;
      padding-right: $space-xl;
      padding-bottom: $space-xl;

      .title {
        @include font-header-l;
        margin-bottom: $space-l;
        margin-top: $space-l;
      }

      .histogramContainer {
        padding: $space-xl;
        border: $border-gray-light;
        border-radius: $border-radius-m;

        .subtitle {
          @include font-header-s;
          margin-bottom: $space-xxl;
        }
      }
    }
  }

  .infoIcon {
    margin: $space-xxxs $space-xxs 0 $space-xxs;
    height: 14px;
    width: 14px;
    fill: $gray-dark;
    vertical-align: text-top;

    &:hover {
      fill: $primary;
    }
  }
}

.statusList {
  padding-left: 0;
  margin: 0;

  .statusListItem {
    list-style: disc inside none;
    margin-bottom: $space-xxs;
  }
}

// see discovery_view.scss
.noDataBannerFlexContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  // The following before and after attributes center
  // the div on the available space, while keeping a max-height.
  &::before {
    content: "";
    flex: 1 0 auto;
    max-height: 250px;
  }

  &::after {
    content: "";
    flex: 1 0 auto;
  }

  .noDataBannerContainer {
    flex: 0 0 auto;
  }
}
