@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.item {
  text-align: left;
  display: flex;

  .visibility {
    display: flex;
    flex: 0 0 40px;
    align-items: flex-start;
    justify-items: center;
    margin-right: 12px;
  }

  .itemName {
    color: $black;
    font-weight: $font-weight-semibold;
    font-size: $font-size-h5;
    line-height: 22px;
    margin-bottom: 2px;
  }

  .itemDescription {
    @include font-body-s;
    color: $medium-grey;
    font-weight: $font-weight-regular;
    line-height: 20px;
    margin: 6px 0 8px 0;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .itemDetails {
    @include font-body-xxs;

    color: $medium-grey;
    font-weight: $font-weight-regular;

    span:not(:last-child) {
      margin-right: 8px;
    }

    span:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.dateContainer {
  .elapsed {
    @include font-body-xxs;

    font-weight: $font-weight-regular;
  }
}

.itemHeader {
  text-align: left;
}

.icon {
  fill: $primary-light;
  width: 36px;
}

.numberValueAndPercentage {
  .percentage {
    @include font-body-xxs;
    font-weight: $font-weight-regular;
  }
}

.sample {
  display: flex;

  .visibility {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 12px;

    .icon {
      fill: $primary-light;
      width: 36px;
    }
  }

  .sampleRightPane {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .sampleNameAndStatus {
      display: flex;
      align-items: center;
      margin-bottom: 1px;

      .sampleName {
        @include font-header-s;

        min-width: 0;
        text-align: left;
        color: $black;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .sampleStatus {
        margin-left: $space-xxs;
      }
    }

    .sampleDetails {
      @include font-body-xxs;

      font-weight: $font-weight-regular;
      color: $medium-grey;
      text-align: left;

      span:not(:first-child) {
        margin-left: $space-xxxs;
      }

      span:not(:last-child) {
        margin-right: $space-xxxs;
      }
    }
  }
}

.loading {
  .base {
    @include loadingAnimation;

    background-clip: content-box;
    padding: 4px 0;
    height: 20px;
  }

  .numberValueAndPercentage {
    .value {
      @include loadingAnimation;

      background-clip: content-box;
      height: 16px;
      padding: 2px 15%;
    }

    .percentage {
      @include loadingAnimation;

      background-clip: content-box;
      height: 15px;
      padding: 2px 20%;
    }
  }

  .visibility {
    @include loadingAnimation;

    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 12px;

    .icon {
      fill: $primary-light;
      width: 36px;
    }
  }

  .sampleRightPane {
    .sampleNameAndStatus {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 20px;
      width: 365px;
    }

    .sampleDetails {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 17px;
      width: 315px;
    }
  }

  .itemRightPane {
    flex: 1 0 auto;

    .itemName {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 20px;
      flex: 1 0 auto;
    }

    .itemDetails {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 17px;
      flex: 1 0 auto;
    }
  }

  .dateContainer {
    .elapsed {
      @include loadingAnimation;

      background-clip: content-box;
      height: 12px;
      margin: 4px 20%;
    }
  }
}
