<div id="AMRHeatmapView_page">
</div>

<h1>Antimicrobial Resistance Heatmap</h1>

<%= javascript_tag do %>
  <!-- react_component(
    'SamplesHeatmapView',
    JSON.parse('<%= raw escape_json(@visualization_data) %>'),
    'SamplesHeatmapView_page',
  ); -->
<% end %>
