<div id="SamplesHeatmapView_page">
</div>

<%= javascript_tag do %>
  react_component(
    'SamplesHeatmapViewWrapper',
    JSON.parse('<%= raw escape_json(@visualization_data) %>'),
    'SamplesHeatmapView_page',
    JSON.parse('<%= raw escape_json(user_context)%>')
  );
<% end %>
