<%= react_component 'Home', project: @project_info, all_project: @all_project, 
samples_count: @samples_count, unfiltered: @all_samples
%>

<div id="samples">
  <%= render @samples %>
</div>

<% if @samples.length %>
  <%= will_paginate @samples %>
<% end %>

