<%= react_component 'Home', pipelineOutputs: @pipeline_outputs, outputData: @output_data %>

<%= will_paginate @pipeline_outputs, :style => 'color:#5abcd6', previous_label: '<<', next_label: '>>' %>

<% if @pipeline_outputs.length > 6 %>
 <div class="page-info">
  <%= page_entries_info @pipeline_outputs %>
</div>
<% end %>
