<%= react_component 'Home', samples: @samples, outputData: @final_result, project: @project_info %>

<%= will_paginate @samples, :style => 'color:#5abcd6', previous_label: '<<', next_label: '>>' %>

<% if @samples.length > 6 %>
 <div class="page-info">
  <%= page_entries_info @samples %>
</div>
<% end %>

