<!--Show a "mobile-friendly" page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="landing_page">
  <%= javascript_tag do %>
    react_component(
      'Landing',
      {
        contactEmail: "accounts@idseq.net",
        showBulletin: <%= @show_bulletin %>
      },
      'landing_page'
      );
  <% end %>
</div>
