<!--Show a "mobile-friendly" page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="landing_page">
  <%= javascript_tag do %>
    react_component(
    'Landing',
    {
    contactEmail: "accounts@idseq.net",
    bulletinTitle: '<%= @bulletin_title %>',
    bulletinDescription: '<%= @bulletin_description %>',
    bulletinLink: '<%= @bulletin_link %>'
    },
    'landing_page'
    );
  <% end %>
</div>
