@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.pathogenListView {
  margin-top: 90px;
  padding-bottom: $space-xxl;

  .title {
    h1 {
      @include font-header-xxl;
      margin: 0px;
    }

    h4.subtitle {
      @include font-body-xxs;
      margin: $space-xxs 0px $space-xl 0px;
      color: $gray-dark;
    }
  }

  .intro {
    border-bottom: $border-gray-lightest;
    padding-bottom: $space-l;

    a {
      // Override _header.scss
      color: $primary !important;
    }

    p {
      @include font-body-s;
      margin-bottom: $space-l;
    }
  }

  .pathogenList {
    margin-top: $space-xxl;

    .category {
      @include font-header-l;
    }

    .pathogensContainer {
      margin: $space-l 0px $space-xl 0px;

      .pathogen {
        max-width: 240px;
        padding: 0px;
        margin: 0px $space-xxl $space-m 0px;

        .pathogenName {
          @include font-body-xs;
          font-weight: $font-weight-semibold;
        }

        .pathogenTaxid {
          @include font-body-xxs;
          color: $gray-dark !important;

          &:hover {
            text-decoration: underline;
            text-decoration-style: dashed;
            cursor: default;
          }
        }
      }

      .pathogen:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}
