@import "~styles/themes/colors";
@import "~styles/typography";

/* Subheader */
.viewHeader {
  margin-top: 20px;
  margin-bottom: 5px;

  .pipelineInfo {
    color: $light-grey;
    font-size: $font-size-small;
    margin-bottom: 20px;
    margin-left: 1px;
  }

  .sampleDetailsLinkContainer {
    margin-top: 5px;
  }

  .sampleDetailsLink {
    color: $primary-light;
    font-weight: $font-weight-semibold;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
