@import "~styles/themes/colors";
@import "~styles/typography";

/* Subheader */
.viewHeader {
  margin-top: 20px;
  margin-bottom: 5px;

  .pipelineInfo {
    color: $light-grey;
    font-size: $font-size-small;
    margin-bottom: 20px;
    margin-left: 1px;
  }
}
