@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.tableHeader {
  padding: $sds-spaces-l $sds-spaces-xs;
  text-align: left;
  border-bottom: 1px solid $gray-light;
}

.tableData {
  padding: $sds-spaces-l $sds-spaces-xs;
}
