<!DOCTYPE html>
<html>
  <form id="refresh_form" action="/auth/auth0?<%= {mode: @mode}.to_query %>" method="POST">
    <input id="refresh_input" type="hidden" name="<%= request_forgery_protection_token %>" value="<%=form_authenticity_token%>">
  </form>
  <script>document.getElementById("refresh_form").submit();</script>
</html>