@charset 'utf-8';
@import 'styles/header';
@import 'styles/colors';
@import 'styles/forbidden';
@import 'styles/login';
@import 'styles/home';
@import 'styles/reports';
@import 'styles/samples';
@import 'styles/samplesUpload';
@import 'styles/users';
@import 'styles/resultsfolder';
@import 'styles/visualization';
@import 'styles/components';
@import 'styles/typography';
@import 'styles/variables';
@import 'styles/shared/DropdownWithHtml';
@import 'styles/shared/RoundedDropdown';
