@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~styles/themes/colors";

.subheader {
  @include font-header-s;
  margin-top: $space-l;

  .toggleLink {
    @include font-caps-xxxs;
    color: $primary;
    cursor: pointer;
    margin-left: $space-xs;
  }
}

.adminUploadOptions {
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-xs;
  padding: $space-l;
  padding-bottom: 0;
  background-color: $gray-off-white;
}

.field {
  width: calc(33.3% - #{$space-xl * 2 / 3});
  margin-right: $space-xl;
  margin-bottom: $space-l;

  &:nth-child(3n) {
    margin-right: 0;
  }

  .label {
    @include font-body-xs;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
  }

  .input {
    display: flex;
  }

  .helpIcon {
    margin-left: $space-xxs;
    height: 14px;
  }
}
