@import "~styles/themes/typography";
@import "~styles/themes/colors";

.basespaceSampleUploadTable {
  .detectedMsg {
    @include font-body-xs;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $dark-grey;

    .count {
      @include font-header-xs;
      color: $black;
    }
  }

  .removeIcon {
    cursor: pointer;
    opacity: 0.3;
    width: 10px;
    margin-top: 5px;

    &:hover {
      opacity: 1;
    }
  }

  .table {
    tbody {
      max-height: 500px;
    }
  }
}
