@import "~styles/themes/elements";
@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~czifui/dist/variables";

.listContainer {
  margin: $sds-spaces-m 0;

  background-color: $info-off-white;

  &.warning {
    background-color: $warning-off-white;
  }
}

.messageContainer {
  @include font-body-xs;

  margin: $sds-spaces-m 0;

  strong {
    font-weight: $font-weight-bold;
  }
}

.messageLine {
  @include font-body-xs;

  margin: 0 $sds-spaces-m;
  padding: $sds-spaces-m;
  // .messageContainer margin + .icon margin + .icon width (see notification.scss)
  margin: 0 calc(#{$sds-spaces-m} + #{$sds-spaces-l} + 20px);

  &:nth-child(odd) {
    background-color: $info-light;
    &.warning {
      background-color: $warning-light;
    }
  }

  &:nth-child(even) {
    background-color: $info-off-white;
    &.warning {
      background-color: $warning-off-white;
    }
  }

  &:last-child {
    margin-bottom: $sds-spaces-l;
  }
}

.link {
  // Overwrite <a> inherit rule in header.scss
  color: $primary !important;
  cursor: pointer;
}
