@import "~styles/themes/colors";
@import "~styles/themes/typography";

.sampleUploadFlow {
  .inner {
    padding: 0 60px;
    background-color: $white;
  }

  &.narrow .inner {
    padding: 60px 240px;
  }
}

.label {
  @include font-header-s;
  margin-bottom: 5px;

  .infoLink {
    @include font-label-s;
    margin-left: 10px;
    color: $primary-light;
    cursor: pointer;
  }
}

.sampleUploadFlowHeader {
  margin: 20px 60px 40px 60px;

  .title {
    @include font-header-xxl;
    margin-bottom: 5px;
  }

  .subtitle {
    margin-top: 5px;
    color: $medium-grey;
  }

  .link {
    // Overwrite <a> inherit rule in header.scss
    color: $primary-lighter !important;
    cursor: pointer;
    margin-left: 5px;
  }

  .border {
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 15px;
    background-color: $off-white;
  }
}

.uploadSampleStep {
  margin-top: 20px;

  .projectSelect {
    margin-bottom: 30px;

    .createProjectButton {
      @include font-label-s;
      color: $primary-light;
      cursor: pointer;
      margin-top: 4px;
    }

    .projectCreationContainer {
      background-color: $off-white;
      padding: 20px;
      margin-top: 20px;
    }
  }

  .fileUpload {
    position: relative;
    margin-bottom: 10px;

    .title {
      @include font-header-xl;
    }

    .tabs {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .mainControls {
    margin-top: 60px;

    .continueButton {
      margin-right: 10px;
    }
  }

  .uploadTable {
    margin-top: 30px;
  }
}

.localFilePicker {
  height: 120px;

  &.short {
    height: 90px;
  }
}

.remoteFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }

  .controls {
    display: flex;

    .connectButton {
      margin-left: 10px;
    }

    .input {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .error {
    margin-top: 5px;
    color: $error;
  }
}

.localFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }
}

.tallBody {
  min-height: 600px;
}

.uploadMetadataStep {
  .title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  .mainControls {
    margin-top: 60px;

    .continueButton {
      margin-right: 10px;
    }
  }

  .hide {
    display: none;
  }
}

.reviewStep {
  .title {
    @include font-header-xxl;
  }

  .uploadMsg {
    @include font-body-m;
    margin-bottom: 40px;
    color: $medium-grey;
  }

  .smallHeader {
    @include font-header-l;
    margin: 10px 0;
  }

  .projectContainer {
    margin-top: 40px;
  }

  .sampleContainer {
    margin-top: 50px;
  }

  .project {
    background-color: $off-white;
    padding: 25px;
    display: flex;

    .header {
      display: flex;
    }

    .name {
      @include font-header-m;
    }

    .publicAccess {
      @include font-body-s;
      margin-left: 10px;
    }

    .existingSamples {
      @include font-body-xs;
      color: $medium-grey;
    }

    .projectIcon {
      height: 40px;
      width: 40px;
      margin-right: 15px;
    }
  }

  .tableScrollWrapper {
    overflow: auto;
    max-height: 450px;
  }

  .sampleName {
    @include font-header-s;
  }

  .error {
    color: $error;
  }

  .link {
    color: $primary-light;
  }

  .files {
    padding: 10px 0;

    .file {
      padding: 5px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .successMessage,
  .error,
  .uploadMessage {
    @include font-body-xs;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .uploadMessage,
  .successMessage {
    color: $medium-grey;
  }

  .loadingIcon {
    margin-right: 5px;
  }
}
