@import "~styles/themes/colors";
@import "~styles/themes/typography";

.sampleUploadFlow {
  .inner {
    padding: 0 60px;
    background-color: $white;
  }

  &.narrow .inner {
    padding: 60px 240px;
  }
}

.uploadFlowStep {
  // In order to make the flex-content take up the remaining height on the page,
  // we need to place it in a parent container that expands to fill up the page height.
  // This min-height takes up the remaining viewport height besides the header and the sample upload flow header.
  min-height: calc(100vh - 180px);
  padding-top: 20px;
  display: none;
  flex-direction: column;

  .flexContent {
    flex: 1 1 0;
  }

  .controls {
    margin: 30px 0 60px;

    .continueButton {
      margin-right: 10px;
    }
  }

  &.visible {
    display: flex;
  }
}

.label {
  @include font-header-s;
  margin-bottom: 5px;

  .infoLink {
    @include font-label-s;
    margin-left: 10px;
    color: $primary-light;
    cursor: pointer;
  }
}

.headerWrapper {
  border-bottom: 4px solid $off-white;
}

.sampleUploadFlowHeader {
  padding: 20px 60px;
  display: flex;

  .fill {
    flex: 1 1 0;
  }

  .title {
    @include font-header-xxl;
    margin-bottom: 5px;
  }

  .subtitle {
    margin-top: 5px;
    color: $medium-grey;
  }

  .link {
    // Overwrite <a> inherit rule in header.scss
    color: $primary-lighter !important;
    cursor: pointer;
    margin-left: 5px;
  }

  .menu {
    display: flex;

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 110px;

      &.active .circle {
        color: $white;
        background-color: $primary-light;
      }

      &.enabled {
        cursor: pointer;

        .circle {
          color: $white;
          background-color: $primary-light;
          opacity: 0.3;
        }
      }
    }

    .circle {
      @include font-header-xs;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 6px;
    }

    .text {
      @include font-header-xxs;
      color: $darkest-grey;
    }
  }
}

.uploadSampleStep {
  .projectSelect {
    margin-bottom: 30px;

    .createProjectButton {
      @include font-label-s;
      color: $primary-light;
      cursor: pointer;
      margin-top: 4px;
    }

    .projectCreationContainer {
      background-color: $off-white;
      padding: 20px;
      margin-top: 20px;
    }
  }

  .fileUpload {
    position: relative;
    margin-bottom: 10px;

    .title {
      @include font-header-xl;
    }

    .tabs {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .uploadTable {
    margin-top: 30px;
  }
}

.localFilePicker {
  height: 120px;

  &.short {
    height: 90px;
  }
}

.remoteFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }

  .controls {
    display: flex;

    .connectButton {
      margin-left: 10px;
    }

    .input {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .error {
    margin-top: 5px;
    color: $error;
  }
}

.localFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }
}

.uploadMetadataStep {
  .title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  .hide {
    display: none;
  }
}

.reviewStep {
  .title {
    @include font-header-xxl;
  }

  .uploadMsg {
    @include font-body-m;
    margin-bottom: 40px;
    color: $medium-grey;
  }

  .reviewHeader {
    margin: 10px 0;
    display: flex;

    .text {
      @include font-header-l;
    }

    .links {
      @include font-body-xs;
      display: flex;
      margin-left: 10px;
      align-items: center;
      margin-top: 5px;

      &.enabled {
        .link {
          color: $primary-light;
          cursor: pointer;
        }
      }

      .divider {
        margin: 0 5px;
      }

      .link {
        color: $light-grey;
        cursor: default;
      }
    }
  }

  .sampleContainer {
    margin-top: 50px;
  }

  .project {
    background-color: $off-white;
    padding: 25px;
    display: flex;

    .header {
      display: flex;
    }

    .name {
      @include font-header-m;
    }

    .publicAccess {
      @include font-body-s;
      margin-left: 10px;
    }

    .existingSamples {
      @include font-body-xs;
      color: $medium-grey;
    }

    .projectIcon {
      height: 40px;
      width: 40px;
      margin-right: 15px;
    }
  }

  .tableScrollWrapper {
    overflow: auto;
    max-height: 450px;
  }

  .sampleName {
    @include font-header-s;
  }

  .error {
    color: $error;
  }

  .link {
    color: $primary-light;
  }

  .files {
    padding: 10px 0;

    .file {
      padding: 5px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .successMessage,
  .error,
  .uploadMessage {
    @include font-body-xs;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .uploadMessage,
  .successMessage {
    color: $medium-grey;
  }

  .loadingIcon {
    margin-right: 5px;
  }
}
