@import "~styles/themes/colors";
@import "~styles/themes/typography";

.sampleUploadFlow {
  .inner {
    padding: 60px;
    background-color: $white;
  }

  &.narrow .inner {
    padding: 60px 240px;
  }
}

.label {
  @include font-header-s;
  margin-bottom: 5px;

  .infoLink {
    @include font-label-s;
    margin-left: 10px;
    color: $primary-light;
    cursor: pointer;
  }
}

.uploadSampleStep {
  .header {
    margin-bottom: 40px;

    .title {
      @include font-header-xxl;
    }

    .subtitle {
      margin-top: 5px;
    }

    .cliLink {
      // Overwrite <a> inherit rule in header.scss
      color: $primary-light !important;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  .projectSelect {
    margin-bottom: 30px;

    .createProjectButton {
      @include font-label-s;
      color: $primary-light;
      cursor: pointer;
      margin-top: 4px;
    }

    .projectCreationContainer {
      background-color: $off-white;
      padding: 20px;
      margin-top: 20px;
    }
  }

  .fileUpload {
    position: relative;
    margin-bottom: 10px;

    .title {
      @include font-header-xl;
    }

    .tabs {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .mainControls {
    margin-top: 60px;

    .continueButton {
      margin-right: 10px;
    }
  }
}

.localFilepicker {
  height: 120px;
}

.remoteFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }

  .controls {
    display: flex;

    .connectButton {
      margin-left: 10px;
    }

    .input {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .error {
    margin-top: 5px;
    color: $error;
  }
}

.localFileUpload {
  .info {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 10px;

    .title {
      @include font-header-xs;
    }

    ul {
      margin: 5px 0 10px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        @include font-body-xs;
        list-style-type: disc;
      }
    }
  }
}

.uploadMetadataStep {
  .title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  .mainControls {
    margin-top: 60px;

    .continueButton {
      margin-right: 10px;
    }
  }

  .hide {
    display: none;
  }
}

.reviewStep {
  .title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  .error {
    color: $error;
  }

  .link {
    color: $primary-light;
  }

  .successMessage,
  .error,
  .uploadMessage {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
