@import "~styles/themes/typography";
@import "~czifui/dist/variables";

.fileName {
  @include font-body-xs;
  margin-top: $sds-spaces-m;
  margin-bottom: $sds-spaces-m;
  text-overflow: ellipsis;
  overflow: hidden;
}
