@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.uploadProgressModal {
  padding: 0 0 $space-xxl + $space-xl 0;

  &.uploadComplete {
    padding-bottom: $space-xxl;
  }

  .header {
    margin-top: $space-xxl;
    text-align: center;

    .uploadImg {
      width: $img-m;
      height: $img-m;
    }

    .title {
      @include font-header-xl;
      color: black;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: $space-s;
      padding: 0 40px;
    }

    .titleWithIcon {
      @include font-header-xl;
      margin-bottom: $space-s;
      display: flex;
      align-items: center;
      justify-content: center;

      .alertIcon {
        width: 18px;
        height: 18px;
        margin-right: $space-xs;
      }

      .checkmarkIcon {
        width: 25px;
        height: 25px;
        margin-right: $space-xs;
        fill: $success-medium;
      }
    }

    .subtitle {
      @include font-body-s;

      .helpLink {
        color: $primary !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .instructions {
      @include font-body-s;
      max-width: 500px;
      margin: $space-s auto $space-xxl;
    }

    .notificationContainer {
      margin: $space-l $space-xxl $space-s $space-xxl;

      .errorMessage {
        @include font-header-s;
      }
    }
  }

  .sampleList {
    margin: $space-xxl $space-xxl 0;
    max-height: 200px;
    overflow: auto;

    .sample {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    .sampleHeader {
      display: flex;
      align-items: center;

      .sampleName {
        @include font-header-s;
        flex: 0 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .sampleStatus {
        @include font-body-xxs;
        color: $gray-darkest;
        display: flex;
        align-items: center;
        margin-left: $space-m;
        white-space: nowrap;

        .alertIcon {
          fill: $error-medium;
          width: 14px;
          height: 14px;
          margin-right: 5px;
          margin-bottom: 2px;
        }

        .checkmarkIcon {
          width: 16px;
          height: 16px;
          margin-bottom: -$space-xxs;
          margin-right: 5px;
          fill: $success-medium;
        }
      }

      .verticalDivider {
        @include font-body-l;
        color: $gray-light;
        padding: 0 4px 4px;
      }
    }
  }

  .failedSamples {
    @include font-body-s;
    max-width: 500px;
    margin: $space-s auto 40px;
    text-align: center;
  }

  .footer {
    text-align: center;
    height: 34px;
    margin-top: $space-xxl;

    .completeMessage {
      @include font-body-xxs;
      display: flex;
      align-items: center;
    }
  }
}

.sampleRetry {
  @include font-caps-xxxs;
  color: $primary;
  text-transform: uppercase;

  &.retryAll {
    color: $error-medium;

    &:hover {
      color: $error-dark !important;
    }
  }

  &:hover {
    cursor: pointer;
    color: $primary-dark;
  }
}

.fill {
  flex: 1 1 0;
}
