@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.uploadProgressModal {
  padding: 0 0 $sds-spaces-xxl + $sds-spaces-xl 0;

  &.uploadComplete {
    padding-bottom: $sds-spaces-xxl;
  }

  .header {
    margin-top: $sds-spaces-xxl;
    text-align: center;

    .uploadImg {
      width: $img-m;
      height: $img-m;
    }

    .title {
      @include font-header-xl;
      color: black;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: $sds-spaces-s;
      padding: 0 40px;
    }

    .titleWithIcon {
      @include font-header-xl;
      margin-bottom: $sds-spaces-s;
      display: flex;
      align-items: center;
      justify-content: center;

      .alertIcon {
        width: 18px;
        height: 18px;
        margin-right: $sds-spaces-xs;
      }

      .checkmarkIcon {
        width: 25px;
        height: 25px;
        margin-right: $sds-spaces-xs;
        fill: $sds-color-success-400;
      }
    }

    .subtitle {
      @include font-body-s;
      padding: 0 40px;

      .helpLink {
        color: $sds-color-primary-400 !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .instructions {
      @include font-body-s;
      max-width: 500px;
      margin: $sds-spaces-s auto $sds-spaces-xxl;
    }

    .notificationContainer {
      margin: $sds-spaces-l $sds-spaces-xxl $sds-spaces-s $sds-spaces-xxl;

      .content {
        display: flex;

        .errorMessage {
          @include font-header-s;
        }
      }
    }
  }

  .sampleList {
    margin: $sds-spaces-xxl $sds-spaces-xxl 0;
    max-height: 200px;
    overflow: auto;

    .sample {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    .sampleHeader {
      display: flex;
      align-items: center;

      .sampleName {
        @include font-header-s;
        flex: 0 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .sampleStatus {
        @include font-body-xxs;
        color: $sds-color-gray-600;
        display: flex;
        align-items: center;
        margin-left: $sds-spaces-m;
        white-space: nowrap;

        .alertIcon {
          fill: $sds-color-error-400;
          width: 14px;
          height: 14px;
          margin-right: 5px;
          margin-bottom: $sds-spaces-xxxs;
        }

        .checkmarkIcon {
          width: 16px;
          height: 16px;
          margin-bottom: -$sds-spaces-xxs;
          margin-right: 5px;
          fill: $sds-color-success-400;
        }
      }

      .verticalDivider {
        @include font-body-l;
        color: $sds-color-gray-300;
        padding: 0 $sds-spaces-xxs $sds-spaces-xxs;
      }
    }
  }

  .failedSamples {
    @include font-body-s;
    max-width: 500px;
    margin: $sds-spaces-s auto 40px;
    text-align: center;
  }

  .footer {
    text-align: center;
    height: 34px;
    margin-top: $sds-spaces-xxl;

    .completeMessage {
      @include font-body-xxs;
      display: flex;
      align-items: center;
    }
  }
}

.sampleRetry {
  @include font-caps-xxxs;
  color: $sds-color-primary-400;
  text-transform: uppercase;
  align-self: center;

  &.retryAll {
    color: $sds-color-error-400;

    &:hover {
      color: $sds-color-error-600 !important;
    }
  }

  &:hover {
    cursor: pointer;
    color: $sds-color-primary-500;
  }
}

.fill {
  flex: 1 1 0;
}
