@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.workflowSelector {
  margin-bottom: $space-xxl;

  .header {
    @include font-header-xl;
    margin-bottom: $space-default;
  }

  .workflowOption {
    border-radius: $border-radius-m;
    cursor: pointer;
    display: flex;
    padding: $space-l $space-xs;

    &:hover {
      background-color: $gray-off-white;
    }

    .radioButton {
      flex-shrink: 0;
      margin: $space-l;
    }

    .iconSample {
      flex-shrink: 0;
      height: 35px;
      margin-top: $space-xxs;
      margin-right: $space-default;
      width: 35px;
    }

    .optionText {
      .title {
        @include font-header-s;

        .infoIcon {
          fill: $gray-dark;
          height: 15px;
          margin-left: $space-xxs;
          margin-top: $space-xxxs;
          vertical-align: text-top;
          width: 15px;

          &:hover {
            fill: $primary;
          }
        }

        .statusLabel {
          vertical-align: middle;
          margin-bottom: $space-xxxs;
        }
      }

      .description {
        @include font-body-s;
      }

      .wetlabOption {
        margin-top: $space-xl;

        .title {
          @include font-header-xs;
          margin-bottom: $space-xxs;
        }

        .dropdown {
          min-width: 140px;
        }
      }
    }
  }
}
