@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.workflowSelector {
  margin-bottom: $sds-spaces-xxl;

  .header {
    @include font-header-xl;
    margin-bottom: $sds-spaces-default;
  }

  .selectableOption {
    border-radius: $sds-corners-corner-m;
    cursor: pointer;
    display: flex;
    padding: $sds-spaces-l;

    &:hover {
      background-color: $sds-color-gray-100;
    }

    &.selected {
      background-color: $sds-color-gray-100;
    }

    .technologyOptions {
      margin-top: $sds-spaces-xxxs;

      .technology {
        padding: $sds-spaces-m;

        &:hover {
          background-color: $sds-color-gray-200;
        }

        &.selected {
          background-color: $sds-color-gray-200;
        }
      }
    }

    .radioButton {
      flex-shrink: 0;
      margin: $sds-spaces-l;

      &.alignTitle {
        margin-top: $sds-spaces-xxs;
      }
    }

    .iconSample {
      flex-shrink: 0;
      height: 35px;
      margin-top: $sds-spaces-xxs;
      margin-right: $sds-spaces-default;
      width: 35px;
    }

    .optionText {
      .title {
        @include font-header-s;

        &.technologyTitle {
          padding-top: $sds-spaces-l;
        }

        .infoIcon {
          fill: $sds-color-gray-500;
          height: $icon-s;
          width: $icon-s;
          margin-left: $sds-spaces-xs;
          vertical-align: -$sds-spaces-xxxs;

          &:hover {
            fill: $sds-color-primary-400;
          }
        }
      }

      .description {
        @include font-body-s;
      }

      .technologyDescription {
        @include font-body-xxs;
        color: $sds-color-gray-600;

        .externalLink {
          color: black !important;
          text-decoration: underline;
          text-decoration-style: dashed;

          &:hover {
            text-decoration-style: solid;
          }
        }
      }

      .technologyContent {
        display: flex;
        margin-top: $sds-spaces-l;

        .item {
          display: flex;
          flex-direction: column;
          min-width: 160px;
          margin-right: $sds-spaces-xl;

          .subheader {
            @include font-header-xs;
            margin-bottom: $sds-spaces-xs;
          }

          .text {
            margin-top: $sds-spaces-xs; // align plaintext with text in toggle and dropdown menus
          }

          .dropdown {
            @include font-body-xs;
            min-width: 215px;
          }

          .dropdownMenu {
            min-width: max-content !important;
          }
        }
      }
    }
  }
}
