<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show project', @project %> |
<%= link_to 'See all projects', projects_path %> |
<%= link_to 'Front portal', root_path %>
