@import "~styles/themes/colors";
@import "~styles/themes/typography";
:export {
  primaryLight: $primary-light;
}

.heatmap {
  .cells {
    rect.cell {
      cursor: pointer;

      &:hover {
        stroke: $primary-light;
        stroke-width: 1px;
      }

      &.panning {
        cursor: move;
      }
    }

    .shaded {
      opacity: 0.1;
    }
  }

  .rowLabels,
  .columnLabels {
    .rowLabel,
    .columnLabel {
      font-size: 12px;

      .removeIcon {
        visibility: hidden;
      }

      &.duplicateLabel {
        fill: $primary-light;
      }

      &.highlighted {
        fill: $primary-light;
      }

      &:hover {
        text {
          fill: $primary-light;
          cursor: pointer;
        }

        .removeIcon {
          visibility: visible;
          cursor: pointer;
        }
      }
    }

    .genusBorder {
      stroke: $light-grey;
      stroke-width: 1;
    }

    .hideGenusBorder {
      display: none;
    }

    .rowLabelHover rect {
      fill: $lightest-grey;
    }
  }

  // hides genus separators in cluster mode
  .rowLabels.rowClustering .genusBorder {
    display: none;
  }

  .hoverTarget {
    fill: transparent;
  }

  .dendogram {
    .link {
      .linkPath {
        fill: transparent;
        stroke: $light-grey;
        stroke-width: 1px;
      }

      &.highlighted {
        path {
          stroke: $primary-light;
        }
      }
    }
  }

  .columnMetadata {
    pointer-events: bounding-box;

    .columnMetadataLabel {
      font-size: 12px;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        text {
          fill: $primary-light;
        }
      }
    }

    .columnMetadataAdd {
      .metadataAddTrigger {
        cursor: pointer;
      }

      .metadataAddLine {
        stroke: $light-grey;
        stroke-width: 1px;
        fill: transparent;
      }

      .metadataAddIcon {
        opacity: 0.3;
      }

      rect {
        opacity: 0;
      }

      .metadataAddLabel {
        @include font-label-s;
        fill: $medium-grey;
        cursor: pointer;
        text-anchor: end;
      }

      &:hover {
        .metadataAddLine {
          stroke: $primary-light;
        }

        .metadataAddIcon {
          // The filter is defined in heatmap.js
          filter: url("#blue");
          opacity: 1;
        }

        .metadataAddLabel {
          fill: $primary-light;
        }
      }
    }
  }

  .captionContainer {
    .caption {
      font-size: 12px;
      fill: $medium-grey;
      opacity: 0;
    }
  }

  &.printMode {
    .columnMetadataAdd {
      opacity: 0;
    }

    .captionContainer {
      .caption {
        opacity: 1;
      }
    }
  }
}
