<div id="PhyloTreeList_page">
  <%= javascript_tag do %>
    react_component('PhyloTreeList', {
      project: JSON.parse('<%= raw escape_json(@project) %>'),
      taxon: JSON.parse('<%= raw escape_json(@taxon) %>'),
      phyloTrees: JSON.parse('<%= raw escape_json(@phylo_trees) %>')
    }, 'PhyloTreeList_page');
  <% end %>
</div>
