@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~@czi-sds/components/dist/variables";

.viewHeader {
  margin-top: $sds-spaces-xxl;
  margin-bottom: $sds-spaces-xxl;
}

.error {
  color: $sds-color-error-400;
  margin-bottom: $sds-spaces-m;
}

.noResultsMessage {
  color: $sds-color-gray-500;
}

.category {
  .title {
    @include font-header-m;
  }

  .field {
    padding: $sds-spaces-m;

    .preference {
      justify-content: left;
    }
  }
}
