@import "~czifui/dist/variables";

.rightAlignedHeader {
  div {
    justify-content: flex-end;
  }
}

.rightAlignedCell {
  text-align: right;
  padding-right: 30px; // This is awkwardly in between sds sizes
  height: 50px;
  span {
    font: $sds-font-body-s-600-font;
    word-break: break-word;
  }
}

.leftAlignedCell {
  height: 50px;
  span {
    font: $sds-font-body-s-600-font;
    word-break: break-word;
  }
}

.groupedHeader {
  align-items: center;
  background-color: $sds-color-gray-100;
  border-left: $sds-borders-gray-300;
  color: $sds-font-color;
  font: $sds-font-header-xxs-600-font;
  height: 26px;
  margin: $sds-spaces-s;
}

.rowCount {
  color: $sds-color-gray-500;
  display: flex;
  font: $sds-font-body-xxs-400-font;
  height: 26px;
}
