@import "~czifui/dist/variables";

.reportWrapper {
  margin-top: $sds-spaces-xl;
  height: 100%;
}

.rowCount {
  font: $sds-font-body-xxs-400-font;
  margin-bottom: $sds-spaces-xxl;
  color: $sds-color-gray-500;
}