@import "~czifui/dist/variables";

.reportWrapperFiltersOpen {
  position: relative;
  margin-top: $sds-spaces-xl;
  height: 100%;
  display: flex;
  flex-direction: row;
  left: 150px;
  @media screen and (max-width: 1770px) {
    left: 200px;
  }
}

.reportWrapperFiltersClosed {
  position: relative;
  margin-top: $sds-spaces-xl;
  height: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1770px) {
    // Create a smooth transition between the two screen sizes
    // Between 1635px and 1770px, the left position should be a
    // number between 0 and 75px. When the screen is exactly 1635px,
    // this calculation will result in 75px, and when the screen is
    // exactly 1770px, this calculation will result in 0px.
    left: calc((1770px - 100vw) * 75 / (1770 - 1635));
  }
  @media screen and (max-width: 1635px) {
    left: 75px;
  }
}

.dropdownWrapper {
  align-self: start;
  padding: $sds-spaces-xxl $sds-spaces-m 16px;
  border-bottom: $sds-borders-gray-300;
}

.tableWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  overflow-x: clip;
  div {
    div {
      // Note this has to be !important in order to override styles from React Virtuoso
      position: inherit !important;
    }
  }
}
