@import "~styles/themes/colors";
@import "~styles/themes/elements";

.projectHeader {
  justify-content: left;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;

  .toggleContainer {
    margin-bottom: 10px;
  }

  .table {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .map {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border-top: 2px solid $lightest-grey;
  }

  .projectDescription {
    color: $darkest-grey;
  }
}
