@import "~styles/themes/elements";

.projectHeader {
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;

  .toggleContainer {
    margin-bottom: 10px;
  }

  .map {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
