@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.descriptionContainer {
  color: $dark-grey;
  padding-left: $space-default;

  .title {
    @include font-header-accordion;
    color: $black;
    height: 40px;
  }

  .truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .showHide {
    @include font-body-xxs;
    text-transform: uppercase;
    display: inline-block;
    margin: $space-xxs 0 $space-default 0;
    color: $primary-light;
    cursor: pointer;
  }
}
