//Old colors

$sidebar-background: #F8F9F9;
$data-key-color: #252424;
$data-value-color: #b8b8b8;
$primary-button: #5ABCD6;

// New Colors

//== Colors
// Gray scale

$black: #10161a !default;
$body-color: #212B36 !default;
$subdued-color: #637381 !default;
.subdued{color: $subdued-color;}

$dark-gray1: #182026 !default;
$dark-gray2: #202b33 !default;
$dark-gray3: #293742 !default;
$dark-gray4: #30404d !default;
$dark-gray5: #394b59 !default;

$gray1: #5c7080 !default;
$gray2: #738694 !default;
$gray3: #8a9ba8 !default;
$gray4: #a7b6c2 !default;
$gray5: #bfccd6 !default;

$light-gray1: #ced9e0 !default;
$light-gray2: #d8e1e8 !default;
$light-gray3: #e1e8ed !default;
$light-gray4: #ebf1f5 !default;
$light-gray5: #f5f8fa !default;

$white: #ffffff !default;

$blue1: #EBF4FA !default;
$blue2: #B4E0FA !default;
$blue3: #2F8FC3 !default;
$blue4: #084E8A !default;
$blue5: #00152A !default;

$green1: #E3F1DF !default;
$green2: #BBE5B3 !default;
$green3: #50B83C !default;
$green4: #108043 !default;
$green5: #173630 !default;

$orange1: #FCEBDB !default;
$orange2: #FFC48B !default;
$orange3: #F49342 !default;
$orange4: #f29d49 !default;
$orange5: #ffb366 !default;

$red1: #FBEAE5 !default;
$red2: #FDAC9A !default;
$red3: #ED6347 !default;
$red4: #BF0711 !default;
$red5: #330202 !default;

// Non-Primary Colors

$teal: #E0F5F4 !default;
$teal: #B6ECEB !default;
$teal3: #47C1BF !default;
$teal4: #00848E !default;
$teal5: #003136 !default;

$purple1: #F5F0FC !default;
$purple2: #E3D0FF !default;
$purple3: #A27CD4 !default;
$purple4: #5C3A8C !default;
$purple5: #230051 !default;

$indigo1: #F3F4FA !default;
$indigo2: #B3BCF5 !default;
$indigo3: #5C6AC4 !default;
$indigo4: #202E78 !default;
$indigo5: #000639 !default;

$yellow1: #FCF0CD !default;
$yellow2: #FFEA8A !default;
$yellow3: #EDC200 !default;
$yellow4: #9C6F19 !default;
$yellow5: #573B00 !default;


$id-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$id-success:         #5cb85c !default;
$id-info:            #5bc0de !default;
$id-warning:         #f0ad4e !default;
$id-danger:          #d9534f !default;

$id-app-background-color: $light-gray5 !default;
$id-dark-app-background-color: $dark-gray3 !default;

$id-text-color: $dark-gray1 !default;
$id-text-color-muted: $gray1 !default;
$id-text-color-disabled: rgba($id-text-color-muted, 0.5) !default;
$id-heading-color: $id-text-color !default;
$id-link-color: $blue2 !default;
$id-dark-text-color: $light-gray5 !default;
$id-dark-text-color-muted: $gray5 !default;
$id-dark-text-color-disabled: rgba($id-dark-text-color-muted, 0.5) !default;
$id-dark-heading-color: $id-dark-text-color !default;
$id-dark-link-color: $blue5 !default;
// Default text selection color using #7dbcff
$id-text-selection-color: rgba(125, 188, 255, 0.6) !default;

$id-icon-color: $id-text-color-muted !default;
$id-icon-color-hover: $id-text-color !default;
$id-icon-color-disabled: $id-text-color-disabled !default;
$id-icon-color-selected: $id-intent-primary !default;
$id-dark-icon-color: $id-dark-text-color-muted !default;
$id-dark-icon-color-hover: $id-dark-text-color !default;
$id-dark-icon-color-disabled: $id-dark-text-color-disabled !default;
$id-dark-icon-color-selected: $id-intent-primary !default;

$id-divider-black: rgba($black, 0.15) !default;
$id-dark-divider-black: rgba($black, 0.4) !default;
$id-dark-divider-white: rgba($white, 0.15) !default;

$id-code-text-color: $id-text-color-muted !default;
$id-dark-code-text-color: $id-dark-text-color-muted !default;
$id-code-background-color: rgba($white, 0.7) !default;
$id-dark-code-background-color: rgba($black, 0.3) !default;
