@import "typography";
@import "themes/colors";

.tooltip,
.Tipsy {
  &.in {
    opacity: 1 !important;
  }
  .tooltip-inner,
  .Tipsy-inner {
    font-size: 0.8rem;
    text-align: left;
    max-width: 200px;
    padding: 10px 15px;
    color: $off-white !important;
    background: $darkest-grey;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba($black, 0.15);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

// TODO(mark): Refactor all <a> elements into a <Link> component, and remove.
a {
  color: inherit !important;
}

.hidden {
  display: none;
}

.header-row {
  margin: 0;
}
.site-header {
  height: 50px;
  background-color: $black;
  font-size: $font-size-base;
  position: relative;
  z-index: 1000;
}

.brand-details {
  .logo-icon {
    svg {
      height: 2.5rem;
      margin-top: 0.5rem;
      margin-left: 0.3rem;
    }
  }
}

.profile-header-menu.menu {
  float: right;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
  min-height: 0;
  box-shadow: none;
  border: none;
  .text {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
  }
  color: $medium-grey;
  &:hover {
    color: $light-grey;
  }
}

.profile-dropdown {
  cursor: pointer;
  i {
    margin: 20px;
  }
}

#sample-list {
  width: 100px;
  top: 11rem !important;
}

.sub-header-navigation {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.modal-overlay {
  z-index: 999 !important;
}

.content-body {
  .progress {
    margin: 0;
  }
}
