@import "themes/colors";

$break-large: 1460px;

.login-form {
  width: 30%;
  margin: 0 auto;
  box-shadow: 0.1rem 0.2rem 0.6rem 0.2rem $lightest-grey;
  margin-top: 150px;
  border-radius: 10px;
  label {
    -webkit-transform: none !important;
    transform: none !important;
  }
  label.active {
    color: inherit !important;
  }
  .title {
    margin-bottom: 0px;
    padding: 25px 35px 0 35px;
    p.signup {
      font-size: 24px;
      font-weight: bold;
      color: $darkest-grey;
      margin-top: 9px;
      text-align: left;
    }
  }
  .mail {
    padding: 0 48px;
    margin-bottom: 20px;
    p {
      margin-top: 10px;
      font-size: 14px;
    }
    span {
      color: $primary-light;
      cursor: pointer;
      &:hover {
        color: $primary-light;
      }
    }
  }
  .content-wrapper {
    padding: 10px 50px;
    .sample {
      float: right;
      padding-top: 20px;
    }

    input:focus {
      border-bottom-color: $primary-light !important;
    }
  }
  .login-wrapper {
    background-color: $primary-light;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
  }
  .error-info {
    width: 80%;
    background: $error-lightest;
    border-radius: 5px;
    color: $error;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid $error;
    font-size: 12px;
    transition: 0.2s width ease-out;
    text-align: center;
    @media screen and (max-width: $break-large) {
      width: 70%;
    }
  }
  .success-info {
    width: 80%;
    background: $success-lightest;
    border-radius: 5px;
    color: $success;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid $success;
    font-size: 12px;
    transition: 0.2s width ease-out;
    text-align: center;
  }
}
