// Some style to apply initial application layout set by rails
// TODO: refactor to bring these elements to the JS side
.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page_header {
    flex: 0 0 auto;
  }

  .page_content {
    flex: 1 1 auto;
    // TODO(tiago): remove hack. We can set display: flex, but then we need to guarantee
    // that all pages support flexible layout and render correctly
    height: calc(100% - 60px);
  }
}
