@import "variables";

.header {
  margin: 25px 75px;
  .title {
  font-size: $font-size-h3;
  color: #03a9f4;
  .path {
    margin: 20px;
    color: #000;
    font-weight: $font-weight-thin
    }
    .back {
      cursor: pointer;
      &:hover {
        text-decoration: underline
      }
    }
  }
  th {
    color: $headings-color;
  }
  tr {
    cursor: pointer;
    td {
      color: $body-color;
      &:hover {
        color: #5abcd6;
      }
    }
  }
  i.fa-file {
    margin-right: 15px;
  }
  .size-tag {
    color: #D3D3D3;
  }
}  
