@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.hotspot > div > .apc-spotlight {
  background: $sds-color-gray-white !important;
  opacity: 0.9;
}

div > .apc-spotlight {
  box-shadow: none !important;
}
