@import "typography";
@import "themes/colors";

.instruction-container {
  margin: 5%;
}

.instruction-heading {
  margin-top: 2.2rem;
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
}

.instruction-medium-margin-top {
  margin-top: 1rem;
}

.code-bullet {
  width: fit-content;
  background-color: $primary-lightest;
  white-space: nowrap;
  font-family: monospace;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
