@import "variables";

.cli-modal {
  margin: 0 auto !important;
  top: 3%;
  max-width: 75%;
  max-height: 98%;
}

.instruction-heading {
  margin-top: 2rem;
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
}

.instruction-medium-margin-top {
  margin-top: 1rem;
}
