@import "variables";

.instruction-container {
  margin: 5%;
}

.instruction-heading {
  margin-top: 2.2rem;
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
}

.instruction-medium-margin-top {
  margin-top: 1rem;
}
