.ui.button.primary {
  padding: 7px 30px;
  border-radius: 40px;
  border: 1px solid #3867fa;
  cursor: pointer;
  display: block;
  background: #3867fa !important;
  color: #ffffff !important;
  &:hover {
    background: #ffffff !important;
    color: #3867fa !important;
  }
}

.ui.dropdown {
  border: 1px solid rgb(228,228,228);
  padding: 5px 10px;
  border-radius: 999999px;

  .menu {
    margin-top: 2px;
    width: 100%;
  }
  .text {
    font-size: 8pt;
  }
  .icon {
    margin-top: 5px !important;
  }
}
