@import "themes/colors";

.outer-container {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding: 3rem;
  box-shadow: 0.1rem 0.2rem 0.6rem 0.2rem $gray-lightest;
  border-radius: $border-radius-m;
  border: 0.1rem solid $gray-lightest;
}

.new-pass-field {
  margin-top: 30px;
}

input:focus {
  border-bottom-color: $primary !important;
}

.terms {
  margin-bottom: 1rem;
}

.terms-link {
  color: $primary !important;
}

.submit-btn {
  margin-top: 2rem;
  text-align: center;
}
