// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// removing the arrows
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.flash {
  animation-name: anim-info-updated;
  animation-duration: 500ms;
}

@keyframes anim-info-updated {
    0% {
      background-color: #edf8ff;
    }
    100% {
      background-color: transparent;
    }
}

.row.reports-container{
margin-bottom: 0px;
}

//Report Sidebar and Filters Styling

.reports-sidebar {
  background: $sidebar-background;
  position: sticky;
  z-index: 1;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  top: 0px;
  min-height: -webkit-fill-available !important;
  border-right: 1px solid rgb(212, 212, 212);
}

.sidebar-title {
  padding: 15px 0 10px 0;
  color: #002238;
  font-size: $font-size-large;
  border-bottom: 1px solid #c8c8c8;
  margin: 0 10px 15px

}

#details table tr td{
  padding: 2px;
}

.sidebar-tabs {
  .tabs {
    display: flex !important;
    .indicator {
      display: none;
    }
    .tab {
      &.reports-pane {
        border-right: 1px solid #D6D6D6;
      }
      a {
        text-align: center !important;
        font-size: $font-size-small !important;
      }
    }

  }

  a.active {
    color: #5ABCD6 !important;
  }


  .sidebar-divider {
    background: #EEF1F2;
    height: 25px;
    margin-top: 20px;
  }

  .report-data {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    &.background-model {
      .input-field {
        margin-top: 5px;
        .caret {
          color: rgb(103, 121, 134);
          z-index: 500;
          display: none !important;
        }
        .fa-angle-down{
          position: absolute;
          z-index: 50;
          top: 31%;
          right:2px;
          font-size: $font-size-large;
          color: #444242;
        }
        .select-wrapper{
          ul{
            top:45px !important;
            padding-left: 0px !important;
             li > span{
               color: black !important;
               font-size: $font-size-base !important;
             }
          }
        }
        .select-dropdown {
          background: #fff;
          border-radius: 3px;
          padding-left: 8px;
          border: 1px solid #A6B7C1;
          width: 100%;
          font-size: $font-size-base;
        }
      }
    }
  }

  .report-data section {
    float: left;
    width: 100%;
  }

  .report-data div:nth-child(odd) {
    color: #677986;
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
  }

  .report-data div:nth-child(even) {
    color: #1B232A;
    margin-bottom: 10px;
    font-size: $font-size-base;
  }

  .report-title {
    font-size: $font-size-base;
    color: #333333;
  }

  #filters-pane {
    padding: 0;
    .filter-title {
      padding: 15px;
      color: #B8B8B8;
      font-size: $font-size-small;
      border-bottom: 1px solid #D6D6D6;
    }

    .filter-values {
      padding: 15px;
    }

    .filter-controls {
      .category-title {
        color: #677986;
        margin-bottom: 15px;
      }
      .categories {
        p {
          margin: 5px;
          label {
            color: #1B232A;
          }
        }
      }
      .noUi-tooltip, .noUi-handle {
        background: #979797;
      }

      .noUi-tooltip {
        display: none;
      }

      .noUi-connect {
        background: #565656;
      }

      .threshold-label {
        text-align: right;
        margin-top: 15px;
        label {
          font-size: $font-size-small;
          color: #464343;
        }
      }
      input.browser-default {
        border: 1px solid !important;
        border-color: #dfdfdf !important;
        padding: 5px;
        width: 100%;
        margin-top: 10px;
        &:focus {
          outline: none;
        }
      }
      .input-container {
        padding: 0;
        input {
          &:focus {
            box-shadow: 0 0 5px #00a9f4 !important;
            border: 1px solid #00a9f4 !important;
          }
        }
      }

    }
  }

  .apply-filter-button {
    color: #f8f9f9;
    width: 100%;
    padding: 0 12px;
    a {
      margin: 20px 0 15px;
      &.changed {
        background: #5ABCD6 !important;
      }
    }
  }

}

.reports-main {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}

.report-number {
  text-align: right;
}

.report-number-blank {
  text-align: right;
  color: $subdued-color;
}

.report-row-genus {
  background: #F7F7F7;
}

.reports-screen {
  background: #ffffff !important;
}

.reports-table-title .result-count {
  font-size: 12px;
  color: #535353;
}

.slider-title {
  color: #535353;
  font-size: $font-size-small;
  margin: 35px 0 15px;
}

.slider-values div{
  display: inline-block;
  margin-bottom: 15px;
  color: #9B9B9B;
  font-size: $font-size-small;
  border: 1px solid rgb(200, 200,200);
  padding: 0 5px;
  background: white;
}
.slider-values .end {
  float: right;
}

.report-table {
  // min-width: 1000px;
  font-size: $font-size-small;
}

.report-table .link:hover {
  color: #0099cc;
  cursor: pointer;
}

.report-table .count-info {
  color: #A0A0A0;
}

.report-table {
  .genus-name {
    display: inline-block;
    margin-right: 5px;
  }
  .fa {
    margin-left: 2px;
    margin-right: 5px;
    font-size: $font-size-h4;
    width: 10px;
    &:hover {
      color: #444242;
    }
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
}
.report-table .species-name {
  margin-left: 40px;
}

.report-table .toggle-species {
  &:hover {
    color: #313030;
  }
}

#sort-report {
  a {
    font-size: $font-size-base;
    padding: 6px;

    .sort-title {
      display: inline-block;
      text-transform: capitalize;
    }

    .sort-icon {
      padding: 5px;
    }
  }
}

.sort-report {
  span {
    text-transform: capitalize;
    &.sort-value {
      color: #929292;
      font-size: $font-size-base;
      margin: 0 5px;
    }
  }
  &.btn-flat {
    font-size: $font-size-base;
    i {
      font-size: 13px;
    }
  }
}
#reports-pane {
  padding: 0;
}

.report-table .sort-controls {
  width: 75px;
  min-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: $font-weight-semibold;
  i {
    font-size: $font-size-h4;
    float: right;
    display: block;
    margin-right: 3px;
    &:hover, &.active {
      color: #09c;
    }
  }
}

.report-table {

  th{
    padding: 8px 6px;
  }

  td{
    padding: 8px 6px;
  }

  td, th {
    width: 75px;
    min-width:50px;
    font-size:$font-size-small;
  }

  td:first-child {
    min-width:350px;
    width:350px;
    font-size: $font-size-base;
  }

  td:last-child {
    padding-right: 50px;
  }
  th:first-child {
    min-width: 350px;
    width: 350px;
    font-size: $font-size-base;
  }
  th:last-child {
    padding-right: 50px;
  }

  input.browser-default {
    text-align: right;
    border: 1px solid !important;
    border-color: #dfdfdf !important;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
      &:focus {
        outline: none;
    }
  }
}
.genus-search-row {
  padding-left: 0 !important;
}
.threshold-row {
  background: #fff;
  border: 1px solid #D9E0E4;
  border-radius: 4px;
  margin-top: 30px;
  .thresh-values {
    color: #677986;
    padding: 18px;
    font-weight: $font-weight-semibold;
  }
}
.genus-autocomplete-container {
  display: inline-block;
  padding: 0 !important;
  &:hover {
    background: inherit !important;
  }
  div {
    display: block !important;
    input + div {
      left: inherit !important;
      top: inherit !important;
      border-bottom-left-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
      position: absolute !important;
      overflow: scroll !important;
      max-height: 400px !important;
      z-index: 500 !important;
      background: #fff !important;
      width: 245px;
      font-size: inherit !important;
      padding: 0 !important;
      margin-top: -3px;
      overflow-x: unset !important;
      div {
        padding: 8px;
        cursor: pointer;
      }
    }
    [role='combobox'] {
      // padding-left: 8px;
      outline: none;
      width: 200px;
      border: 1px solid #dce0e7;
      padding: 7px;
      padding-right: 35px;
      position: relative;
      top: -5px;
      margin: 0;
      height: 31px;
      border-radius: 17px;
      &::placeholder, &::-webkit-input-placeholder, &:-moz-placeholder, &::placeholder {
        color: #BAC7CF
      }
      &:focus {
        box-shadow: 0 0 5px #00a9f4 !important;
        border: 1px solid #00a9f4 !important;
      }
    }
  }
}

.reports-section {
  padding: 0 !important;
  .reports-count {
    .download-report {
      background: #edf8ff;
      color: rgb(3, 169, 244) !important;
      font-weight: $font-weight-semibold;
      cursor: pointer;
      margin: 10px 40px;
      display: inline-block;
      padding: 10px;
      border-radius: 3px;
      &:hover {
        background: rgb(178, 235, 242)
      }
      div {
        display: inline-block;
        margin-right: 3px;
      }
    }
    .count {
      display: inline-block;
      margin: 20px 0 0px 17px;

    }
    .download {
      float: right;
    }
    .disable {
      cursor: pointer;
      color: #414367;
      &:hover {
        color: #84d4fa;
      }
    }
  }
}

.hover-wrapper {
  cursor: pointer;
  &:hover {
    .link-tag {
      visibility: visible;
    }
  }
  .link-tag {
    visibility: hidden;
    padding: 10px;
    color: #84d4fa;
    font-size: $font-size-base;
    cursor: pointer;
    .fa-download {
      margin-left:12px;
    }
    .cloud {
      color: #84d4fa;
      font-size: $font-size-base;
      &:hover {
        color: #414367
      }
    }
  }
}

.top-filters {
  .top-filter-item {
    margin-right: 10px;
  }
  .categories-selection {
    [type=checkbox]:checked+label:before {
      // -webkit-transform: none;
      // transform: none;
    }
    .item.active {
      font-weight: normal;
    }
  }
  .search-input {
    display: inline-block;
    input {
      height: inherit;
      width: inherit;
      font-size: inherit;
      &:focus {
        border-color: #85b7d9;
        box-shadow: none !important;
        border-bottom: 1px solid #85b7d9 !important;
      }
    }
  }
}
