@import "typography";
@import "themes/colors";

.results-folder {
  .header {
    margin: 25px 75px;
    .title {
      font-size: $font-size-h3;
      color: $primary;
      .path {
        margin: 20px;
        color: $black;
        font-weight: $font-weight-thin;
      }
      .back {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    th {
      color: $gray-darkest;
    }
  }
}
.fileLink {
  cursor: pointer;
  td {
    color: $gray-darkest;
    &:hover {
      color: $primary;
    }
  }
}
.disabledFileLink {
  color: $gray-dark;
}
i.fa-file {
  margin-right: 15px;
}
.size-tag {
  color: $gray-light;
}
