@import "typography";
@import "themes/colors";

.background-cover {
  background-color: $gray-off-white;
}

#samplesUploader {
  .upload-form-container {
    margin-top: 50px;
    background: $white;
    min-height: 400px;
    border-radius: $border-radius-l;
  }
}
.bulk-upload-import,
.single-upload-import {
  .content {
    margin: 25px;
    .form-feedback {
      font-size: $font-size-base;
      margin-bottom: 15px;
      p {
        word-wrap: break-word;
        margin: 0;
        font-size: $font-size-small;
      }
    }
    .success-message {
      color: $success-medium;
      white-space: pre-wrap;
      margin-bottom: 30px;
    }
    .error-message {
      color: $error-medium;
      white-space: pre-wrap;
      border-radius: $border-radius-l;
    }
    .upload-page-button {
      margin-left: 2rem;
      top: 1rem;
      i.icon.plus:before {
        margin-right: 1rem;
        padding-right: 5rem;
      }
    }
    .form-title {
      font-size: $font-size-h3;
      color: $gray-darkest;
      font-weight: $font-weight-bold;
      letter-spacing: 0.28px;
      padding-bottom: 1rem;
    }
    .upload-info {
      color: $gray-dark;
      font-size: $font-size-base;
    }
    .upload-question {
      color: $gray-darkest;
      font-size: $font-size-small;
      margin-top: 20px;
      margin-bottom: 25px;
      a {
        font-weight: $font-weight-semibold;
      }
      a:hover {
        color: $primary !important;
      }
    }
    .bulkSubmitForm {
      margin-top: 50px;
    }
    .fields {
      .field-host {
        padding-top: 1.5rem;
      }
      .field {
        .validation-info {
          color: $gray-dark;
        }

        .row {
          .sample-upload-box {
            height: 120px;
            margin-top: 15px;
          }
          &.input-row {
            margin-top: -10px;
            .browser-default {
              width: 100%;
              padding: 10px;
              border: $border-gray-light;
              background: $white;
              border-radius: $border-radius-l;
              &.new_project_input {
                padding-right: 45px;
              }
            }
            .checkbox {
              font-size: $font-size-small;
              font-weight: $font-weight-semibold;
              color: $gray-dark;
            }
            [disabled] {
              background-color: $gray-lightest;
              border: $gray-light;
            }
            .input-icon {
              position: absolute;
              margin-left: -108px;
              margin-top: 1px;
              font-size: 13px;
              background: $gray-lightest;
              padding: 10.4px;
              height: 36px;
              text-align: center;
              border-radius: $border-radius-l;

              &:hover {
                cursor: pointer;
                background: $primary-light;
                color: $white;
              }
            }
            .public_access {
              margin-top: 5px;
            }
          }

          .proj-field {
            padding-bottom: 1.5rem;
          }

          .field-title {
            color: $black;
            font-size: $font-size-small;
            font-weight: $font-weight-semibold;
            .validation-info {
              color: $gray-dark;
            }
          }

          .field-error {
            color: $error-medium;
            font-size: $font-size-small;
          }
          .no-padding {
            padding: 0;
          }
          .example-link {
            color: $gray-dark !important;
            font-size: $font-size-small;
          }
          .new-button {
            padding: 10px;
            border: 1px solid;
            min-width: 120px;
            border-radius: $border-radius-l;
            i {
              margin-right: 5px;
            }
            &[disabled] {
              background-color: $gray-light;
              border-color: $gray-light;
            }
          }
          .secondary-button {
            background: $gray-light;
            border-color: $gray-light;
            color: $white;
            i {
              color: $primary;
            }
            &.new-project-button {
              width: 92%;
              float: right;
              font-size: $font-size-base;
              height: 45px;
              background: $gray-lightest;
              border-color: $gray-lightest;
              border-radius: $border-radius-l;
              color: $gray-dark;
              i {
                color: $gray-dark;
              }
              &:hover,
              &.active {
                background: $primary-light;
                border-color: $primary-light;
                color: $white;
                i {
                  color: $white;
                }
              }
            }
          }
          .blue-button {
            background: $primary;
            border-color: $primary;
            color: $white;
          }
          .upload-samples-button {
            margin-right: 10px;
          }
          .host-selector {
            padding-top: 0.8rem;
            li {
              border-radius: $border-radius-l;
              display: inline-block;
              margin-right: 10px;
              border: 1px solid transparent;
              padding: 5px;
              min-height: 120px;
              min-width: 120px;
              margin-bottom: 10px;
              background: $gray-lightest;
              cursor: pointer;

              .genome-label {
                color: $gray-dark;
                text-align: center;
                font-size: $font-size-small;
                margin-top: 5px;
              }
              svg {
                width: 65px;
                fill: $gray-medium;
              }

              &.active,
              &:hover {
                .genome-label {
                  color: $white;
                }
                svg {
                  fill: $white;
                }
              }

              &.active {
                background: $primary;
                border-color: $primary;
              }

              &:hover {
                background: $primary-light;
                border-color: $primary-light;
              }

              .img-container {
                text-align: center;
                background-size: contain;
                background: no-repeat center;
                padding: 10px;
              }
            }
          }
          .project-list {
            .select-wrapper {
              height: 50px;
              width: 98%;
              input {
                padding-left: 2%;
              }
            }
            .select-dropdown {
              padding-left: 2px;
              border: $border-gray-light;
              border-radius: $border-radius-l;
            }
            .caret {
              color: $gray-dark;
            }
            li {
              span {
                color: $gray-darkest;
                font-size: 13px;
              }
            }
          }
          .admin-genomes {
            .genome-label {
              font-size: $font-size-small;
              color: $gray-darkest;
              display: inline-block;
              border-right: 1px solid $gray-darkest;
              padding-right: 5px;
              margin-left: 5px;
              cursor: pointer;
              &:hover,
              &.active {
                color: $primary;
              }
            }
            .genome-label:last-child {
              border-right: 0;
              padding-right: 0;
            }
          }
        }

        .inputFileArea {
          margin-bottom: 50px;

          .bulkUploadFilePicker {
            margin-top: 15px;
            margin-bottom: 20px;
            height: 120px;
          }
        }
      }

      .upload-notes {
        font-size: 12px;
        margin-bottom: 2rem;
        color: $gray-dark;
        font-weight: 600;
      }

      .custom-select-dropdown {
        border: 1px solid transparent;
        padding: 8px;
        &:hover,
        &.active {
          box-shadow: $box-shadow-m;
        }
        &.genome-select {
          width: inherit;
          min-width: 75px;
          margin-top: -1rem;
          div {
            display: inline-block;
          }
          i {
            position: relative;

            top: -5px;
            left: 5px;
          }
        }
        i {
          color: $gray-light;
          font-weight: $font-weight-semibold;
        }
        svg {
          width: 35px;
        }
      }
      .dropdown-content {
        &.genomes {
          width: initial !important;
        }
        li {
          min-height: inherit;
          padding: 10px;
        }
      }
      .admin-fields {
        &.divider {
          margin: 20px 0;
        }
      }
      .admin-input-title {
        color: $gray-dark;
        font-size: $font-size-base;
      }
      [type="checkbox"].filled-in:checked + label:after {
        border: 2px solid $primary;
        background-color: $primary;
      }

      [type="checkbox"].filled-in + label:after {
        border: 2px solid $gray-light;
        background-color: $white;
      }
      label {
        color: $gray-darkest;
      }

      .upload-mode-title {
        color: $black;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 3.5rem;
      }
    }
  }
}

.complete,
.succeeded,
.succeeded_with_issue {
  color: $success-medium !important;
}
.failed {
  color: $error-medium !important;
}
.waiting {
  color: $primary !important;
}
.initializing {
  color: $gray-dark !important;
}
.uploading {
  color: $warning-medium !important;
}
