@import "typography";
@import "themes/colors";
/* TODO: refactor stylesheet into scss */

.background-modal-contents {
  .label-text {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .secondary-text {
    font-size: 11px;
    font-weight: normal;
    color: $light-grey;
  }
  ul {
    margin-top: 0;
  }
}

.samples-table {
  td {
    cursor: pointer;
  }
  ul.status {
    li a {
      font-size: 14px;
    }
  }
}
$break-large: 1070px;

.column_name {
  .fa-check.right {
    margin-top: 5px;
  }
}

.tabs {
  display: block !important;
  .tab {
    width: auto !important;
  }

  &.tabs-transparent {
    background: transparent;
  }

  .indicator {
    height: 4px;
    background: $primary-light !important;
  }

  .tab a {
    color: $darkest-grey;
    font-size: $font-size-base;
    padding: 0 !important;
    margin-right: 30px;
    text-transform: none !important;
    text-align: center;
  }
}

.tab-screen-content {
  .content-title {
    color: $darkest-grey;
    font-size: $font-size-h5;
    font-weight: $headings-font-weight;
    margin: 20px 0;
  }
  .last-row {
    margin-bottom: 5rem;
  }
}

.custom-button {
  color: $dark-grey !important;
  background: $white;
  border: 1px solid $light-grey;
  padding: 8px;
  margin: 7px 0;
  min-width: 11rem;
  letter-spacing: 0.43px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  font-size: 11px;
  &:hover {
    color: $darkest-grey !important;
    border-color: $medium-grey;
    background: $off-white;
  }
  &.small {
    color: $off-white !important;
    min-width: 0;
    padding: 10px 17px;
    background: $darkest-grey;
  }
  i {
    font-size: 15px;
    margin-left: 4px;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
}

.col.s12.details-container {
  padding-top: 15px;
}

.edit {
  background: $off-white-blue;
  &:hover {
    background: $primary-lightest;
  }
}

.edit-wide {
  background: $off-white-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    background: $primary-lightest;
  }
}

.details-title {
  margin-top: 10px;
}

.detail-row {
  margin: 0 !important;
  border-bottom: 1px solid $light-grey;
  .label {
    padding: 10px 0 !important;
  }
  .details-value {
    &.plain {
      padding-left: 20px;
    }
    width: 100%;
    font-weight: 600;
    margin-top: 2px;
    height: 37px;
    padding-top: 10px;
    padding-left: 10px;
    .details-text {
      width: 80%;
      display: inline;
    }
    i {
      margin-top: 3px;
      display: none;
    }
    &.select-dropdown {
      font-size: 12px;
      overflow: hidden;
      word-wrap: inherit;
      white-space: nowrap;
      border: 1px solid transparent;
      text-overflow: ellipsis;
      display: inline-block;
    }
    &.unknown {
      color: $medium-grey !important;
      font-weight: 400 !important;
    }
  }
  .custom-select-dropdown {
    padding: 8px;
    background: $off-white-blue;
    &:hover,
    &.active {
      background: $primary-lightest;
      i {
        display: inline-block;
      }
    }
  }
  .details-dropdown {
    li {
      min-height: inherit;
      padding: 10px;
      font-size: 12px;
    }
  }
}
.note {
  pre {
    font-weight: 600;
    margin-left: 5px;
    padding: 15px 5px;
    cursor: text;
  }
}

.graph .visuals {
  height: 25px;
}

.labels li,
.labels li div {
  display: inline-block;
  margin-right: 7px;
}

.labels .label-color {
  height: 15px;
  width: 15px;
}

.notes {
  width: 17% !important;
}
.sample-notes pre {
  margin: 0;
  font-family: inherit;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  white-space: -o-pre-wrap;
}

.note-action-feedback {
  width: 200px;
  color: $white;
  border-radius: 2px;
  padding: 6px;
  text-align: center;
  display: none;
  position: absolute;
}

.note-saved-success {
  background-color: $success;
  border-color: $success;
}

.note-save-failed {
  background-color: $error;
  border-color: $error;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}

.wrapper {
  position: relative;
  width: fit-content;
  .proj-title {
    margin-top: 18px;
    font-size: $font-size-h3;
    font-weight: $headings-font-weight;
    &.all-proj {
      margin-top: 18px;
    }
  }
  p {
    margin: 0;
  }
  .subheading {
    color: $dark-grey;
    font-weight: $font-weight-regular;
    text-transform: none;
  }
}

.project-menu {
  li {
    display: inline-block;
    margin-left: 8px;
    color: $dark-grey;
    .material-icons {
      position: relative;
      top: 2px;
      font-size: 16px;
    }

    &.add-member {
      cursor: pointer;
      color: $primary-light;
    }
    i {
      &.material-icons {
        color: $dark-grey;
      }
    }
  }
}

.all-filter-btn {
  height: 43px;
  width: 150px !important;
  .text {
    margin-top: 7px;
  }
  .dropdown.icon {
    margin-top: -3px !important;
  }
}

.sample-container {
  [type="checkbox"].filled-in:not(:checked) + label:after,
  [type="checkbox"].filled-in + label:after {
    height: 15px !important;
    width: 15px !important;
  }

  .sample-table-container {
    &.shadow {
      .samples-table-head {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
          0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
      }
    }
    .samples-table-head {
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      color: $darkest-grey;
    }
    .empty-message {
      color: $medium-grey;
      padding-top: 20px;
    }
  }

  .sample-feed {
    :hover {
      background: $off-white-blue !important;
    }
  }

  .sample-feed,
  .sample-feed-head {
    border-bottom: 1px solid $light-grey;
    z-index: 10;
    .samples-card {
      padding: 2px 20px 2px 20px;
      .dropdown-status-filtering li {
        display: block !important;
      }
      .dropdown-content {
        .column_name {
          min-height: inherit;
          padding: 8px 35px;
          font-size: 12px;
          &.disabled {
            color: $light-grey;
          }
          &.current {
            color: $primary-light;
          }
        }
      }
      .flex-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .check-box-container {
          [type="checkbox"].filled-in:not(:checked) + label:after,
          [type="checkbox"].filled-in:checked + label:after,
          [type="checkbox"].filled-in:checked + label:before {
            margin-top: 0.1rem;
          }
          .check {
            display: inline-block;
          }
          [type="checkbox"].filled-in:disabled:not(:checked) + label:after {
            background-color: $light-grey;
          }

          [type="checkbox"] + label {
            width: 100%;

            .sample-name-info {
              width: 100%;

              .sample-name {
                width: 90%;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .sample-name-info {
          display: inline-block;
          line-height: 24px;
        }
        li {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-child {
            flex-grow: 2;
            margin-left: 0.8rem;
            &.table-header-name {
              margin-left: 0.2rem;
              margin-right: 0.5rem;
            }
          }
          .card-label {
            &.top-label {
              font-size: 12px;
              margin-top: 0.2rem;
              margin-bottom: 5px;
              .status {
                span {
                  margin-left: 5px;
                }
              }
            }
            &.center-label {
              &.bold-label {
                font-weight: 600;
              }
              font-size: 14px;
              .blank {
                color: $light-grey;
              }
              .time {
                .duration-label {
                  color: $medium-grey;
                  margin-left: 5px;
                  font-size: 12px;
                }
                .fa {
                  color: $medium-grey;
                }
              }
              &.data-label {
                margin-top: 0.15rem;
                text-align: left;
                .percent {
                  color: $medium-grey;
                  font-size: 12px;
                }
              }
              &.data-label-percent {
                margin-top: 0.3rem;
              }
            }
            &.author {
              color: $medium-grey;
              font-size: 12px;
            }
            &.sample-name {
              color: $darkest-grey;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
            }
            &.column-title {
              cursor: pointer;
              text-align: left;
            }
            .upload-date {
              color: $medium-grey;
            }
          }
        }
      }
    }
  }

  .sample-feed {
    &:hover {
      cursor: pointer;
      .sample-name {
        color: $primary-light !important;
      }
    }
  }

  .wrapper {
    margin-bottom: 0;
  }
  ul li {
    .filter,
    .filter-item {
      display: inline-block;
      padding-left: 15px;
    }
    i.all {
      margin: 0px 0px 0 120px;
    }
    .filter {
      margin: 0px 0px 0 80px;
      color: $black;
    }
  }
  ul .dropdown-content li > a {
    font-size: 12px !important;
  }
  .sort-able {
    i,
    span {
      cursor: pointer;
    }
    i {
      margin-left: 5px;
      &.active {
        color: $primary-light;
      }
      &.hidden {
        display: none;
      }
    }
    &:hover {
      i {
        display: inline-block;
      }
    }
  }
  .table-container {
    display: flex;
    margin: 0 10px 7px;
    color: $darkest-grey;
    font-weight: 600;
    font-size: 14px;
    .status-dropdown {
      cursor: pointer;
      padding-left: 0;
      .status-filter {
        padding: 0 10px;
      }
    }
  }

  .search-box {
    display: inline-block;
    width: inherit;
    height: 50px;
    margin: 20px 0 5px 15px;
    border-radius: 3px;
    .wrapper {
      .metadata {
        border-radius: 40px;
        border: solid 1px $light-grey;
      }
    }
    .check-all {
      display: inline-block;
      float: left;
      padding: 9px 17px;
      margin: 0 10px 0px 0px;
      label {
        vertical-align: middle;
        padding-left: 16px;
      }
    }
    .search-field {
      padding-left: 20px;
      margin-right: 10px;
      .search-icon {
        position: relative;
        margin-left: 10px;
        font-size: 18px;
        top: 0.6em;
        color: $dark-grey;
      }
    }

    .icon {
      padding-top: 12px;
      display: inline-block;
      margin: 0 10px;
    }
    .search {
      border-radius: 40px;
      border: solid 1px $light-grey;
      padding-left: 32px;
      position: relative;
      top: -1.2em;
      height: 38px;
      &::placeholder {
        color: $medium-grey;
        font-family: $font-family-default;
      }
      &:focus {
        border-bottom-color: $lightest-grey;
        box-shadow: 0 1px 0 0 $lightest-grey;
        border: 1px solid $primary-light;
      }
    }

    .filter-container {
      margin-right: 10px;
      display: inline-block;
    }
  }
  input.search {
    margin: 0;
    border: 0;
  }
  .sort-controls {
    margin-right: 6px;
    i {
      font-size: 17px;
      display: block;
      line-height: 9px;
      position: relative;
      top: 0px;
      bottom: 0px;
      &:hover,
      &.active {
        color: $primary-light;
      }
    }
  }
}

input[type="button"] {
  font-family: FontAwesome, sans-serif;
  font-size: 14px;
}

.no-edit {
  font-size: 10px;
  color: $medium-grey;
}

.bottom {
  text-align: center;
  margin: 20px;
  cursor: pointer;
  color: $darkest-grey;
  .back {
    text-decoration: underline;
  }
  .home {
    text-decoration: underline;
  }
}

.no-report {
  .fa-spinner {
    color: $darkest-grey;
    cursor: pointer;
    margin-top: 30px;
  }
  .failed {
    font-weight: bold;
  }
}

.sample-wait-top {
  margin-top: 100px;
}

.complete {
  color: $success !important;
}
.failed {
  color: $error !important;
}
.waiting {
  color: $primary-light !important;
}
.initializing {
  color: $medium-grey !important;
}
.uploading {
  color: $warning !important;
}

.filter {
  &.hidden {
    display: none !important;
  }
  &.active {
    display: inline !important;
  }
}

.content-body {
  .sidebar {
    background-color: $darkest-grey;
    border-right: 1px solid $lightest-grey;
    width: 15.3em !important;
    .title {
      color: $medium-grey;
      font-weight: 700;
      font-size: 14px;
      padding: 21px 21px 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    .divider {
      margin: 5px 20px;
      height: 2px;
      background-color: $lightest-grey;
    }
    .project-wrapper {
      margin-top: 50px;
      .fav-title {
        padding-bottom: 10px !important;
      }
      .fav-row {
        .title {
          color: $white;
          padding: 21px 21px 0 21px;
          font-size: 14px;
        }
      }
      .projects {
        .title {
          color: $white;
          margin-bottom: 10px !important;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1.5px;
        }
      }
      .projects-wrapper {
        .all-samples {
          margin-bottom: 20px;
        }
        .project-item {
          border-left: 6px solid transparent;
          padding: 10px 15px !important;
          font-weight: 400;
          font-size: $font-size-base;
          color: $white;
          &:hover {
            background: $medium-grey;
            i {
              &.favorite.fa {
                display: inline;
              }
            }
          }
          &.highlight {
            background: $primary-light;
            color: $white;
            font-weight: 600;
            i {
              &.favorite.fa {
                display: inline;
                color: $white;
              }
            }
          }
          .row.label-row {
            margin-bottom: 0;
          }
          .project-label {
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 13px;
          }
        }
      }
    }

    .proj-sidebar {
      padding-top: 60px;
    }
    .more {
      font-size: $font-size-small;
      cursor: pointer;
      padding: 0 20px;
      color: $primary-lighter;
      margin-top: 20px;

      &:hover {
        color: $primary-lightest;
      }
    }
  }
  .samples-content {
    background: $white;
    -webkit-transform: unset !important;
    transform: unset !important;
    margin-left: 15.3em !important;
    width: 86.666667% !important;
    .content-wrapper {
      margin-right: 1.5rem;
      .divider {
        height: 3px;
        border: solid 4px $off-white;
      }
    }

    .filter-tags-list {
      padding-left: 20px;
      padding-bottom: 10px;
      .label-tags {
        background: $primary-light !important;
        border-color: $primary-light !important;
        color: $white;
        margin: 0.4em;
      }
    }
  }

  .project-info {
    padding-left: 20px;
    .download-section {
      .proj-title-container {
        margin-left: -0.3rem;
      }
      .angle.down.icon {
        margin-left: 0.5rem;
        margin-right: -0.3rem;
      }
      .download-wrapper {
        float: right;
        padding-top: 20px;
        .ui.labeled.icon.button > .icon {
          // Actual icon in the button
          background-color: transparent;
          font-size: 1.3em;
          margin-left: 0.4em !important;
        }
        .ui.dropdown.link.item {
          padding: 8px 16px;
          border-radius: 40px;
          border: solid 1px $primary-light;
          .text {
            color: $primary-light;
          }
          .dropdown {
            color: $primary-light;
          }
        }
        .visible {
          a.item {
            color: $black;
          }
        }
        .ui.dropdown .text {
          // The text in the button
          font-size: 1.2em;
          margin-top: 0.3em;
          padding: 3px 0.05em 0.05em;
        }
        .download-btn {
          // The whole button
          width: 162px;
          height: 38px;
          color: $primary-light;
          background-color: transparent;
          padding: 9px 9px 9px 5em;
          min-height: 39px !important;
          border: 1px solid $primary-light !important;
        }
        .download-reports {
          color: $primary-light;
        }
      }
      .download-section-btns {
        padding-right: 12px;
        .right {
          padding: 0 16px;
          width: 100%;
          text-align: right;
          ul.project-menu {
            margin-bottom: 0;
          }
        }
      }

      padding-top: 15px;

      .button-container {
        float: right;
        padding-right: 10px;
        padding-top: 20px;
      }
    }
  }
}

.fa-star {
  margin-top: 4px;
  color: $primary-light;
}

.fa-star-o {
  margin-top: 4px;
}

.add-user-modal {
  width: 35% !important;
  box-shadow: 1px 1px 7px 2px $white;
  color: $darkest-grey;
  border-radius: 0;
  margin: 0 auto !important;
  top: 30% !important;
}

#add_user_to_project_name,
#add_user_to_project_email {
  height: 15px !important;
}

.project-popup {
  width: 30%;
  box-shadow: 1px 1px 7px 2px $white;
  color: $darkest-grey;
  border-radius: 0px;
  top: 25% !important;
  .project_modal_header {
    font-size: $font-size-h5;
    font-weight: $font-weight-semibold;
    margin-bottom: 10px;
  }

  .project_modal_title {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
  }
  .project_modal_visibility {
    float: right;
    div {
      float: right;
      clear: both;
    }
    i.material-icons {
      font-size: $font-size-base;
      position: relative;
      top: 2px;
      color: $light-grey;
    }
    .label {
      color: $medium-grey;
      margin-left: 5px;
    }
    a {
      margin-left: 5px;
      color: $primary-light !important;
      &:hover {
        color: $primary-medium !important;
      }
    }
  }

  .add_member {
    margin-top: 15px;
    input {
      border: 1px solid $light-grey;
      padding: 12px;
      border-radius: 3px;
      padding-right: 110px;
      &::placeholder {
        color: $light-grey;
        font-weight: 400;
      }
      &:focus {
        border-color: $primary-light !important;
      }
    }
    .error-message {
      color: $error;
      float: left;
      margin-top: 5px;
      font-size: $font-size-small;
    }
    .status-message {
      float: left;
      width: 100%;
      font-size: $font-size-small;
      margin-top: 5px;
      color: $dark-grey;
    }
  }
  .members_list {
    .list_title {
      font-size: 16px;
      font-weight: $font-weight-semibold;
      i {
        position: relative;
        top: 4px;
        font-size: 1.4rem;
      }
    }
    li {
      font-weight: 600;
      font-size: $font-size-small;
    }
  }
}

[type="checkbox"].filled-in:not(:checked) + label:after {
  top: 4px;
  background-color: transparent;
  border: 1px solid $dark-grey;
  z-index: 0;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 4px;
  border: 1px solid $primary-light;
  background-color: $primary-light;
  &.check-all {
    padding: 10px 21px 8px 16px;
  }
}

[type="checkbox"].filled-in:checked + label:before {
  top: 4px;
  height: 10px;
  left: 0;
}

[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  -webkit-transition: none;
  transition: none;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 14px;
}

.nanobar .bar {
  background-color: $primary-light;
}

.ui.popup.hidden-popup {
  display: none !important;
}

#report-tree {
  .filters {
    margin-bottom: -4em;
  }
}

#PipelineSampleReads_page .active-threshold-filter-dropdown {
  width: 200px;
}

#id-seq .ui.dropdown.version-dropdown {
  border: none;
  padding-left: 0;

  > .text {
    font-weight: 400;
    line-height: 20px;
    font-size: 12px !important;
    font-family: "Open Sans", serif;
  }

  .item {
    font-weight: 600;
  }
}
