@import "variables";
/* TODO: refactor stylesheet into scss */

.samples-table {
  td {
    cursor: pointer;
  }
  ul.status {
    li a{
      font-size: 14px;
    }
  }
}
$break-large: 1070px;

.tabs {
  display: block !important;
  .tab {
    width: auto !important;
  }

  &.tabs-transparent {
    background: transparent;
  }

  .indicator {
    height: 4px;
    background: #3867fa !important;
  }

  .tab a {
    color: #333333;
    font-size: $font-size-base;
    padding: 0 !important;
    margin-right: 30px;
    text-transform: none !important;
    text-align: center;
  }
}

.tab-screen {
  background: #f8f9f9;
  margin-top: 5px;
}

.tab-screen-content {
  .content-title{
    color: #313E49;
    font-size: $font-size-h5;
    font-weight: $headings-font-weight;
    margin: 25px 0;
  }
}

.custom-button {
  color: #424468 !important;
  background: #ffffff;
  border: 1px solid #D9DEE5;
  padding: 8px;
  margin: 7px 0;
  min-width: 100%;
  letter-spacing: 0.43px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  font-size: 11px;
  &:hover {
    color: #232333 !important;
    border-color: #bfc3c9;
    background: #fcfcfc;
  }
  &.small {
    color: #F8F9F9 !important;
    min-width: 0;
    padding: 10px 17px;
    background: #424468;
  }
  &.download {
    min-width: 0;
    background: #edf8ff;
    color: rgb(3, 169, 244) !important;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 40px;
    &:hover {
      background: rgb(178, 235, 242)
    }
  }
  i{
    font-size: 15px;
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.detail-row {
  margin: 0 !important;
  border-bottom: 1px solid #CAD0DA;
  padding: 10px 0;
  .label{
    padding: 10px 0 !important;
  }
  .details-value {
    width: 100%;
    font-weight: 600;
    margin-top: 2px;
    .hack {
      width: 80%;
      display: inline;
    }
    i {
      margin-top: 3px;
      display: none;
    }
    &.select-dropdown {
      font-size: 12px;
      overflow: hidden;
      word-wrap: inherit;
      white-space: nowrap;
      border: 1px solid transparent;
      text-overflow: ellipsis;
      display: inline-block;
    }
    &.unknown {
      color: #9B9B9B !important;
      font-weight: 400 !important;
    }
  }
  .custom-select-dropdown {
    padding: 8px;
    &:hover, &.active {
      border: 1px solid #5ABCD6;
      background: #D6EEF5;
      color: #5ABCD6;
      i {
        display: inline-block;
      }
    }
  }
  .details-dropdown {
    li {
      min-height: inherit;
      padding: 10px;
      font-size: 12px;
    }
  }
}
.note {
  pre {
    font-weight: 600;
    margin-left: 5px;
    border: 1px solid transparent;
    padding: 15px 5px;
    cursor: text;
    &:hover {
      border-color: #CAD0DA;
    }
  }
}
.data-divider {
  background: #D6D6D6;
  font-weight: lighter;
  margin: 10px 0 30px 0;
}


.data table tr td:nth-child(odd) {
  color: #252424 !important;
}

.data table tr td:nth-child(even) {
  color: #767676 !important;
}

.data table tr td:nth-child(odd) {
  width: 37%;
}

.data table {
  font-size: 14px;
}

.genome-breakdown {
  background: #F5F5F5;
  padding: 10px;
}

.dark-gray {
  background: #535353;
}

.light-gray {
  background: #D6D6D6;
}

.normal-gray {
  background: #767676;
}

.mid-gray {
  background: #B8B8B8;
}

.graph .visuals {
  height: 25px;
}

.labels li, .labels li div {
  display: inline-block;
  margin-right: 7px;
}

.labels li {

}

.labels .label-color {
  height: 15px;
  width: 15px;
}

.read-count {
  color: #252424;
  font-size: 12px;
}


.read-label {
  color: #767676;
  font-size: 12px;
  display: inline-block;
  margin-left: 4px;
}

.notes {
  width: 17% !important;
}
.sample-notes pre {
  margin: 0;
  font-family: inherit;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  white-space: -o-pre-wrap;
}

.note-action-feedback {
  width: 200px;
  color: #fff;
  border-radius: 2px;
  padding: 6px;
  text-align: center;
  display: none;
  position: absolute;
}

.note-saved-success {
  background-color: #4caf50;
  border-color: #449d48;
}

.note-saved-failed {
  background-color: #f44336;
  border-color: #f32c1e;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}

.wrapper {
  position: relative;
  width: fit-content;
  .proj-title {
    margin-top: 18px;
    font-size: $font-size-h3;
    font-weight: $headings-font-weight;
    &.all-proj {
      margin-top: 18px;
    }
  }
  p {
    margin: 0;
  }
  .subheading {
    color: $subdued-color;
    font-weight: $font-weight-regular;
    text-transform: none;
  }
}

.form-wrapper {
  width: 70%;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 2px #eaeaea;
  border-radius: 4px;
  margin-top: 20px;
  .title {
    padding: 25px 35px;
    p.signup {
      font-size: 24px;
      font-weight: bold;
      color: #414367;
      margin-top: 9px;
      text-align: left;
    }
    span.single {
      float: right;
      text-decoration: underline;
      color: #a2a1bf;
      cursor: pointer;
      &:hover, &.active {
        color: #414367;
      }
    }
  }
  .content-wrapper {
    padding: 40px 50px;
    .name {
      margin-top: 16px;
    }
    .sample {
      float: right;
      padding-top: 20px;
    }
    .all {
      padding: 0;
    }
    .project-input {
      margin-top: 50px;
    }
    .add-icon {
      border: none;
      cursor: pointer;
      color: white;
      background-color: #4caf50;
      position: relative;
      border-radius: 4px;
      padding: 7px;
      margin-top: 67px;
      @media screen and (max-width: $break-large) {
        padding: 5px;
      }
    }
    .align {
      margin: 0px 9px;
      padding: 0px 0 10px 0px;
    }
    input.path {
      margin: 0
    }
    span.path_label {
      font-size: 9px;
      color: #4a91cc;
    }
    .header {
      border-bottom: 1px solid #646464;
      .sample-title {
        padding-left: 0px;
        span.name {
          margin: 20px;
        }
      }
    }
  }
  .login-wrapper {
    background: #A2A1BF;
    padding: 15px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    &.disabled {
      background: $subdued-color;
      cursor: none;
    }
  }

  input {
    margin-bottom: 0px;
  }
  .field-row {
    margin-top: 0;
    margin-bottom: 0;
    .sample-names {
      margin: 0;
      padding-top: 20px;
      padding-left: 0;
      border-bottom: 1px solid #9e9e9e;
    }
  }
  .genome-list {
    margin-top: 16px;
    select {
      border: 1px solid #9e9e9e;
    }
  }
  .project-list {
    margin-top: 65px;
    ul.select-dropdown {
      height: 200px;
      overflow: scroll;
    }
  }
  .project-wrapper {
    margin: 35px 0;
    span {
      float: right;
      height: 0;
      i {
        cursor: pointer;
        margin: 30px 0;
      }
    }
    .add {
      color: #5ABCD6;
    }
  }
  .title {
    margin-bottom: 0;
  }
  .error-info {
    width: 40%;
  }
  .success-info {
    width: 40%;
  }
  .sample-row {

    .select-wrapper input.select-dropdown {
      margin: 0;
      // border-bottom: 0;
    }
  }
}

.project-menu {
  li {
    display: inline-block;
    margin-left: 8px;
    color: $subdued-color;
    .material-icons {
      position: relative;
      top: 2px;
      font-size: 16px;
    }

    &.add-member {
      cursor: pointer;
      color: #4A90E2
    }
    i {
      &.material-icons {
        color: #767878;
      }
    }
  }
}

.sample-container {
  .metadata {
    position: relative;    
    .metadata-dropdown {
      display: inline-block;
    }
    i {
      float: right;
      vertical-align: middle;
      padding-top: 4px;
    }
    cursor:pointer;
    padding: 11px;
    border: 1px solid #cfd9e4;
    .metadata-options {
      margin-top: 12px;
      padding: 15px;
      width: 500px!important;
      position: absolute;
      background-color: #f9f9f9;
      z-index: 100;
      border-radius: 3px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      height: 300px;
      overflow: scroll;
      .col.s6 {
        .options-wrapper {
          label {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .title-wrapper {
    margin-bottom: 50px;
    .title {
      font-size: 25px;
      font-weight: 600;
      padding: 10px 10px 0;
    }
    .title-filter {
      padding: 0 10px;
    }
  }
  .download-table {
    float: right;
    padding-right: 10px;
    float: right;
    .download-project {
      cursor: pointer;
      padding: 11px;
      display: block;
      background: #f4f4f4;
      border: 1px solid #d9d9d9;
      color: #525f6a !important;
      span {
        margin: 10px;
      }
      i {
        margin-right: 4px;
      }
      &:hover {
        border: 1px solid #adadad;
        background: #f1f0f0;
      }
    }

    .compare {
      cursor: pointer;
      padding: 11px;
      display: block;
      background: #edf8ff;
      border: 1px solid #d9d9d9;
      color:  rgb(3, 169, 244) !important;
        &:hover {
          background: rgb(178, 235, 242)
        }
    }
    .download-progress {
      cursor: pointer;
      padding: 13px;
      border: 1px solid transparent;
      font-size: 12px;
      color: #fff;
      text-align: center;
      display: none;
      background-color: #26a69a;
      border-color: #26a69a;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .sample-table-container {
    &.shadow {
      .samples-table-head {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      }
    }
    .samples-table-head {
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      color: $headings-color;
    }
  }

  .sample-feed, .sample-feed-head {
    border-bottom: 2px solid #edf1f2;
    z-index: 10;
    .samples-card {
      padding: 5px 20px;
      .dropdown-status-filtering li {
        display: block !important;
      }
      .dropdown-content {
        .column_name {
          min-height: inherit;
          padding: 8px 35px;
          font-size: 12px;
          &.disabled{
            color: #cfcfcf;
          }
          &.current{
            color: #4b7583;
          }
        }
      }
      .flex-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .check-box-container {
          .check {
            display: inline-block
          }
        }
        .sample-name-info {
          display: inline-block;
        }
        li {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-child {
            flex-grow: 2;
          }
          .card-label {
            &.top-label{
              color: #9FA9BA;
              font-size: 12px;
              margin-bottom: 7px;
              .status {
                span {
                  margin-left: 5px;

                }
              }
            }
            &.center-label {
              font-size: 13px;
              .blank {
                color: #b5b0b0
              }
              .time {
                .duration-label {
                  color: $subdued-color;
                  margin-left: 5px;
                  font-size: 12px;
                }
                .fa{
                  color: $subdued-color;
                }
              }
              &.data-label {
                text-align: left;
                .percent {
                  color: #188fd8;
                }
              }
            }
            &.author {
              color: $subdued-color;
              font-size: 11px;
            }
            &.sample-name {
              color: $body-color;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-right: 20px;
            }
            &.column-title {
              cursor: pointer;
              text-align: left
            }
            .project-name {
              background-color: #E7F5FE;
              padding: 3px;
              color: #14ABF4;
              font-size: 13px;
              margin-right: 5px;
            }
            .upload-date {
              color:$subdued-color;
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .sample-feed {
    &:hover {
      cursor: pointer;
      .sample-name{
        color: #188fd8 !important;
      }
    }
  }
  .title-wrapper {
    margin-bottom: 50px;
    .title {
      font-size: 25px;
      font-weight: 600;
      padding: 10px 10px 0;
    }
    .title-filter {
      padding: 0 10px;
    }
  }
  .wrapper {
    margin-bottom: 0;

  }
  ul li {
    .filter, .filter-item {
      display: inline-block;
      padding-left: 15px;
    }
    i.all {
      margin: 0px 0px 0 120px;
    }
    .filter {
      margin: 0px 0px 0 80px;
      color: #070a0a;
    }
  }
  ul .dropdown-content li > a {
    font-size: 12px !important;
  }
  .sort-able {
    i, span {
      cursor: pointer;
    }
    i {
      margin-left: 5px;
      &.active {
        color: #09c;
      }
      &.hidden {
        display: none;
      }
    }
    &:hover {
      i {
        display: inline-block;
      }
    }
  }
  .table-container {
    display: flex;
    margin: 0 10px 7px;
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    .status-dropdown {
      cursor: pointer;
      padding-left: 0;
      .status-filter {
        padding: 0 10px
      }
    }
  }

  .search-box {
    padding-left: 20px;
    display: inline-block;
    width: inherit;
    margin: 20px 0 5px;
    border-radius: 3px;
    .check-all {
      display: inline-block;
      float: left;
      border: 1px solid #ddd;
      padding: 9px 12px;
      margin: 0 10px 0px 0px;
      label {
        vertical-align: middle;
      }
    }
    .search-field {
      padding-left: 20px;
      margin-right: 10px;
      .search-icon {
        position: absolute;
        margin-left: 10px;
        margin-top: 14px;
        font-size: 18px;
        color: $subdued-color;
      }
    }

    .icon {
      padding-top: 12px;
      display: inline-block;
      margin: 0 10px;
    }
    .search {
      border: 2px solid $light-gray3;
      padding-left: 32px;
      &::placeholder {
        color: #d0d9de;
      }
      &:focus {
        border-bottom-color: $light-gray3;
        box-shadow: 0 1px 0 0 $light-gray3;
      }
    }
  }
  input.search {
    margin: 0;
    border: 0;
  }
  .sort-controls {
    margin-right: 6px;
    i {
      font-size: 17px;
      display: block;
      line-height: 9px;
      position: relative;
      top: 0px;
      bottom: 0px;
      &:hover, &.active {
        color: #09c;
      }
    }
  }

}

input[type="button"] {
  font-family: FontAwesome;
  font-size: 14px;
}

.no-edit {
  font-size: 10px;
  color: #9e9e9e;
}

.bottom {
  text-align: center;
  margin: 20px;
  cursor: pointer;
  color: #424468;
  .back {
    text-decoration: underline;
  }
  .home {
    text-decoration: underline
  }
}

.no-report {
  .fa-spinner {
    color: #414367;
    cursor: pointer;
  }
  .failed {
    font-weight: bold;
  }
}

.complete {
  color: #19d219 !important;
}
.failed {
  color: #ad1818 !important;
}
.waiting {
  color: #3f51b5 !important;
}
.initializing {
  color: #9e9e9e !important;
}
.uploading {
  color: #e2a32e !important;
}

.filter {
  &.hidden {
    display: none !important;
  }
  &.active {
    display: inline !important;
  }
}

.content-body {
  .sidebar {
    background: $light-gray4;
    position: sticky;
    z-index: 1;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
    min-height: -webkit-fill-available !important;
    border-right: 1px solid #eaeaea;
    .title {
      color: $gray3;
      font-weight: 600;
      padding-left: 20px;
      font-size: $font-size-h6;
      padding-top: 20px;
      // color: $subdued-color;
      text-transform: uppercase;
    }
    .divider {
      margin: 5px 20px;
      height: 2px;
      background-color: $light-gray3;
    }
    .project-wrapper {
      .fav-row {
        .title {
          color: $gray3;
        }
      }
      .projects-wrapper {
        .all-samples {
          margin-bottom: 20px;
        }
        .project-item {
          border-left: 6px solid transparent;
          padding: 10px 15px !important;
          font-weight: 400;
          font-size: $font-size-base;
          color: $body-color;
          &:hover {
            background: $gray5;
            i {
              &.favorite.fa {
                display: inline;
              }
            }
          }
          &.highlight {
            background: #d8e5ea;
            border-left-color: #59bcd6;
            color: #434748;
            font-weight: 600;
            i {
              &.favorite.fa {
                display: inline;
              }
            }
          }
          .project-label {
            cursor: pointer;
          }
        }
      }
    }


    .highlight-text {
      color: #2d93d2;
    }
    .more {
      font-size: $font-size-small;
      cursor: pointer;
      padding: 0 20px;
      color: #4ba4c2;
      margin-top: 20px;

    }
  }
  .samples-content {
    background: #fff;
  }
  .project-info {
    padding-left: 20px;
  }
}

.fa-star{
  color: #9f9f43;
}

.project-popup {
  width: 30%;
  box-shadow: 1px 1px 7px 2px #fff;
  color: #353535;
  border-radius: 0px;
  top: 25% !important;
  .project_modal_header {
    font-size: $font-size-large;
    font-weight: bold;
    margin-bottom: 10px
  }

  .project_modal_title {
    font-size: $font-size-h6;
    font-weight: bold;
  }
  .project_modal_visiblity {
    i.material-icons {
      font-size: $font-size-base;
      position: relative;
      top: 2px;
      color: #b8b8b8;
    }
    .label{
      color: #949494;
      margin-left: 5px;
    }
    a {
      margin-left: 5px;
      color: #66aed6 !important;
      &:hover{
        color: #548fb0 !important;
      }
    }
  }

  .add_member {
    margin-top: 15px;
    input {
      border: 1px solid #ced4da;
      padding: 12px;
      border-radius: 3px;
      padding-right: 110px;
      &::placeholder {
        color: #c0c0c0;
        font-weight: 400;
      }
    }
    .add_member_action {
      position: absolute;
      margin-left: -100px;
      margin-top: 1px;
      background: #e9ecef;
      padding: 12px;
      font-size: $font-size-small;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border: 1px solid #ced4da;
      color: #495057;
      &:hover {
        background: #d9dbdd;
        border-color: #c3c8cc;
        cursor: pointer;
      }
    }
    .error-message {
      color: #d9534f;
      float: left;
      margin-top: 5px;
      font-size: $font-size-small;
    }
    .status-message {
      float: left;
      width: 100%;
      font-size: $font-size-small;
      margin-top: 5px;
      color: #6b6b6b;
    }
  }
  .members_list {
    .list_title {
      font-size: $font-size-h5;
      font-weight: $font-weight-bold;
      i {
        position: relative;
        top: 4px;
        font-size: 1.4rem;
      }

    }
    li {
      font-weight: 600;
      font-size: $font-size-small;
    }
  }
  .modal-close {
    border: 1px solid #b6d8eb;
    background: #288ec5;
    color: #ecf5f9;
    padding: 5px;
    border-radius: 4px;
    font-size: $font-size-base;
    min-width: 110px;
  }
}

[type=checkbox].filled-in:not(:checked)+label:after {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 4px;
    z-index: 0;
}

[type=checkbox].filled-in:checked+label:after {
    top: 0;
    width: 16px;
    height: 16px;
    border: 10px solid #188fd8;
    background-color: #188fd8;
}