@import "typography";
@import "themes/colors";

.complete,
.succeeded,
.succeeded_with_issue {
  color: $success-medium !important;
}

.failed {
  color: $error-medium !important;
}

.waiting {
  color: $primary !important;
}

.initializing {
  color: $gray-dark !important;
}

.uploading {
  color: $warning-medium !important;
}
