@import "~rc-slider/assets/index.css";

.labeled-slider {
  margin: 0 15px;

  .rc-slider-rail {
    background-color: #e0e0e0;
  }

  .rc-slider-track {
    background-color: #597dfa;
  }

  .rc-slider-handle {
    border: solid 4px #597dfa;
  }
}
