.D3Heatmap {
  svg {
    display: block;
    margin: 0 auto;
  }
  /* disable text selection */
  svg *::selection {
     background : transparent;
  }

  svg *::-moz-selection {
     background:transparent;
  }

  svg *::-webkit-selection {
     background:transparent;
  }
  rect.selection {
    stroke          : #333;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
  }

  rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;
  }

  rect.cell-selected {
    stroke: rgb(51,102,153);
    stroke-width:0.5px;
  }

  rect.cell-hover {
    stroke: #F00;
    stroke-width:0.3px;
  }

  text.mono {
    font-size: 9pt;
    fill: #aaa;
  }

  text.text-selected {
    fill: #000;
  }

  text.text-highlight {
    fill: #c00;
  }
  text.text-hover {
    fill: #00C;
  }
  .heatmap-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(255,255,255, 0.75);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }

  #tooltip.hidden {
    display: none;
  }

  #tooltip p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
  }
}