@import "themes/colors";

.scatterplot {
  .trendline {
    stroke: $primary-light;
    stroke-width: 2;
    fill: none;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: $black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 10px;
  }

  .text-label {
    font-size: 10px;
  }

  .point {
    stroke: $black;
    stroke-width: 1px;
    fill: $white;
    &:hover {
      fill: $primary-light;
    }
  }
}

.mono {
  font-size: 8pt;
}

#project-visualization {
  .heatmap-legend {
    padding: 5px 0 0 0;
    margin-bottom: -10px;
  }
  .heatmap-header {
    padding: 10px 2em 30px 2em;
    .button {
      margin-top: 20px;
      float: right;
    }
    h2 {
      font-size: 24px;
    }
  }
  .sub-menu {
    padding: 10px;
    background: $white;
    margin: 0;
  }
  .visualization-content {
    margin-top: 2em;
  }
  select {
    display: block;
  }
}

#PipelineSampleReads_page {
  .d3-tree {
    border: 1px solid $lightest-grey;
    margin: 1em 0;
  }
  .data-type-chooser {
    margin: 1em;
    position: absolute;
  }
}
