@import "themes/colors";

.scatterplot {
  .trendline {
    stroke: $primary-light;
    stroke-width: 2;
    fill: none;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: $black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 10px;
  }

  .text-label {
    font-size: 10px;
  }

  .point {
    stroke: $black;
    stroke-width: 1px;
    fill: $white;
    &:hover {
      fill: $primary-light;
    }
  }
}

.mono {
  font-size: 8pt;
}

#project-visualization {
  .heatmap-legend {
    padding: 5px 0 0 0;
    margin-bottom: -10px;
  }
  .heatmap-header {
    padding: 10px 2em 30px 2em;
    .button {
      margin-top: 20px;
      float: right;
    }
    h2 {
      font-size: 24px;
    }
  }
  .sub-menu {
    padding: 1em;
    border: 1px solid $lightest-grey;
    border-width: 1px 0;
    background: $white;
    margin: 0;

    .s2 {
      width: auto;
      min-width: 15%;
    }

    .s3 {
      width: auto;
      min-width: 20%;
    }
  }
  .visualization-content {
    margin-top: 2em;
  }
  select {
    display: block;
  }
}
.heatmap {
  overflow: auto;
  margin-bottom: 10rem;

  .node {
    font: 10px sans-serif;
  }
  .link {
    padding: 5px;
    fill: $white;
    stroke: $light-grey;
    stroke-width: 1px;
    &.link-hover {
      stroke: $primary-light;
    }
  }
  .colLabel {
    &:hover {
      cursor: pointer;
    }
  }
  svg {
    display: block;
    margin: 0 auto;
  }
  /* disable text selection */
  svg *::selection {
    background: transparent;
  }

  svg *::-moz-selection {
    background: transparent;
  }

  svg *::-webkit-selection {
    background: transparent;
  }
  rect.selection {
    stroke: $darkest-grey;
    stroke-dasharray: 4px;
    stroke-opacity: 0.5;
    fill: transparent;
  }
  &.highlighting .cell {
    opacity: 0.05;
    &.highlight {
      opacity: 1;
    }
  }

  rect.cell-border {
    stroke: $light-grey;
    stroke-width: 0.25px;
  }

  rect.cell-hover {
    stroke: $primary-light;
    stroke-width: 0.25px;
    cursor: pointer;
  }

  .rowLabelg {
    .removeLink {
      display: none;
    }
    &.text-hover .removeLink {
      display: block;
      cursor: pointer;
    }
  }
  text.text-selected {
    fill: $black;
  }
  .text-hover.mono,
  .text-hover text,
  text.text-highlight {
    fill: $primary-light;
  }

  .heatmap-tooltip {
    position: absolute;
    min-width: 200px;
    height: auto;
    padding: 10px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px $light-grey;
    pointer-events: none;
  }

  #tooltip.hidden {
    display: none;
  }

  #tooltip p {
    margin: 0;
    font-size: 10px;
    line-height: 20px;
  }

  .heatmap-tooltips {
    max-width: 300px;
    font-size: 0.9rem;
    ul {
      margin: 0.5em 0 0 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        label {
          display: inline-block;
          width: 70px;
          font-weight: 600;
        }
      }
    }
  }
}

#PipelineSampleReads_page {
  .d3-tree {
    border: 1px solid $lightest-grey;
    margin: 1em 0;
  }
  .data-type-chooser {
    margin: 1em;
    position: absolute;
  }
}
