@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.introContainer {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding: 60px 5% 40px 5%;

  @media (max-width: 992px) {
    flex-direction: column;
    width: auto;
    padding: 30px 5%;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: #545454;
    max-width: 360px;
    margin-bottom: 40px;

    @media (max-width: 992px) {
      max-width: none;
    }
  }

  span {
    text-transform: uppercase;
    color: #545454;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
    font-family: $font-family-sans-serif;

    @media (max-width: 992px) {
      text-align: center;
      display: block;
      margin-bottom: 20px;
    }
  }
}

.introTextWrap {
  position: relative;
  z-index: 2;
  min-width: 0;

  @media (min-width: 992px) {
    width: 47%;
  }

  .introTextLink {
    color: #3867fa !important;
  }
}

.logoLinkContainer {
  display: flex;
  margin-top: 15px;

  @media (max-width: 992px) {
    justify-content: center;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 141px;
  height: 70px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  transition: 0.35s;

  & + .logoLink {
    margin-left: 12px;

    @media (max-width: 500px) {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  &:first-of-type {
    img {
      width: 112px;
      height: auto;
    }
  }

  &:nth-of-type(2) {
    img {
      width: 70px;
      height: auto;
    }
  }

  &:last-of-type {
    img {
      width: 103px;
      height: auto;
    }
  }

  &:hover {
    border-color: $gray-light;
  }
}

.mapContainer {
  width: 100%;
  position: relative;

  .impactMap {
    width: 100%;
    height: auto;

    &Dot {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      outline: 1px solid transparent;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        &.cycle1 {
          outline: 10px solid rgba(60, 179, 113, 0.2);
        }

        &.cycle2 {
          outline: 10px solid rgba(56, 103, 250, 0.2);
        }

        .impactMapDotLabel {
          opacity: 1;
        }
      }

      &.cycle1 {
        background-color: #3cb371;

        .impactMapDotLabel {
          background: rgba(60, 179, 113, 0.2);
        }
      }

      &.cycle2 {
        background-color: #3867fa;

        .impactMapDotLabel {
          background: rgba(56, 103, 250, 0.2);
        }
      }

      &Label {
        display: inline-block;
        opacity: 0;
        transition: 0.2s;
        padding: 7px 20px;
        border-radius: 19px 19px 19px 0;
        bottom: 3.5rem;
        left: 0.4rem;
        position: relative;
        pointer-events: none;
        color: #000000;
        text-transform: none;
        letter-spacing: 0.28px;
        width: max-content;
      }
    }

    &Legend {
      display: flex;
      position: absolute;
      bottom: -10%;
      right: 18%;

      @media (min-width: 992px) {
        bottom: 0;
      }

      &Item {
        display: flex;
        align-items: center;
        margin-left: 18px;

        span.impactMapDot {
          position: relative;
          display: inline-block;
        }
      }

      &Text {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: #767676;
        margin-bottom: 0;
        text-transform: none;
        margin-left: 7.5px;
      }
    }
  }

  @media (max-width: 1260px) {
    right: 0;
  }

  @media (max-width: 992px) {
    position: relative;
    margin: 40px auto 0 auto;
  }
}
