@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

li.navLink {
  @include font-body-xs;
  padding-left: $sds-spaces-l;
  max-width: 180px;
  height: 20px;
  margin-left: -$sds-spaces-xxxs;

  &.currentNavItem {
    border-left: 2px solid $primary;
    color: $black;
    font-weight: $font-weight-semibold;
  }

  &.navItem {
    border-left: 2px solid $gray-lightest;
    color: $gray-dark !important;
  }

  &:hover {
    border-left: 2px solid $gray-medium;
    color: $black !important;
  }

  &:not(:last-child) {
    margin-bottom: $sds-spaces-m;
  }
}
