@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.navWrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navTitle {
  @include font-header-xs;
  color: $gray-dark;
  margin-bottom: $space-xl;
  min-width: 110px;
}

.navLinksContainer {
  display: block;
  border-left: 2px solid $gray-lightest;
}
