@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.title {
  font: $sds-font-header-s-600-font;
}

.container {
  width: 412px;
  padding: $sds-spaces-m;
}

.thresholdButtons {
  /* Override row css */
  margin-top: $sds-spaces-xxl;
}
.button {
  margin-left: $sds-spaces-m;

  &:first-child {
    margin-left: 0;
  }
}

.filterTagsContainer {
  margin-top: $sds-spaces-s;
  margin-bottom: $sds-spaces-xs;
  padding-left: $sds-spaces-s;
  display: flex;
  flex-wrap: wrap;
}

.filterTag {
  margin-bottom: $sds-spaces-s;
  width: max-content;
  font: $sds-font-body-xs-400-font;
}
