@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.resultsContainer {
  color: $black;

  .section {
    margin-bottom: 45px;

    .title {
      @include font-header-l;
      margin-bottom: $space-l;

      .helpIcon {
        display: inline;
        margin-left: $space-xxs;

        &.lower {
          vertical-align: -$space-xxxxs;
        }

        svg:hover {
          fill: $primary;
        }
      }
    }

    .subheader {
      @include font-header-s;
    }

    .body {
      @include font-body-s;
      margin-bottom: $space-l;
    }

    .offsetBody {
      @include font-body-s;
      margin-bottom: $space-l;
      margin-left: $space-xl;

      .emphasis {
        font-weight: $font-weight-semibold;
      }
    }

    .helpIcon {
      margin-bottom: 4px;
      margin-left: 5px;
      height: 14px;
    }

    .metricsTable {
      height: 110px;
      padding: $space-xl;

      .tableHeader {
        border-bottom: 1px solid $gray-lightest;

        .tableHeaderRow {
          border-bottom: 1px solid $gray-lightest;
        }

        .tableHeaderLabel {
          @include font-header-xs;
          vertical-align: inherit;
        }
      }

      .tableGrid {
        overflow: hidden !important;
        outline: none;
      }

      .tableRow {
        border-bottom: 0;

        // Override base_table.scss
        &:global(.ReactVirtualized__Table__headerRow) {
          border-bottom: 1px solid $gray-lightest;
        }

        &:hover {
          background-color: inherit;
        }

        .cell {
          @include font-header-s;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .primaryHeader {
        text-align: left;
      }
    }
  }

  .coverageContainer {
    height: 370px;
    padding: $space-xl;

    .metrics {
      display: flex;
      margin-bottom: $space-m;

      .column {
        flex: 1 1 0;
        min-width: 0;
        margin-right: $space-m;

        &:last-child {
          margin-right: 0;
        }
      }

      .metric {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 $space-m;

        &:first-child {
          background-color: $gray-off-white;
        }

        .label,
        .value {
          flex: 1 1 0;
          min-width: 0;
          cursor: default;
        }

        .label {
          @include font-header-xxs;
        }

        .value {
          @include font-body-xxs;
        }
      }
    }

    .coverageVizHistogram {
      height: 285px;
      background-color: $gray-off-white;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .learnMoreContainer {
    text-align: right;

    .learnMoreLink {
      @include font-header-xxs;
    }
  }
}

.hoverTooltip {
  position: fixed;
  background-color: $white;
  z-index: 100;
  // So the tooltip appears on the top-right instead of bottom-right of mouse.
  transform: translateY(-100%);
}

.raisedContainer {
  border-radius: $border-radius-m;
  border: 1px solid $gray-lightest;
  box-shadow: $box-shadow-s;
}

.iconAlert {
  width: $icon-l;
}
