@import "~styles/typography";
@import "~styles/themes/colors";

.hoverActions {
  color: $primary;
  font-size: $font-size-base;

  .actionDot {
    margin-left: 7px;
    font-size: 15px;
    display: inline-block;
  }

  .disabled {
    color: $gray-light;
  }

  .icon {
    height: 14px;
    width: 14px;

    fill: $primary;

    &.disabled {
      fill: $gray-light;
    }

    &:not(.disabled) {
      cursor: pointer;
    }
  }
}
