@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~czifui/dist/variables";

.hoverActions {
  color: $sds-color-primary-400;
  font-size: 14px;

  .actionDot {
    margin-left: 7px;
    font-size: 15px;
    display: inline-block;

    .countCircle {
      @include font-body-xxs;

      // This makes a circle with a number in it
      background: $sds-color-primary-400;
      border-radius: 50%;
      color: $sds-color-gray-white;
      cursor: pointer;
      float: right;
      font-size: 9px;
      font-weight: $font-weight-semibold;
      height: 12px;
      line-height: 14px;
      text-align: center;
      width: 12px;
    }
  }

  .disabled {
    color: $sds-color-gray-300;
  }

  .icon {
    height: 14px;
    width: 14px;
    fill: $sds-color-primary-400;

    &:hover {
      fill: $sds-color-primary-600;
    }

    &.disabled {
      fill: $sds-color-gray-300;
    }

    &:not(.disabled) {
      cursor: pointer;
    }
  }
}
