@import "~czifui/dist/variables";

.pipelineVersionSelectContainer {
  display: inline-block;
  padding-left: $sds-spaces-xxxs;

  .pipelineVersionSelect {
    display: flex;
  }

  .dropdownTrigger {
    margin-right: 5px;
    margin-left: 3px;
  }
}
