@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~czifui/dist/variables";

.sampleViewContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-total-height});
}

.sampleViewHeader {
  flex: 0 0 auto;
}

.tabsContainer {
  flex: 0 0 auto;
}

.reportViewContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: $sds-spaces-xl;

  .reportFilters {
    flex: 0 0 auto;
  }

  .reportTable {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .reportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .statsRow {
      font: $sds-font-body-s-400-font;
      color: $sds-color-gray-500;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .statsRowFilterInfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .clearAllFilters {
          flex: 0 0 auto;
          margin-left: $sds-spaces-s;
        }
      }
    }

    .reportViewSelector {
      flex: 0 0 auto;
    }
  }
}

.highlight {
  @include font-header-xs;
}

.notificationBody {
  @include font-body-xs;
  cursor: default;

  .externalLink {
    color: inherit !important;
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .consensusGenomeLink {
    @include font-caps-xxxs;
    margin-top: $sds-spaces-s;
    color: $sds-color-primary-400;
    cursor: pointer;
  }

  .revertFiltersLink {
    @include font-caps-xxs;
    margin-top: $sds-spaces-xs;
    color: $sds-color-gray-black;
    cursor: pointer;
  }
}

.tabs {
  margin-top: $sds-spaces-l;

  .statusLabel {
    margin-left: $sds-spaces-xs;
    // To center without offsetting "indicator" line
    margin-top: $sds-spaces-xxxs;
    vertical-align: text-top;
  }
}

.divider {
  height: 3px;
  background-color: $sds-color-gray-200;
  position: absolute;
  left: 0;
  right: 0;
}

.dividerContainer {
  height: 2px;
  padding: 30px 0;
}
