@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.sampleViewContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-total-height});
}

.sampleViewHeader {
  flex: 0 0 auto;
}

.tabsContainer {
  flex: 0 0 auto;
  height: 60px;
}

.reportViewContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: $space-xl;

  .reportFilters {
    flex: 0 0 auto;
  }

  .reportTable {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .reportHeader {
    display: flex;

    .statsRow {
      @include font-body-xxs;

      color: $gray-dark;
      flex: 1 0 auto;

      .reportInfoMsg {
        &:not(:first-child) {
          margin-left: $space-xxs;
        }
      }

      .clearAllFilters {
        margin-left: $space-xxs;
        font-weight: $font-weight-semibold;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    .reportViewSelector {
      flex: 0 0 auto;
    }
  }
}

.highlight {
  @include font-header-xs;
}

.notificationBody {
  @include font-body-xs;
  cursor: default;

  .externalLink {
    color: inherit !important;
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .consensusGenomeLink {
    @include font-caps-xxxs;
    margin-top: $space-s;
    color: $primary;
    cursor: pointer;
  }
}

.tabs {
  margin: 25px 0;

  .statusLabel {
    margin-left: $space-xs;
    // To center without offsetting "indicator" line
    margin-top: $space-xxxs;
    vertical-align: text-top;
  }
}

.divider {
  height: 3px;
  background-color: $gray-lightest;
  position: absolute;
  left: 0;
  right: 0;
}

.dividerContainer {
  height: 2px;
  padding: 30px 0;
}
