@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/typography";

/* Subheader */
.viewHeader {
  margin-bottom: 5px;

  .pipelineInfo {
    @include font-body-xxxs;
    color: $medium-grey;
    margin-top: 14px;
    margin-bottom: 18px;

    .warning {
      text-align: left;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .linkToPipelineViz {
    cursor: pointer;

    &:hover {
      color: $primary-light;
    }
  }

  .sampleDetailsLinkContainer {
    margin-top: 5px;
  }

  .sampleDetailsLink {
    color: $primary-light;
    font-weight: $font-weight-semibold;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .warningIcon {
    margin-left: 2px;
    transform: translateY(1px);
  }
}

.reportsDivider {
  background-color: $off-white;
  height: 8px !important;
  border-top: 1px solid $white !important;
}

.dividerContainer {
  height: 2px;
  padding: 30px 0;
}

.tabs {
  margin: 25px 0;
}

.divider {
  height: 3px;
  background-color: $lightest-grey;
  position: absolute;
  left: 0;
  right: 0;
}

.pipelineVersionSelectContainer {
  display: inline-block;
  padding-left: 2px;

  .pipelineVersionSelect {
    display: flex;
  }

  .dropdownTrigger {
    margin-right: 5px;
    margin-left: 3px;
  }
}

.waitingContainer {
  margin-top: 100px;
  text-align: center;

  .spinner {
    margin-top: 20px;
  }
}

.failedContainer {
  margin-top: 20px;
  text-align: center;

  .failed {
    color: $error !important;
    font-weight: bold;
  }
}

.sampleMessage {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .textContainer {
    margin-top: 8px;
    margin-right: 18px;
    width: 330px;

    .reportStatus {
      display: inline-flex;
      align-items: center;
      background-color: $error-lightest;
      border-radius: 15px;
      padding: 3px 8px;

      .icon {
        width: 20px;
      }

      .text {
        @include font-label-s;
        margin-left: 8px;
        margin-top: 1px;
      }

      &.warning {
        background-color: $warning-bg;
        color: $warning;

        .icon {
          fill: $warning;
        }
      }

      &.error {
        background-color: $error-bg;
        color: $error;

        .icon {
          fill: $error;
        }
      }

      &.inProgress {
        background-color: $primary-lightest;
        color: $primary-light;

        .icon {
          fill: $primary-light;
          font-size: 20px;
        }
      }

      &.info {
        background-color: $info-bg;
        color: $info;

        .icon {
          fill: $info;
        }
      }
    }

    .message {
      @include font-header-m;
      margin-bottom: 8px;
      margin-top: 8px;
      margin-left: 2px;
    }

    .actionLink {
      @include font-header-xxs;
      color: $primary-light !important;
      margin-top: 10px;
      margin-left: 2px;

      .rightArrow {
        font-size: 8px;
        margin-left: 3px;
      }
    }
  }

  .bacteriaIcon {
    width: 105px;
    height: 128px;
  }
}
