@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/typography";
@import "~styles/themes/elements";

.viewHeader {
  margin-bottom: 5px;

  .legacyLink {
    @include font-body-xxxs;
    color: $gray-dark;
    padding-left: 2px;
    &:hover {
      color: $primary;
    }
  }

  .sampleDetailsLinkContainer {
    margin-top: 5px;
  }

  .sampleDetailsLink {
    color: $primary;
    font-weight: $font-weight-semibold;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .warningIcon {
    margin-left: 2px;
    transform: translateY(1px);
  }

  .controlElement {
    margin-left: $space-m;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
