@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.pipelineInfo {
  @include font-body-xxxs;
  display: inline-block;

  color: $sds-color-gray-500;
  margin: $sds-spaces-l 0 $sds-spaces-l 0;

  .warning {
    text-align: left;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.linkToPipelineViz {
  cursor: pointer;

  &:hover {
    color: $sds-color-primary-400;
  }
}
