@import "~czifui/dist/variables";

.parentContainer {
  display: flex;
  justify-content: center;
  padding: $sds-spaces-xxl;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 600px;
  width: 100%;
}

.submitButton {
  margin-top: $sds-spaces-xxl;
  margin-bottom: $sds-spaces-l;
  padding-left: $sds-spaces-xl;
}
.linkContainer {
  font: $sds-font-body-xxxs-400-font;
  color: $sds-color-gray-500;
  padding-top: $sds-spaces-s;
  padding-bottom: 100px;
}
.dataPrivacyLink {
  padding-top: $sds-spaces-s;
  padding-bottom: $sds-spaces-xxl;
  color: $sds-color-primary-400 !important; // override czifui
}
.formTitle {
  font: $sds-font-header-xxl-600-font;
  color: $sds-color-gray-black;
  padding-bottom: $sds-spaces-xl;
}
.formSubtitle {
  font: $sds-font-body-xs-400-font;
  color: $sds-color-gray-black;
  padding-bottom: $sds-spaces-xl;
}
