@import "~czifui/dist/variables";

.parent-container {
  display: flex;
  justify-content: center;
  padding: $sds-spaces-xxl;
}
.submit-button {
  margin-top: $sds-spaces-xxl;
  margin-bottom: $sds-spaces-l;
  padding-left: $sds-spaces-xl;
}
