@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.displaySwitcher {
  .switcherMenu {
    margin: 0;
    min-height: 25px;
    border-radius: $border-radius-m;
    box-shadow: none;

    .menuItem {
      padding: 5px 15px;

      .icon {
        fill: $sds-color-gray-600;
        height: $icon-s;

        &.active {
          fill: $sds-color-primary-400;
        }
      }
    }
  }
}
