@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~styles/themes/colors";

// these defaults can be overridden by passing in your
// own class names and css to the component.

.chart {
  width: 100%;
  line-height: 0px;
}

.xAxisTitle {
  @include font-body-xxs;
  color: $black;
  margin-bottom: $space-s;

  div {
    display: inline-block;
    text-align: center;
  }
}

.xAxis {
  margin: 0px;
  padding: 0px;
}

.xGrid {
  fill: none;
  stroke: $gray-lightest;
}

.canvas {
  @include scrollable;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  margin: 0px;
  padding: 0px;

  svg,
  div {
    margin: 0px;
    padding: 0px;
  }
}

.yAxis {
  float: left;
}

.barCanvas {
  float: right;
}

.emptyBarSpace {
  &:hover {
    fill: $gray-off-white;
    fill-opacity: 0.9;
  }
  &:hover ~ .fullBar {
    stroke: $primary;
  }
}

.fullBar {
  fill: none;
}

.barPiece {
  &:hover {
    stroke: $primary;
  }
}

.faded {
  stroke-opacity: 0;
  fill-opacity: 0.1;
}

.test {
  display: inline-block;
  visibility: hidden;
  line-height: normal;
}
