@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.text {
  @include font-body-xxs;
  fill: $black;
}

.xAxis {
  margin: 0px;
  padding: 0px;
}

.xAxisTitle {
  @include font-body-xxs;
  color: $black;
  margin-bottom: $space-s;

  div {
    display: inline-block;
    text-align: center;
  }
}
