@import "~styles/themes/elements";
@import "~styles/themes/colors";
@import "~styles/themes/typography";

.auth0Error {
  height: calc(100vh - #{$header-total-height});

  .bacteriaIcon {
    width: 140px;
    height: 140px;
  }

  .helpLink {
    // Override header.scss.
    color: $primary !important;
  }
}
