@import "~styles/themes/colors";

.listElement {
  display: flex;
  align-items: center;

  .listCheckmark {
    height: 16px;
    margin-right: 10px;
    text-align: center;
    width: 16px;

    .icon {
      color: transparent;
      margin: auto;
    }

    &.boxed {
      border: 1px solid $medium-grey;
      border-radius: 2px;

      &.checked {
        background-color: $primary-light;

        .icon {
          color: white;
        }
      }
    }

    &.checked {
      .icon {
        color: $primary-light;
      }
    }
  }
}
