@import "~styles/themes/colors";
@import "~styles/typography";

.dropdownTrigger {
  border: 1px solid $light-grey;
  border-radius: 4px;
  background-color: $white;
  color: $black;
  letter-spacing: 0.4px;
  height: 34px;
  line-height: 24px;
  padding: 4px 26px 4px 16px;
  font-size: 13px;

  &.rounded {
    border-radius: 19px;
  }

  &.active {
    border: 1px solid $primary-light;
  }

  &.disabled {
    border: 1px solid $medium-grey;
    color: $medium-grey;
    opacity: 1 !important;
  }

  .labelContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .label {
    font-weight: 600;
    margin-right: 5px;
  }
}
