@import "~styles/themes/colors";

.dropdownLabel {
  /* Override semantic ui */
  background-color: $gray-off-white !important;
  color: $primary !important;
  font-weight: 600 !important;
  float: right;
  font-size: 12px;

  &.disabled {
    color: $gray-dark !important;
  }
}
