@import "~styles/themes/colors";
@import "~styles/typography";
@import "~styles/themes/elements";

.dropdownTrigger {
  border: 1px solid $gray-light;
  border-radius: $border-radius-m;
  background-color: $white;
  color: $black;
  letter-spacing: 0.4px;
  height: 34px;
  line-height: 24px;
  padding: 4px 26px 4px 14px;
  font-size: 13px;

  &.rounded {
    border-radius: $border-radius-l;
  }

  &.active {
    border: 1px solid $primary;
  }

  &.disabled {
    border: 1px solid $gray-medium;
    color: $gray-dark;
    opacity: 1 !important;
  }

  .labelContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .label {
    font-weight: 600;

    &:not(.disableMarginRight) {
      margin-right: 5px;
    }
  }

  .placeholder {
    color: $gray-light;
  }

  &.erred {
    border: 1px solid $error-medium;

    .placeholder {
      color: $error-medium;
    }
  }
}

.hide {
  display: none;
}
