@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.collectionModal {
  @include font-body-s;

  .form {
    .sectionHeader {
      display: flex;
      align-items: center;
      margin-top: $space-xl;

      .label {
        @include font-header-s;
        margin-right: $space-xxs;
      }

      .optional {
        @include font-body-xxs;

        color: $gray-light;
      }
    }

    .infoIcon {
      height: $space-l;
      width: $space-l;
      fill: $gray-dark;
      vertical-align: text-top;

      &.error {
        fill: $error-dark;
      }

      &:hover {
        fill: $primary;
      }
    }

    .errorMessageContainer {
      display: flex;
      align-items: center;
      margin-top: $space-xxs;

      .errorMessage {
        @include font-body-xxxs;

        margin-left: $space-s;
        color: $error-dark;
      }
    }

    .textArea {
      width: 100%;
    }

    .dropdown {
      margin-bottom: $space-xxl;
    }

    .buttons {
      display: flex;

      button {
        &:not(:first-child) {
          margin-left: $space-default;
        }
      }
    }

    .details {
      @include font-body-xs;
      color: $gray-dark;
      margin-top: $space-default;
    }

    .highlight {
      @include font-header-xxs;
    }

    .notificationContainer {
      margin-bottom: $space-xxl;

      .messageLine {
        @include font-body-xxs;
        padding: $space-xxs 0;
        margin-right: $space-xl;
      }
    }
  }

  .sampleList {
    margin-bottom: $space-xxl;

    .selectedSamples {
      margin-bottom: 0;

      .sampleName {
        @include font-body-xs;
      }

      .sampleDetails {
        @include font-body-xxs;

        color: $gray-dark;
        margin-left: $space-m;
      }
    }

    .moreSamplesCount {
      font-weight: $font-weight-semibold;
    }
  }

  .title {
    @include font-header-xl;

    padding-bottom: 20px;
  }

  .notification {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .link {
    // Overwrite <a> inherit rule in header.scss
    color: $primary !important;
    cursor: pointer;
  }
}
