@import "~styles/themes/colors";

.option {
  span {
    text-transform: uppercase;
    font-size: 12px;
  }
  .complete {
    color: $success-medium !important;
  }
  .failed {
    color: $error-medium !important;
  }
  .uploading {
    color: $warning-medium !important;
  }
}
