@import "~styles/themes/colors";

.publicSampleNotification {
  .text {
    .highlight {
      font-weight: 700;
    }
  }

  .accordion {
    .accordionOption {
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;

      .title {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;

        .icon {
          float: right;
          top: -4px;
          font-size: 20px;
          font-weight: 500;
          color: $medium-grey;
        }
      }

      .content {
        display: none;
        max-height: 300px;
        max-width: 340px;
        margin-top: 10px;
        overflow: auto;

        .sampleEntry {
          line-height: 22px;
          white-space: nowrap;
        }
      }

      &.active {
        .content {
          display: block;
        }
      }
    }
  }

  .policyLink,
  .emailLink {
    text-decoration-line: underline;
    text-decoration-style: dashed !important;
  }
}
