@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;

  .table {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .note {
    flex: 0 0 auto;
  }
}

.tableDataRow {
  align-items: flex-start;
  padding: 11px 0;
}

.basicCell {
  // this is adjusted to align the baseline of
  // content of basic cells with the sample name.
  margin-top: 2px;
}

.samplesToolbar {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .fluidBlank {
    flex: 1 1 auto;
  }

  .counterContainer {
    flex: 0 0 auto;

    .counter {
      color: $primary-light;
    }

    .label {
      @include font-body-xs;

      flex: 0 0 auto;
      margin-left: 7px;
      font-weight: $font-weight-semibold;
    }
  }

  .separator {
    flex: 0 0 auto;
    height: 100%;
    margin: 0 20px;
    border-right: 1px solid $medium-grey;
  }

  .actions {
    display: flex;
    align-items: center;

    .action {
      &:not(:first-child) {
        margin-left: 20px;
      }

      .icon {
        fill: $light-grey;
        flex: 0 0 auto;
        width: 22px;

        &:not(.disabled) {
          cursor: pointer;
          fill: $primary-light;
        }

        &.save {
          margin-top: 1px;
          width: 21px;
        }

        &.heatmap {
          margin-left: 4px;
          margin-top: 1px;
        }

        &.download {
          width: 28px;
        }
      }
    }
  }
}

.sampleHeader {
  text-align: left;
}

.sample {
  display: flex;

  .publicAccess {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 12px;

    .icon {
      fill: $primary-light;
      width: 36px;
    }
  }

  .sampleRightPane {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .sampleNameAndStatus {
      display: flex;
      justify-items: center;
      margin-bottom: 1px;

      .sampleName {
        @include font-body-s;

        flex: 0 1 auto;
        text-align: left;
        color: $black;
      }

      .sampleStatus {
        align-self: center;
        background-color: $light-grey;
        border-radius: 13px;
        color: $medium-grey;
        flex: 0 0 auto;
        font-size: 9px;
        line-height: 1;
        margin-left: 10px;
        padding: 2px 4px;
        text-transform: uppercase;

        &.complete {
          background-color: $success-bg;
          color: $success;
        }

        &.failed {
          background-color: $error-bg;
          color: $error;
        }

        &.waiting,
        &.uploading {
          background-color: $warning-bg;
          color: $warning;
        }
      }
    }

    .sampleDetails {
      @include font-body-xxs;

      font-weight: $font-weight-regular;
      color: $medium-grey;
      text-align: left;

      span:not(:first-child) {
        margin-left: 10px;
      }

      span:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.numberValueAndPercentage {
  .percentage {
    @include font-body-xxs;
    font-weight: $font-weight-regular;
  }
}

.loading {
  .publicAccess {
    @include loadingAnimation;

    height: 36px;
    width: 36px;
  }

  .sampleRightPane {
    .sampleNameAndStatus {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 20px;
      width: 365px;
    }

    .sampleDetails {
      @include loadingAnimation;

      background-clip: content-box;
      padding: 4px 0;
      height: 17px;
      width: 315px;
    }
  }

  .numberValueAndPercentage {
    .value {
      @include loadingAnimation;

      background-clip: content-box;
      height: 16px;
      padding: 2px 15%;
    }
    .percentage {
      @include loadingAnimation;

      background-clip: content-box;
      height: 15px;
      padding: 2px 20%;
    }
  }
}
