@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;

  .table,
  .map {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .map {
    border-top: 2px solid $lightest-grey;
  }

  .note {
    flex: 0 0 auto;
  }
}

.tableDataRow {
  align-items: flex-start;
  padding: 11px 0;
}

.basicCell {
  // this is adjusted to align the baseline of
  // content of basic cells with the sample name.
  margin-top: 2px;
}

.samplesToolbar {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  .instructions {
    color: $dark-grey;
    margin-left: $space-m;
  }

  .fluidBlank {
    flex: 1 1 auto;
  }

  .counterContainer {
    flex: 0 0 auto;

    .counter {
      color: $primary-light;
    }

    .label {
      @include font-body-xs;

      flex: 0 0 auto;
      margin-left: 7px;
      font-weight: $font-weight-semibold;
    }
  }

  .separator {
    flex: 0 0 auto;
    height: 27px;
    margin: 0 10px 0 20px;
    border-right: 1px solid $medium-grey;
  }

  .actions {
    display: flex;
    align-items: center;

    .action {
      &:not(:first-child) {
        margin-left: 2px;
      }
    }

    .icon {
      height: 21px;
      width: 21px;

      &.download {
        width: 28px;
      }

      &.phyloTree {
        margin-right: 4px;
      }
    }
  }
}

.sampleHeader {
  justify-content: left;
  text-align: left;
}

// We pass in the "selectableCell" className to
// our checkbox to modify the enclosing div as follows;
// this creates a large, invisible "button" the height of
// the row, making samples easier to select.
.selectableCell {
  position: absolute;
  overflow: visible;
  height: 100%;
  width: 50px;
  margin: -11px -10px -10px -10px;
  padding-left: 0px;
  justify-content: center;
}
