@import "~styles/themes/elements";
@import "~styles/themes/typography";
@import "~styles/themes/colors";

.modal {
  .title {
    @include font-header-xxl;
    margin-bottom: $space-xxs;
  }

  .label {
    @include font-header-xs;
    margin-bottom: $space-xl;

    .taxonName {
      @include font-body-xs;
    }
  }

  .table {
    height: 200px;
    margin-bottom: $space-m;

    .headerLabel {
      @include font-header-xs;

      color: $gray-dark;
    }

    .primaryHeader {
      text-align: left;
    }

    .runData {
      text-align: left;
    }

    .row {
      cursor: pointer;

      .title {
        @include font-header-xs;

        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0; // Override Popup
      }

      .subtext {
        @include font-body-xs;
        color: $gray-light;
      }
    }

    .dateCell {
      @include font-body-xs;
    }
  }

  .icon {
    height: 10px !important; // Override .idseq-ui.button
    fill: $primary;
  }
}
