a {
  color: inherit !important;
}

.site-header {
  height: 60px;
  background: #263039;
  color: #a8a8a8;
  font-size: 17px;
}

.brand-short {
  background: #414367;
  color: #d6d6d6;
  padding: 15px;
  margin-right: 10px;
  font-size: 20px;
}

.brand-short, .brand-long, .header-right-nav div{
  display: inline-block;
}

.brand-long {
  border-right: 1px solid #535353;
  padding: 10px;
}

.settings-icon {
  border-left: 1px solid #535353;
}

.settings-icon i {
  padding: 15px;
  font-size: 30px;
} 

.profile-dropdown i {
  margin: 20px;
}

.sub-header {
  height: 200px;
  background: #F8F9F9;
  padding-top: 20px;

}