@import "~@czi-sds/components/dist/variables";

.geneCell {
  display: flex;
  align-items: center;

  &:hover .downloadIcon {
    color: $sds-color-primary-400;
    &:disabled {
      color: $sds-color-gray-300;
    }
  }

  .downloadIcon {
    color: transparent;
    display: inline-block;
    margin-left: $sds-spaces-xs;
    &:focus {
      color: $sds-color-primary-400;
    }
  }

  // when a user opens the dropdown and then mouses away,
  // this keeps the dropdown open even when the user is no longer hovering
  .showHoverActions {
    color: $sds-color-primary-400;
  }
}

.geneNameButton {
  font: $sds-font-body-s-600-font;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  min-width: 0;
}
