@import "~styles/themes/colors";

.minContigSizeFilter {
  &:global(.active) {
    .dropdownTrigger {
      border: 1px solid $primary-light;
    }
  }

  .dropdownTrigger {
    cursor: pointer;
  }

  .contents {
    text-align: left;
    padding: 10px 20px;
  }

  .labelContainer {
    margin-bottom: 5px;
  }

  .label {
    font-weight: 600;
    margin-right: 3px;
  }
}
