@import "~styles/themes/colors";
@import "~styles/themes/typography";

.minContigReadsFilter {
  &:global(.active) {
    .dropdownTrigger {
      border: 1px solid $primary-light;
    }
  }

  .dropdownTrigger {
    cursor: pointer;
  }

  .contents {
    text-align: left;
    padding: 10px 12px;
  }

  .labelContainer {
    margin-bottom: 5px;
  }

  .label {
    font-weight: 600;
    margin-right: 3px;
    font-size: 13px;
    letter-spacing: 0.4px;
  }

  .error {
    @include font-body-xxs;
    color: $error;
    margin-top: 5px;
  }
}
