th {
  font-style: thin;
  font-size: 14px;
  color:rgb(184, 184, 184);
}

td {
  cursor: pointer;
}

td i.fa {
  border-radius: 3px;
  padding: 5px;
  margin: 0 13px;
  color: #fff;
  background-color:#5ABCD6;
  cursor: pointer;
}

i.fa.fa-flask {
  margin-left: 0;
}

i.fa {
  cursor: pointer;
}

.search-wrapper {
  padding: 20px 0;
}
.search-wrapper span {
  margin: 10px;
  color:rgb(174, 174, 174);
  cursor: pointer;
}

.search-wrapper span:hover {
  color: rgb(64, 64, 64);
}