@import "~styles/themes/elements";
@import "~styles/themes/colors";
@import "~styles/themes/typography";

.bulkDownloadList {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-total-height});

  .blankScreenContainer,
  .tableContainer {
    flex: 1 1 0;
    min-height: 0;
  }

  .largeDownloadIcon {
    width: 140px;
    height: 110px;
    fill: $lightest-grey;
  }

  .loadingMessage {
    margin: $space-xl auto 0;
  }

  .lightCell {
    font-weight: $font-weight-regular;
    color: $medium-grey;
  }
}

.autoUpdateWarning {
  margin-bottom: $space-xxxs;

  .link {
    text-decoration: underline;
    cursor: pointer;
  }
}

.viewHeader {
  margin-top: $space-xl;
  margin-bottom: $space-xl;
}

.downloadNameHeader {
  justify-content: flex-start;
}

.tableContainer {
  padding-top: $space-l;
}

.tableRow {
  padding: 0 $space-l !important;
}
