@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.downloadTypeContainer {
  margin-top: $space-m;
  flex: 1 1 0;
  min-height: 0;

  .category {
    &:not(:first-child) {
      margin-top: $space-l;
    }

    .title {
      @include font-label-s;
      color: $medium-grey;
    }
  }
}

.taxaWithReadsDropdown {
  width: 300px;

  .taxaWithReadsOptionsHeader {
    display: flex;
    padding: $space-xxs $space-m;

    .header {
      @include font-header-xs;
      color: $dark-grey;
    }

    .fill {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .taxaWithReadsOption {
    display: flex;
    padding: $space-xxs $space-m;

    .taxonName {
      @include font-body-xxs;
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .fill {
      flex: 1 1 0;
      min-width: 0;
    }

    .sampleCount {
      @include font-body-xxs;
      color: $medium-grey;
    }
  }
}

.downloadType {
  padding: $space-xs $space-s;
  margin-bottom: $space-xxxs;
  margin-right: $space-s;
  border-radius: 4px;
  display: flex;
  cursor: pointer;

  &:hover,
  &.selected {
    background-color: $off-white;
  }

  &.disabled {
    cursor: default;

    &:hover {
      background-color: white;
    }

    .name,
    .description,
    .fileType {
      color: $light-grey;
    }
  }

  .radioButton {
    margin-right: $space-s;
    margin-top: $space-xxxs;
  }

  .content {
    flex: 1 1 0;
    min-width: 0;
  }

  .name {
    @include font-header-xs;
  }

  .description {
    @include font-body-xxs;
    color: $dark-grey;
  }

  .fileType {
    @include font-body-xs;
    color: $medium-grey;
  }
}

.fields {
  margin-top: $space-s;
  margin-bottom: $space-xxxs;
  display: flex;
  flex-wrap: wrap;

  .field {
    width: calc(50% - #{$space-l / 2});

    &:nth-child(odd) {
      margin-right: $space-l;
    }

    .label {
      @include font-body-xs;
      margin-bottom: 2px;
    }

    .forcedOption {
      height: 34px;
      display: flex;
      align-items: center;
    }

    .info {
      @include font-body-xxs;
      color: $dark-grey;
    }
  }

  .checkboxField {
    @include font-body-xxs;
    color: $dark-grey;
  }
}
