@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~styles/themes/colors";

.downloadCell {
  display: flex;
  text-align: left;

  .downloadIcon {
    width: 30px;
    height: 22px;
    margin-right: $space-m;
    fill: $light-grey;
  }

  .downloadRightPane {
    .downloadNameContainer {
      display: flex;
      align-items: center;
    }

    .downloadName {
      @include font-header-s;
    }

    .downloadStatus {
      margin-left: $space-xxs;
    }

    .metadata {
      @include font-body-xxs;
      color: $medium-grey;

      .detailsLink {
        cursor: pointer;
        margin-right: $space-xxxs;

        &:hover {
          color: $black;
        }
      }

      .userName {
        margin-left: $space-xxxs;
      }
    }
  }
}

.samplesCell {
  @include font-body-xxs;
  font-weight: $font-weight-regular;
}

.statusCell {
  margin-bottom: 2px;

  .messageContainer,
  .links {
    display: flex;
    align-items: center;
  }

  .messageContainer {
    margin-bottom: $space-xs;
  }

  .icon {
    width: 16px;
    margin-right: $space-xxs;
    fill: $success;

    &.warning {
      fill: $warning;
    }

    &.error {
      fill: $error;
      margin-bottom: 1px;
    }

    &.loading {
      color: $primary-light;
      margin-right: 4px;
    }
  }

  .separator {
    @include font-body-xxs;
    margin: 0 $space-xs;
    color: $medium-grey;
  }

  .link {
    @include font-label-s;
    /* overwrite header.scss */
    color: $primary-light !important;
    cursor: pointer;
  }
}
