@import "~styles/themes/typography";
@import "~styles/themes/elements";

.title {
  @include font-header-xl;
}

.loadingContainer {
  margin-top: $space-m;
}

.details {
  margin-top: $space-m;

  .samplesHeader {
    @include font-header-xs;
    padding: $space-m $space-m $space-xxxs;
  }

  .samplesList {
    max-height: 360px;
    overflow: auto;
    padding: 0 $space-m;

    .sampleName {
      @include font-body-xs;
      padding: $space-xxxs 0;
    }
  }
}
