@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.bulkDownloadSummary {
  background-color: $off-white;
  padding: $space-m $space-l;

  .title {
    display: flex;

    .name {
      @include font-header-xs;
    }

    .numSamples {
      @include font-body-xs;
      color: $medium-grey;
    }
  }

  .params {
    display: flex;
    margin-top: $space-l;

    .param {
      flex: 1 1 0;
      min-width: 0;

      .name {
        @include font-body-xs;
      }

      .value {
        @include font-body-xs;
        color: $medium-grey;
      }
    }
  }
}
