@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

.chooseStep {
  height: calc(85vh - 80px);
  max-height: 1400px;
  display: flex;
  flex-direction: column;
}

.header {
  .title {
    @include font-header-xxl;
  }

  .tagline {
    @include font-body-xs;
    color: $medium-grey;
  }
}

.downloadTypeContainer {
  margin-top: 20px;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;

  .category {
    &:not(:first-child) {
      margin-top: $space-l;
    }

    .title {
      @include font-label-s;
      color: $medium-grey;
    }
  }
}

.taxaWithReadsDropdown {
  width: 300px;

  .taxaWithReadsOptionsHeader {
    display: flex;
    padding: $space-xxs $space-m;

    .header {
      @include font-header-xs;
      color: $dark-grey;
    }

    .fill {
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .taxaWithReadsOption {
    display: flex;
    padding: $space-xxs $space-m;

    .taxonName {
      @include font-body-xxs;
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .fill {
      flex: 1 1 0;
      min-width: 0;
    }

    .sampleCount {
      @include font-body-xxs;
      color: $medium-grey;
    }
  }
}

.downloadType {
  padding: 10px 18px;
  display: flex;
  cursor: pointer;

  &:hover,
  &.selected {
    background-color: $off-white;
  }

  &.disabled {
    cursor: default;

    &:hover {
      background-color: white;
    }

    .name,
    .description {
      color: $light-grey;
    }
  }

  .radioButton {
    margin-right: 10px;
    margin-top: 4px;
  }

  .content {
    flex: 1 1 0;
    min-width: 0;
  }

  .name {
    @include font-header-xs;
  }

  .description {
    @include font-body-xxs;
    color: $dark-grey;
  }

  .fileType {
    color: $medium-grey;
  }
}

.fields {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;

  .field {
    width: calc(50% - 10px);

    &:nth-child(odd) {
      margin-right: 20px;
    }

    .label {
      @include font-body-xs;
      margin-bottom: 2px;
    }

    .forcedOption {
      height: 34px;
      display: flex;
      align-items: center;
    }

    .info {
      @include font-body-xxs;
      color: $dark-grey;
    }
  }
}

.footer {
  margin-top: $space-m;

  .downloadDisclaimer {
    @include font-body-xxs;
    color: $medium-grey;
    margin-top: $space-xxs;
  }
  .notification {
    margin-bottom: $space-m;
    max-height: 150px;

    .highlight {
      @include font-header-xs;
    }

    .content {
      @include scrollable;
      max-height: 100px;
      overflow: auto;
      display: flex;
      flex-direction: column;

      .listItem {
        @include font-body-xs;

        &:nth-child(odd) {
          background-color: $transparent-lightest-grey;
        }
      }
    }
  }
}
