@import "~styles/themes/colors";
@import "~styles/themes/typography";

.reviewStep {
  .header {
    .title {
      @include font-header-xxl;
    }

    .editLink {
      @include font-body-xs;
      color: $light-grey;

      &.enabled {
        color: $primary-light;
        cursor: pointer;
      }
    }
  }

  .selectedDownload {
    background-color: $off-white;
    padding: 14px;
    margin-top: 20px;

    .title {
      display: flex;

      .name {
        @include font-header-xs;
      }

      .numSamples {
        @include font-body-xs;
        color: $medium-grey;
      }
    }

    .fields {
      display: flex;
      margin: 10px 0 15px;

      .field {
        flex: 1 1 0;
        min-width: 0;

        .name {
          @include font-body-xs;
        }

        .value {
          @include font-body-xs;
          color: $medium-grey;
          margin-top: -2px;
        }
      }
    }
  }

  .footer {
    margin-top: 40px;

    .downloadDisclaimer {
      @include font-body-xxs;
      color: $medium-grey;
      margin-top: 6px;
    }

    .loadingMessage {
      color: $medium-grey;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 4px;
      }

      .text {
        @include font-body-xxs;
      }
    }

    .errorMessage {
      display: flex;

      .icon {
        fill: $error;
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }

      .text {
        @include font-body-xxs;
      }
    }

    .successMessage {
      margin-bottom: 40px;
      display: flex;

      .icon {
        fill: $success;
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }

      .text {
        @include font-body-xxs;
      }
    }
  }
}
