.idseq-ui.button {
  border-radius: 19px;
  cursor: pointer;
  font-family: $font-family-default;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  height: 38px;
  letter-spacing: 0.4px;
  min-width: 120px;
  padding: 6px 16px;
  vertical-align: middle;

  div.icon-label {
    height: 24px;
    line-height: 24px;
    vertical-align: middle;

    i.icon,
    svg {
      height: 24px;
      margin-right: 10px;
      vertical-align: middle;
    }

    svg {
      float: left;
    }
  }

  &:disabled {
    opacity: 1 !important;
  }
}
