@import "~styles/themes/colors";
@import "~styles/themes/typography";

.header {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: row;
  // Header height might influence layout on other pages that use calc to compute available height.
  // See discovery view layout for instance
  height: 50px;
  margin-bottom: 10px;
  padding: 0 15px;
  position: relative;
  z-index: 900;

  .logo {
    flex: 0 0 auto;

    .icon {
      height: 35px;
    }
  }

  .fill {
    flex: 1 0 auto;
  }

  .userDropdown {
    flex: 0 0 auto;
    color: $white;

    .userName {
      @include font-body-xs;

      align-items: center;
      display: flex;
      font-weight: $font-weight-regular;
      margin-right: 5px;
      height: 36px;
      vertical-align: middle;
    }

    .option {
      display: block;
      width: 100%;
    }
  }

  .mainMenu {
    @include font-body-xs;
    margin-right: 100px;
    display: flex;
    color: $medium-grey;

    .item {
      font-weight: $font-weight-semibold;

      &.selected {
        color: $white !important;
      }
    }

    .item:not(:last-child) {
      margin-right: 25px;
    }
  }
}
