@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.header {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: row;
  // Header height might influence layout on other pages that use calc to compute available height.
  // See discovery view layout for instance
  height: $header-height;
  margin-bottom: $header-margin-bottom;
  padding: 0 15px;
  position: relative;
  z-index: 900;

  .logo {
    flex: 0 0 auto;

    .icon {
      height: 35px;
    }
  }

  .fill {
    flex: 1 0 auto;
  }

  .userDropdown {
    flex: 0 0 auto;
    color: $white;

    .userName {
      @include font-body-xs;

      align-items: center;
      display: flex;
      font-weight: $font-weight-regular;
      margin-right: 5px;
      height: 36px;
      vertical-align: middle;
    }

    .option {
      display: block;
      width: 100%;
    }
  }

  .mainMenu {
    @include font-body-xs;
    margin-right: 100px;
    display: flex;
    color: $medium-grey;

    .item {
      font-weight: $font-weight-semibold;

      &.selected {
        color: $white !important;
      }
    }

    .item:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.notificationLink {
  text-decoration: underline;
}

.backgroundRefreshFrame {
  display: none;
}

.announcementBanner {
  @include font-body-xs;
  background: $primary-lightest;
  height: 40px;
  position: relative;
  text-align: center;
  z-index: 900;

  .content {
    display: block;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .icon {
      fill: $primary-light;
      height: 20px;
      margin-right: $space-xs;
      vertical-align: text-bottom;
    }

    .title {
      @include font-header-xs;
      margin-right: $space-xxxs;
    }

    .link {
      margin-left: 3px;
      text-decoration: underline;
    }
  }

  .close {
    cursor: pointer;
    fill: $dark-grey;
    position: absolute;
    right: $space-m;
    top: $space-m;

    &:hover {
      fill: $black;
    }
  }
}

.publicNcovHomeLink {
  @include font-body-m;
  border-left: 1px solid $white;
  padding-left: $space-s;
  margin-left: $space-xs;
  color: $white;
}
