@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.loadingMessage {
  color: $gray-dark;
  display: flex;
  align-items: center;

  .loadingIcon {
    margin-right: $space-xxs;
  }

  .text {
    @include font-body-xxs;
  }
}
