@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";

// NOTE: Omit px so value can be exported for parseInt
$metadata-input-width: 110;
$metadata-input-extra-width: 225;

:export {
  metadataInputWidth: $metadata-input-width;
  metadataInputExtraWidth: $metadata-input-extra-width;
}

.metadataManualInput {
  .columnPicker {
    /* Override semantic ui */
    position: absolute !important;
    left: calc(100% + 4px);
    top: 13px;

    .plusIcon {
      width: 14px;
      fill: $medium-grey;
    }
  }

  .tableContainer {
    position: relative;
  }

  .tableScrollWrapper {
    overflow: auto;
    max-height: 450px;
  }

  .requiredMessage {
    @include font-header-xs;
    color: $medium-grey;
  }

  .inputTable {
    margin-bottom: 20px;

    td {
      vertical-align: top !important; // override semantic ui
    }

    .sampleName {
      padding: $space-m 0; // align vertically with inputs
      font-weight: $font-weight-semibold;
    }

    .requiredStar {
      color: $medium-grey;
    }

    .input {
      margin: $space-xxs $space-m $space-xxs 0;
      width: $metadata-input-width + 0px;

      &.extraWidth {
        width: $metadata-input-extra-width + 0px;
      }
    }

    .noInput {
      color: $medium-grey;
    }

    .applyToAll {
      color: $primary-light;
      cursor: pointer;
    }
  }
}
