@import "~styles/themes/typography";
@import "~styles/themes/colors";

.instructions {
  margin-top: 25px;

  .title {
    @include font-header-m;
  }

  .subtitle {
    @include font-body-s;
  }
}

.inputTable {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 600px;

  .sampleName {
    font-weight: $font-weight-semibold;
  }

  .input {
    margin: 5px 30px 5px 0;
    width: 230px;

    &.extraPadding {
      margin-bottom: 22px;
    }
  }

  .applyToAll {
    color: $primary-light;
    cursor: pointer;
  }
}
