@import "~styles/themes/colors";

.metadataCSVUpload {
  display: flex;
  flex-direction: column;
}

.csvUpload {
  height: 160px;

  &.uploaded {
    height: 80px;
  }
}

.issues {
  flex: 1 1 0;
  min-height: 0;
  margin-top: 16px;
  overflow: auto;
}

.errors,
.warnings {
  padding: 14px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  .header {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }

  .dot {
    font-size: 14px;
    margin-right: 5px;
  }

  .icon {
    width: 20px;
    margin-right: 10px;
  }

  .item {
    padding-left: 30px;
    font-size: 12px;
    margin-top: 2px;

    &:first-child {
      margin-top: 0;
    }

    .dot {
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.errors {
  background-color: $error-bg;

  .header {
    color: $error;
  }

  .icon {
    fill: $error;
  }
}

.warnings {
  background-color: $warning-bg;

  .icon {
    fill: $warning;
  }

  .header {
    color: $warning;
  }
}
