@import "~styles/themes/colors";
@import "~styles/themes/typography";

.metadataUpload {
  position: relative;
  margin-bottom: 20px;

  .tabs {
    margin: 20px 0 10px;
  }

  .link {
    // Overwrite <a> inherit rule in header.scss
    color: $primary-light !important;
    cursor: pointer;
  }

  .metadataCSVUpload {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .loadingMsg {
    @include font-body-s;
    margin-top: 10px;
  }

  .details {
    margin-bottom: 10px;

    .label {
      font-weight: 600;
    }
  }

  .info {
    background-color: $off-white;
    padding: 20px 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.issues {
  margin-top: 25px;
}

.issueGroup {
  margin-top: 6px;
  border-radius: 4px;

  &:first-child {
    margin-top: 0;
  }
}

.errors .header {
  color: $error;
}

.warnings .header {
  color: $warning;
}

.errors,
.warnings {
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  .header {
    @include font-header-s;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }
}

.issue {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin-top: 6px;

  &:first-child {
    margin-top: 0;
  }

  &.warning {
    background-color: $warning-bg;
  }

  &.error {
    background-color: $error-bg;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    &.warning {
      fill: $warning;
    }

    &.error {
      fill: $error;
    }
  }
}
