@import "~styles/themes/typography";
@import "~styles/themes/colors";

.projectCreationForm {
  .label {
    @include font-header-s;
    margin-bottom: 5px;

    .infoLink {
      @include font-label-s;
      margin-left: 10px;
      color: $primary-light;
      cursor: pointer;
    }
  }

  .optionalLabel {
    @include font-body-xxs;
    color: $medium-grey;
  }

  .descriptionTextArea {
    @include font-body-xs;
    margin-top: 5px;
    padding: 5px;
    height: 150px;
    resize: vertical;
    background-color: $white;
  }

  .charCounter {
    @include font-body-xxs;
    color: $medium-grey;
    text-align: right;
  }

  .field {
    margin-bottom: 30px;

    .info {
      background-color: $lightest-grey;
      padding: 20px;
      margin-bottom: 10px;

      .title {
        @include font-header-xs;
      }

      ul {
        margin: 5px 0 10px 20px;

        &:last-child {
          margin-bottom: 0;
        }

        li {
          @include font-body-xs;
          list-style-type: disc;
        }
      }

      p {
        @include font-body-xs;
      }
    }
  }

  .sharingOption {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $lightest-grey;
    }

    .radioButton {
      margin: 10px 15px;
    }

    .projectIcon {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }

    .optionText {
      .title {
        @include font-header-s;
      }

      .description {
        @include font-body-s;
      }
    }
  }

  .controls {
    display: flex;
  }

  .error {
    color: $error;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .createButton {
    @include font-label-s;
    color: $primary-light;
    margin: 0px 10px;
    cursor: pointer;

    &.disabled {
      color: $medium-grey;
      cursor: default;
    }
  }

  .cancelButton {
    @include font-label-s;
    color: $medium-grey;
    margin: 0px 10px;
    cursor: pointer;
  }
}
