@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.warning {
  @include font-body-xxxs;
  color: $warning-dark;
  display: flex;

  .icon {
    flex: 0 0 auto;
    width: $icon-s;
    height: $icon-s;
    margin-right: 7px;
  }
}

// Only used for the human host age input.
.darkPlaceholder {
  :global(input::placeholder) {
    color: $black !important;
  }
}
