.site-header {
  height: 50px;
  background: #263039;
  color: #a8a8a8;
  font-size: 17px;

  .menu {
    margin: 12px;
    .login {
      border: 1px solid;
      border-radius: 3px;
      cursor: pointer;
      span {
        margin: 20px;
        color: #e3e8eb;
        &:hover {
          transition: .2s width ease-out;
          color: #7d8185;
        }
      }
    }
  }
}

.brand-short {
  background: #414367;
  color: #d6d6d6;
  padding: 9px;
  margin-right: 10px;
  font-size: 20px;
}

.brand-short, .brand-long, .header-right-nav div {
  display: inline-block;
}

.brand-long {
  border-right: 1px solid #535353;
  padding: 10px;
}

.settings-icon {
  border-left: 1px solid #535353;
  i {
    padding: 15px;
    font-size: 30px;
  }
}

.profile-dropdown i {
  margin: 20px;
}

.sub-header-component {
  min-height: 120px;
  padding-top: 20px;
  box-shadow: 1px 2px 5px 2px #eaeaea;

}

/* SubHeader styles */

.sub-header .title {
  color: #9B9B9B;
  font-size: 12px;
}

.sub-header .sub-title {
  color: #333333;
  font-size: 28px;
}

.sub-header-navigation {
  margin-top: 15px;
}

.sub-header-home {
  // background-color: #D9E0E4;
  .title-filter {
    color: #9B9B9B;
    font-size: 14px;
  }
}
