/*
 *= require_self
 *= require_tree .
 *= require materialize
 *= require font-awesome
 */

@import 'materialize';
@import "materialize/components/color";
@import "materialize/extras/nouislider";
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color:rgb(100, 100, 100);
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit !important;
}

.field select {
  display: block;
}

.hidden {
  display: none;
}
.error-info {
  background: rgba(208, 2, 27, 0.07);
  border-radius: 5px;
  color: #D0021B;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid rgba(160, 11, 64, 0.16);
  font-size: 12px;
  transition: .2s width ease-out;
  text-align: center;
}
.success-info {
  background: #eeffd5;
  border-radius: 5px;
  color: #1e2025;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid rgba(160, 11, 64, 0.16);
  font-size: 12px;
  transition: .2s width ease-out;
  text-align: center;
}

.bottom {
  text-align: center;
  margin: 20px;
  cursor: pointer;
  color: #424468;
  .back {
    text-decoration: underline;
  }
  .home {
    text-decoration: underline
  }
}

