// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";


.reports-sidebar {
  background: $sidebar-background;
}

.sidebar-title {
  padding: 14px 0;
  color: #767676;
  font-size: 18px;
  margin-left: 12px;
}

#details table tr td{
  padding: 2px;
}

.sidebar-tabs {
  .tabs {
    display: flex !important;
    border-bottom: 1px solid #D6D6D6;
    .indicator {
      display: none;
    }
    .tab {
      &.reports-pane {
        border-right: 1px solid #D6D6D6;
      }
      a {
        text-align: center !important;
        font-size: 12px !important;
      }
    }

  }

  a.active {
    color: #5ABCD6 !important;
  }


  .sidebar-divider {
    background: #EEF1F2;
    height: 25px;
    margin-top: 20px;
  }

  .report-data {
    padding: 20px;
    float: left;
    width: 100%;
  }


  .report-data section {
    float: left;
    width: 100%;
  }

  .report-data div:nth-child(odd) {
    color: $data-key-color;
  }

  .report-data div:nth-child(even) {
    color: $data-value-color;
    margin-bottom: 10px;
    font-size: 13px;
  }

  #filters-pane {
    padding: 0;
    .filter-title {
      padding: 15px;
      color: #B8B8B8;
      font-size: 12px;
      border-bottom: 1px solid #D6D6D6;
    }

    .filter-values {
      padding: 15px;
    }

    .filter-controls {
      .noUi-tooltip, .noUi-handle {
        background: #979797;
      }

      .noUi-tooltip {
        display: none;
      }

      .noUi-connect {
        background: #565656;
      }

      [type="checkbox"].filled-in:checked + label:after {
        border: 2px solid #767676;
        background-color: #767676;
      }

      .threshold-label {
        text-align: right;
        margin-top: 15px;
        label {
          font-size: 15px;
          color: #464343;
        }
      }
      input.browser-default {
        padding: 5px;
        width: 100%;
        margin-top: 10px;
        &:focus {
          outline: none;
        }
      }
      .input-container {
        padding: 0;
      }

      .filter-label {
        text-align: right;
      }

    }
  }

  .apply-filter-button {
    margin: 20px 0 20px;
    color: #f8f9f9;
  }

}

.report-number {
  text-align: right;
}

.report-number-blank {
  text-align: right;
  color: #DDDDDD;
}

.report-row-genus {
  background: #F7F7F7;
}

.reports-screen {
  background: #ffffff !important;
}

.reports-table-title .result-count {
  font-size: 14px;
  color: #535353;
}

.slider-title {
  color: #535353;
  font-size: 14px;
  margin: 35px 0 15px;
}

.slider-values div{
  display: inline-block;
  margin-bottom: 15px;
  color: #9B9B9B;
  font-size: 12px;
  border: 1px solid rgb(200, 200,200);
  padding: 0 5px;
  background: white;
}
.slider-values .end {
  float: right;
}

.report-table .link:hover {
  color: #0099cc;
  cursor: pointer;
}

.report-table .count-info {
  color: #A0A0A0;
}

.report-table {
  .genus-name {
    display: inline-block;
    margin-right: 5px;
  }
  .fa {
    margin-left: 5px;
    font-size: 20px;
    width: 20px;
    &:hover {
      color: #444242;
    }
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
}
.report-table .species-name {
  margin-left: 40px;
}

.report-table .toggle-species {
  &:hover {
    color: #313030;
  }
}

#sort-report {
  a {
    font-size: 14px;
    padding: 6px;

    .sort-title {
      display: inline-block;
      text-transform: capitalize;
    }

    .sort-icon {
      padding: 5px;
    }
  }
}

.sort-report {
  span {
    text-transform: capitalize;
    &.sort-value {
      color: #929292;
      font-size: 13px;
      margin: 0 5px;
    }
  }
  &.btn-flat {
    font-size: 14px;
    i {
      font-size: 13px;
    }
  }
}
#reports-pane {
  padding: 0;
}

.report-table .sort-controls {
  margin-right: 6px;
  i {
    font-size: 24px;
    display: block;
    line-height: 13px;
    position: relative;
    top: -5px;
    bottom: 1px;

    &:hover, &.active {
      color: #09c;
    }
  }
}

.report-table {
  td:first-child {
    width: 450px;
  }
}


.genus-autocomplete-container div div.decorate-dropdown{
  display: block;
  min-width: 168px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
  position: absolute;
  overflow: scroll;
  max-height: 399px;
  z-index: 500;
  background: #fff;
  padding: 10px;
}

.reports-section {
  padding: 0 !important;
  .reports-count {
    box-shadow: 1px 2px 5px 0px #eaeaea;
    .count {
      display: inline-block;
      margin: 20px 0 18px 60px;
      
    }
    .download {
      float: right;
    }
    .disable {
      cursor: pointer;
      color: #414367;
      &:hover {
        color: #84d4fa;
      }
    }
  }
}

.hover-wrapper {
  cursor: pointer;
  .link-tag {
    padding: 10px;
    color: #84d4fa;
    font-size: 15px;
    cursor: pointer;
    .cloud {
      color: #84d4fa;
      font-size: 15px;
      &:hover {
        color: #414367
      }
    }
  }
}