<p><b>Join IDseq!</b></p>
<p></p>
<p><%= @sharing_user.name %> (<%= @sharing_user.email %>) has invited you to IDseq project <b><%= @shared_project_name %>.</p>
<p></p>
<p><b><%= link_to 'Activate your account', edit_password_url(@user, reset_password_token: @token) %></b></p>
