<p><%= @sharing_user_email %> has shared the project '<%= @shared_project_name %>' with you on IDseq!</p>
<p><%= link_to 'Activate your account', edit_password_url(@user, reset_password_token: @token) %></p>
