@import "../../themes/colors";
@import "~styles/themes/typography";

.data-table {
  max-height: 300px;

  thead {
    // remove scrollbar width
    display: table;
    width: calc(100% - 10px);
    border-bottom: 2px solid $lightest-grey;

    th {
      line-height: normal;
      padding: 0;
      padding-right: 10px;
      height: 40px;

      &:first-child {
        padding-left: 15px;
      }
    }
  }

  thead tr,
  tbody tr {
    table-layout: fixed;
    display: table;
    width: 100%;
  }

  tbody {
    display: block;
    overflow-y: scroll;

    td {
      border-bottom: 1px solid $lightest-grey;
      word-wrap: break-word;
      line-height: normal;
      padding: 5px 10px 5px 0;
      height: 40px;

      &:first-child {
        padding-left: 15px;
      }
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $medium-grey;
    }
  }

  &__header {
    @include font-header-xs;
    color: $medium-grey;

    &.column-reserved-selectable {
      width: 30px;
    }
  }

  &__data {
    &.column-reserved-selectable {
      width: 30px;
    }
  }

  &.striped {
    // Undo materialize striping
    tr:nth-child(odd) {
      background-color: transparent;
    }

    tr:nth-child(even) {
      background-color: $off-white;
    }

    td {
      border-bottom-color: transparent;
    }
  }
}
