<div id="PipelineStageResults">
  <%= javascript_tag do %>
    react_component('PipelineViz', {
        admin: <%= current_user.admin %>,
        graphData: JSON.parse('<%= raw escape_json(@results) %>'),
    }, 'PipelineStageResults');
  <% end %>
</div>