<div id="PipelineStageResults">
  <%= javascript_tag do %>
    react_component('PipelineViz', {
        admin: <%= current_user.admin %>,
        stageStepInfo: JSON.parse('<%= raw escape_json(@stages) %>'),
        edgeFileInfo: JSON.parse('<%= raw escape_json(@edges) %>')
    }, 'PipelineStageResults');
  <% end %>
</div>