$primary-lightest: #eff2fc;
$primary-lighter: #5887fa;
$primary-light: #3867fa;
$primary-medium: #2b52cd;
$primary-dark: #223f9c;

$black: #000000;
$darkest-grey: #333333;
$dark-grey: #666666;
$medium-grey: #999999;
$light-grey: #cccccc;
$lightest-grey: #eaeaea;
$off-white: #f8f8f8;
$white: #ffffff;

$success-lightest: #e6f7ed;
$success: #3cb371;

$error-lightest: #ffe3e6;
$error: #d0021b;

$off-white-blue: #f8f9fe;
$warning: #f4a460;

$box-shadow-dark: rgba(34, 36, 38, 0.5);
