$primary-lightest: #eff2fc;
$primary-lighter: #5887fa;
$primary-light: #3867fa;
$primary-medium: #2b52cd;
$primary-dark: #223f9c;

$black: #000000;
$darkest-grey: #333333;
$dark-grey: #666666;
$medium-grey: #999999;
$light-grey: #cccccc;
$lightest-grey: #eaeaea;
$off-white: #f8f8f8;
$white: #ffffff;

$transparent-lightest-grey: rgba(0, 0, 0, 0.05);
$transparent-light-grey: rgba(0, 0, 0, 0.15);
$transparent-medium-grey: rgba(0, 0, 0, 0.3);

$success-lightest: #e6f7ed;
$success: #3cb371;
$success-bg: $success-lightest;

$error-lightest: #ffe3e6;
$error: #d0021b;
$error-bg: #f9ebeb;

$off-white-blue: #f8f9fe;
$warning: #f5a623;
$warning-bg: #fcf6ec;

$info: $primary-light;
$info-bg: $primary-lightest;

$box-shadow-lighter: rgba(34, 36, 38, 0.15);
$box-shadow-light: rgba(0, 0, 0, 0.22);
$box-shadow-dark: rgba(34, 36, 38, 0.5);
