$primary-light: #3867fa;
$primary-medium: #2b52cd;
$primary-dark: #223f9c;

$black: #000000;
$darkest-grey: #333333;
$dark-grey: #666666;
$medium-grey: #999999;
$light-grey: #cccccc;
$lightest-grey: #eaeaea;
$off-white: #f8f8f8;
$white: #ffffff;
