@import "~styles/themes/colors";

// Deprecated - do not use for new elements
$box-shadow-bottom-right: 0px 2px 8px $box-shadow-light;
$box-shadow-dropdown-menu: 0 2px 4px 0 $box-shadow-lighter,
  0 2px 10px 0 $box-shadow-lighter;
$box-shadow-tab-bottom: 0 2px 2px 0 $box-shadow-light;

$box-shadow-s: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
$box-shadow-m: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
$box-shadow-l: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

// Corners
$border-radius-l: 20px;
$border-radius-m: 4px;
$border-radius-s: 2px;
$border-radius-none: 0px;

$narrow-container-width: 1280px;
$narrow-container-margin: 14px;
$header-height: 50px;
$header-margin-bottom: 10px;
$header-total-height: $header-height + $header-margin-bottom;

$space-default: 10px;
$space-xxxxs: 2px;
$space-xxxs: 4px;
$space-xxs: 6px;
$space-xs: 8px;
$space-s: 10px;
$space-m: 14px;
$space-l: 22px;
$space-xl: 38px;

// Customized scroll bar
@mixin scrollable {
  &::-webkit-scrollbar {
    // Overwrite semantic ui.
    width: 8px !important;
    height: 8px !important;
  }

  &::-webkit-scrollbar-track {
    // Overwrite semantic ui.
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    // Overwrite semantic ui.
    background-color: $transparent-light-grey !important;

    &:hover {
      background-color: $transparent-medium-grey !important;
    }
  }
}

@keyframes loadingBackgroundAnimation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 10% 0;
  }
}

@mixin loadingAnimation {
  animation-name: loadingBackgroundAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background: linear-gradient(
    to right,
    $off-white 10%,
    $lightest-grey 18%,
    $lightest-grey 22%,
    $off-white 30%
  );
  background-position: 0% 0;
  background-size: 200%;
}
