@import "~styles/themes/colors";

$box-shadow-bottom-right: 0px 2px 8px $box-shadow-light;
$box-shadow-dropdown-menu: 0 2px 4px 0 $box-shadow-lighter,
  0 2px 10px 0 $box-shadow-lighter;

// Customized scroll bar
@mixin scrollable {
  &::-webkit-scrollbar {
    // Overwrite semantic ui.
    width: 8px !important;
  }

  &::-webkit-scrollbar-track {
    // Overwrite semantic ui.
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    // Overwrite semantic ui.
    background-color: $transparent-light-grey !important;

    &:hover {
      background-color: $transparent-medium-grey !important;
    }
  }
}

@keyframes loadingBackgroundAnimation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 10% 0;
  }
}

@mixin loadingAnimation {
  animation-name: loadingBackgroundAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background: linear-gradient(
    to right,
    $off-white 10%,
    $lightest-grey 18%,
    $lightest-grey 22%,
    $off-white 30%
  );
  background-position: 0% 0;
  background-size: 200%;
}
