@import "~styles/themes/colors";

$box-shadow-bottom-right: 0px 2px 8px $box-shadow-light;

// Customized scroll bar
@mixin scrollable {
  &::-webkit-scrollbar {
    // Overwrite semantic ui.
    width: 8px !important;
  }

  &::-webkit-scrollbar-track {
    // Overwrite semantic ui.
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    // Overwrite semantic ui.
    background-color: $transparent-light-grey !important;

    &:hover {
      background-color: $transparent-medium-grey !important;
    }
  }
}
