@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800");

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, Helvetica,
  sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: "Andale Mono", Menlo, Monaco, Consolas, "Courier New",
  monospace !default;
$font-family-default: $font-family-sans-serif !default;

// Size
// Avoid individual sizing: use mixins below whenever possible
$font-size-smallest: 11px;
$font-size-small: 12px;
$font-size: 13px;
$font-size-h1: 40px;
$font-size-h2: 34px;
$font-size-h3: 28px;
$font-size-h4: 22px;
$font-size-h5: 16px;
$font-size-h6: 14px;

// Weights
// Avoid individual weighting: use mixins below whenever possible
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

// Font mixins. Use the cropped versions whenever possible.
@mixin font-header-xxl {
  font-size: 26px;
  line-height: 34px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-xl {
  font-size: 22px;
  line-height: 30px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-l {
  font-size: 18px;
  line-height: 24px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-m {
  font-size: 16px;
  line-height: 22px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-s {
  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-xs {
  font-size: 13px;
  line-height: 20px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-xxs {
  font-size: 12px;
  line-height: 18px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-xxxs {
  font-size: 11px;
  line-height: 16px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-accordion {
  font-size: 12px;
  line-height: 40px;
  font-weight: $font-weight-semibold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

@mixin font-header-node-l {
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin font-header-node-s {
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

@mixin font-body-xl {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-l {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-m {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-s {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-xs {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-xxs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-body-xxxs {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

@mixin font-label-s {
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
}

@mixin font-label-xs {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

@mixin font-label-xxs {
  font-size: 9px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@mixin font-tag-s {
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.8px;
  font-weight: 400;
}

@mixin viz-label {
  font-size: 9px;
  line-height: 13px;
  font-weight: $font-weight-semibold;
}

@mixin font-search-result-title {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: $font-weight-semibold;
}

@mixin font-search-result-description {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
}

@mixin font-code {
  font-family: $font-family-monospace;
  font-size: 13px;
  line-height: 16px;
}

@mixin font-caps-xxs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

@mixin font-caps-xxxs {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

@mixin font-caps-xxxxs {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}
