@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800");

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, Helvetica,
  sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-default: $font-family-sans-serif !default;

// Size
// Avoid individual sizing: use mixins below whenever possible
$font-size-smallest: 11px;
$font-size-small: 12px;
$font-size: 13px;
$font-size-h1: 40px;
$font-size-h2: 34px;
$font-size-h3: 28px;
$font-size-h4: 22px;
$font-size-h5: 16px;
$font-size-h6: 14px;

// Weights
// Avoid individual weighting: use mixins below whenever possible
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

// Font mixins. Use these whenever possible.
@mixin font-header-xxl {
  font-size: 26px;
  line-height: 34px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-xl {
  font-size: 22px;
  line-height: 30px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-l {
  font-size: 18px;
  line-height: 24px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-m {
  font-size: 16px;
  line-height: 22px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
}

@mixin font-header-s {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

@mixin font-header-xs {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

@mixin font-body-l {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

@mixin font-body-m {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
}

@mixin font-body-s {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

@mixin font-body-xs {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

@mixin font-body-xxs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

@mixin font-label-s {
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
}
