@import "~styles/themes/typography";
@import "~styles/themes/colors";

.bulkSampleUploadTable {
  .detectedMsg {
    @include font-body-xs;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $dark-grey;

    .count {
      @include font-header-xs;
      color: $black;
    }
  }

  :global {
    // Global because DataTable doesn't use CSS modules (yet)
    .data-table {
      .column-progress {
        width: 50px;
        text-align: center;
        padding-left: 5px;
        padding-right: 25px;

        .check.icon {
          // Align better with the spinner
          margin-left: 2px;
        }
      }

      tbody {
        max-height: 500px;
      }

      .column-removeIcon {
        width: 20px;

        .removeIcon {
          cursor: pointer;
          opacity: 0.3;
          width: 10px;
          margin-top: 5px;

          &:hover {
            opacity: 1;
          }
        }
      }

      &__data {
        &.column-sampleName {
          font-weight: 600;
          padding-left: 5px;
        }

        &.column-files {
          div {
            div {
              margin-top: 10px;
              margin-bottom: 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
