@import "~styles/themes/colors";

.categorySearchBox {
  margin-bottom: 12px;

  :global(.prompt) {
    width: 260px !important;
    border-radius: 19px !important;
  }

  :global(.search) {
    :global(.category),
    :global(.name),
    :global(.results.visible),
    :global(.result) {
      display: block !important;
      border-bottom: none !important;
    }
    :global(.results.visible) {
      max-height: 300px;
      overflow-y: scroll;
    }
    :global(.category) {
      padding-top: 5px !important;
      background: none !important;
      border-bottom: 1px solid $light-grey !important;
    }
    :global(.name) {
      text-transform: uppercase !important;
      font-size: 12px !important;
      padding-left: 16px !important;
    }
    :global(.results) {
      border-left: none !important;
      border-bottom: none !important;
    }
    :global(.result) {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    :global(.title) {
      font-weight: normal !important;
    }
    :global(.description) {
      font-size: 10px !important;
    }
  }
}
