@import "~styles/themes/colors";
@import "~styles/themes/elements";

.checkbox {
  display: flex;
  position: relative;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 28px;
  align-items: center;
  justify-content: center;

  input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: relative;
    height: 16px;
    width: 16px;
    flex: none;
    border: $border-gray-light;
    border-radius: $border-radius-s;
    opacity: 100;

    &:hover {
      border: $border-gray-medium;
    }

    &:after {
      content: "";
      position: relative;
      display: none;
      left: 4px;
      top: 1px;
      width: 6px;
      height: 9px;
      border: solid $white;
      border-radius: $border-radius-s;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
    }
  }

  & input:checked ~ .checkmark {
    background-color: $primary;

    &:after {
      display: block;
    }
  }

  .label {
    line-height: 18px;
    padding: 0 10px 0 10px;
  }
}
