@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.editableInput {
  display: flex;
  align-items: center;
  cursor: pointer;

  .editableText {
    border-bottom: 1px dashed $gray-dark;
  }

  .editIcon {
    flex: 1 0 auto;
    height: $icon-s;
    fill: $gray-dark;
    margin-left: $sds-spaces-m;

    &:hover {
      fill: $primary;
    }
  }
}

.alertContainer {
  @include font-body-xxxs;
  display: flex;
  margin-top: $sds-spaces-xxs;

  &.warning {
    color: $warning-dark;
  }

  &.error {
    color: $error-dark;
  }

  .alertIcon {
    width: $icon-s;
    height: $icon-s;
    margin-right: $sds-spaces-xxs;
    // Vertical-align the svg element with the text.
    transform: translateY(1px);
  }
}
