@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.filePicker {
  width: 100%;
  border: $border-dashed-gray-medium;
  border-radius: $border-radius-m;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.active {
    background-color: $primary-lightest;
    border: $border-dashed-primary;
  }

  &:hover,
  &.accepted {
    background-color: $primary-lightest;
    border: $border-dashed-primary;
  }

  .inner {
    margin: 0 28px;

    .title {
      @include font-header-s;
      margin-bottom: 5px;
    }

    .fileBox {
      font-size: 13px;

      .checkmarkIcon {
        color: $primary;
      }

      &.noTitle {
        font-size: 16px;

        .fileName {
          font-weight: 600;
        }
      }
    }

    .instructions {
      color: $gray-darkest;
      font-size: 13px;
    }

    .message {
      margin-top: 1rem;
      color: $primary;
    }

    .browserLink {
      color: $primary;
    }
  }
}
