@import "~styles/themes/colors";

.filePicker {
  width: 100%;
  border: 2px $medium-grey dashed;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.active {
    background-color: $primary-lightest;
    border: 2px dashed $primary-light;
  }

  &:hover,
  &.accepted {
    background-color: $primary-lightest;
    border: 2px dashed $primary-light;
  }

  .inner {
    margin: 0 28px;

    .title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .fileBox {
      font-size: 13px;

      .checkmarkIcon {
        color: $primary-light;
      }

      &.noTitle {
        font-size: 16px;

        .fileName {
          font-weight: 600;
        }
      }
    }

    .instructions {
      font-size: 13px;
    }

    .message {
      margin-top: 1rem;
      color: $primary-light;
    }

    .browserLink {
      color: $primary-light;
    }
  }
}
