@import "~styles/themes/colors";
@import "~styles/themes/typography";

:global(.ui):global(.label).filterTag {
  @include font-tag-s;
  background: $primary !important;
  border-color: $primary !important;
  color: $white !important;
}
