@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.liveSearchPopBox {
  &:not(.rectangular) {
    input[type="text"] {
      border-radius: 19px;
    }
  }

  &:not(.rectangular) {
    input[type="text"] {
      border-radius: 4px;
    }
  }

  :global(.menu) {
    margin-top: 6px;
    max-width: 400px;
  }

  :global(.item) {
    height: auto;
  }

  .category {
    @include font-label-s;

    background-color: transparent;
    color: $light-grey;
    margin: 0 14px;
    text-transform: uppercase;
    border-top: 2px solid $lightest-grey;
    margin-top: $space-m;
  }

  .category:first-child {
    border: none;
  }

  .entry {
    padding: 5px 0;

    .title {
      @include font-search-result-title;

      color: $black;
      font-weight: $font-weight-semibold;
    }

    .description {
      @include font-search-result-description;

      color: $medium-grey;
    }
  }
}
