@import "~styles/themes/colors";
@import "~styles/themes/elements";

.loadingBarBackground {
  background-color: $gray-lightest;
  height: $space-s;
  border-radius: $border-radius-m;
  overflow: hidden;

  .loadingBar {
    background-color: $primary;
    height: $space-s;
    width: 0px;
    border-radius: $border-radius-m;

    &.showHint {
      min-width: $space-xxs;
    }

    &.error {
      background-color: $error-medium;
    }
  }

  &.tiny {
    height: $space-xs;

    .loadingBar {
      height: $space-xs;
      border-radius: $border-radius-m;
    }
  }

  &.loading {
    margin-top: $space-xxs;
  }
}
