@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.loadingBarBackground {
  background-color: $gray-lightest;
  height: $sds-spaces-s;
  border-radius: $border-radius-m;
  overflow: hidden;

  .loadingBar {
    background-color: $primary;
    height: $sds-spaces-s;
    width: 0px;
    border-radius: $border-radius-m;

    &.showHint {
      min-width: $sds-spaces-xxs;
    }

    &.error {
      background-color: $error-medium;
    }
  }

  &.tiny {
    height: $sds-spaces-xs;

    .loadingBar {
      height: $sds-spaces-xs;
      border-radius: $border-radius-m;
    }
  }

  &.loading {
    margin-top: $sds-spaces-xxs;
  }
}
