@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.plusMinusContainer {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-m;
  overflow: hidden;

  button {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

    &:first-child {
      border-bottom: 1px solid $gray-lightest;
    }

    &:focus {
      background-color: transparent;
    }
  }
}

.icon {
  fill: $sds-color-gray-600;
}
