@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.radioButton {
  width: 15px;
  height: 15px;
  border-radius: $border-radius-l;
  border: $border-gray-medium;
  padding: $sds-spaces-xxxs;
  cursor: pointer;

  &:hover {
    border: 5px solid $gray-light;
  }

  &.selected {
    border: 5px solid $primary;

    &:hover {
      border: 5px solid $primary-light;
    }
  }

  &.disabled {
    cursor: default;
    border: $border-gray-light;

    &:hover,
    &.selected {
      border: $border-gray-light;
    }
  }
}
