@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~styles/themes/typography";

.searchBoxList {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-bottom-right;
  display: inline-block;
  font-size: 13px;
  min-width: 240px;
  padding: 10px;
  text-align: left;

  .searchBox {
    margin-bottom: 10px;
  }

  .title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .listBox {
    height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray-lightest;
      border-radius: $border-radius-m;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-medium;
    }

    .listColumnTitles {
      height: 24px;
      margin-right: 10px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      flex: 1 0 auto;
      justify-content: space-between;
    }

    .listColumnTitle {
      display: inline-block;
      color: $gray-dark;
      font-weight: $font-weight-semibold;
    }

    .listElement {
      cursor: pointer;
      height: 24px;
      margin-right: 10px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      flex: 1 0 auto;
    }

    .listCheckmark {
      display: inline-block;
      width: 20px;
    }

    .listLabel {
      display: inline-block;

      &:hover {
        color: $primary;
      }
    }

    .listElementCount {
      color: $gray-medium;
      display: inline-block;
      margin-left: auto;
      padding-left: $space-xxl;
    }
  }
}
