@import "~styles/themes/colors";
@import "~styles/typography";

.tabs {
  height: 30px;
  padding-bottom: 10px;

  .tab {
    color: $medium-grey;
    font-size: $font-size-body;
    letter-spacing: 0.4px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;

    &.selected {
      color: $black;
    }
  }

  .tabWrapper {
    display: flex;
    position: relative;
  }

  .indicator {
    position: absolute;
    height: 4px;
    background-color: $primary-light;
    transition: all 0.2s;
    transform: translateY(25px);
    z-index: 1;
  }

  /* The tab border extends OUTSIDE of the tab container */
  .tabBorder {
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 6px;
    background-color: $lightest-grey;
  }
}
