.termsAgreement {
  margin-top: 30px;
  margin-bottom: 30px;

  // Global because Checkbox does not use CSS modules
  :global(.label) {
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;

    span {
      cursor: default;
    }
  }
}
