@import "~styles/themes/colors";
@import "~styles/themes/elements";

.termsAgreement {
  margin-top: $space-l;
  margin-bottom: $space-l;

  // Global because Checkbox does not use CSS modules
  :global(.label) {
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;

    span {
      cursor: default;

      a {
        color: $primary-light !important;
      }
    }
  }
}
