@import "~styles/themes/colors";
@import "~styles/themes/typography";

// NOTE: Classname .toggle is repeated here as .toggle.toggle.toggle to increase
// specificity and always override semantic-ui.

// For unknown reasons, semantic-ui is adding the rule
//  [type=radio]:not(:checked)+label:after { transform: scale(0); }
// which has the effect of hiding the circle part of the toggle when off.
// The circle is always visible on the official example page at:
// https://react.semantic-ui.com/modules/checkbox/#types-toggle
.toggle.toggle.toggle label:after {
  transform: scale(1) !important;
}

.toggle.toggle.toggle label:before {
  margin-left: 0px; // remove 4px margin
  margin-right: 0px; // remove 4px margin
  height: 28px;
  line-height: 28px;
  width: 68px;
}

.toggle.toggle.toggle label {
  padding-top: 6px; // vertical align text
  min-height: 34px;
  min-width: 58px; // enough space for text
  font-size: $font-size-small;
}

// Place text to the left
.toggle.toggle.toggle input:checked ~ label {
  padding-left: 17px;
  padding-right: 17px;
}

// Place text to the right
.toggle.toggle.toggle input:indeterminate ~ label {
  padding-left: 34px;
  color: $dark-grey !important;
}

.toggle.toggle.toggle input:checked ~ label:before {
  background-color: transparent !important; // override semantic-ui
  border: 1px solid $primary-light;
  padding-left: 4px;
}

.toggle.toggle.toggle input:indeterminate ~ label:before {
  background-color: transparent !important; // override semantic-ui
  border: 1px solid $light-grey;
}

.toggle.toggle.toggle label:after {
  top: 5px; // vertically align the circle in the height of the container
  height: 18px;
  width: 18px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  transition-duration: 0.2s, 0.2s; // down from 0.3s
}

.toggle.toggle.toggle input:checked ~ label:after {
  background-color: $primary-light;
  left: calc(
    68px - 9px - 18px
  ); // inner width of toggle minus inner padding minus width of circle
}

.toggle.toggle.toggle input:indeterminate ~ label:after {
  background: $lightest-grey;
  left: 2px;
}
