// For unknown reasons, semantic-ui is adding the rule
//  [type=radio]:not(:checked)+label:after { transform: scale(0); }
// which has the effect of hiding the circle part of the toggle when off.
// The circle is always visible on the official example page at:
// https://react.semantic-ui.com/modules/checkbox/#types-toggle
.toggle label:after {
  transform: scale(1) !important;
}

// Repeat classname to increase specificity and override semantic-ui !important.
.toggle.toggle.toggle input:checked ~ label:before {
  background-color: transparent !important; // override semantic-ui
  // TODO (gdingle): change to idseq color
  border: 2px solid blue;
  height: 2rem;
  line-height: 2rem;
  width: 4rem;
}

.toggle.toggle.toggle input:indeterminate ~ label:before {
  background-color: transparent !important; // override semantic-ui
  // TODO (gdingle): change to idseq color
  border: 2px solid gray;
  height: 2rem;
  line-height: 2rem;
  width: 4rem;
}

.toggle.toggle.toggle label:after {
  top: 3px; // vertically align the circle in the height of the container
}

.toggle.toggle.toggle input:checked ~ label:after {
  // TODO (gdingle): change to idseq color
  background-color: blue;
}

.toggle.toggle.toggle input:indeterminate ~ label:after {
  // TODO (gdingle): change to idseq color
  background-color: gray;
}
