@import "../../themes/colors";

.idseq-ui.input.checkbox {
  display: flex;
  position: relative;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 28px;
  align-items: center;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 16px;
    width: 16px;
    border: 1px solid $light-grey;
    border-radius: 2px;

    &:after {
      content: "";
      position: absolute;
      display: none;

      left: 4px;
      top: 1px;
      width: 6px;
      height: 9px;
      border: solid $white;
      border-radius: 2px;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
    }
  }

  & input:checked ~ .checkmark {
    background-color: $primary-light;

    &:after {
      display: block;
    }
  }

  .label {
    line-height: 18px;
  }
}
