@import "../../themes/colors";
@import "~styles/themes/typography";

.idseq-ui.input {
  input[type="text"],
  input[type="number"] {
    @include font-body-xs;
    height: 34px;
    border-radius: $border-radius-m;
    box-sizing: border-box;
    border: 1px solid $gray-light;

    &:focus {
      border: 1px solid $primary;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  &.error {
    input[type="text"] {
      border: 1px solid red;
    }
  }

  &.warning {
    input[type="text"] {
      border: 1px solid $warning-medium;
    }
  }
}
