@import "../../themes/colors";
@import "~styles/themes/typography";

.idseq-ui.input {
  input {
    border-radius: $border-radius-m;
    border: $border-gray-light;
    box-sizing: border-box;

    &:focus {
      border: $border-primary;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  input[type="text"],
  input[type="number"] {
    @include font-body-xs;
    height: 34px;
    width: 100%;
  }

  input[type="header"] {
    @include font-header-xl;
    padding: 7px $space-l;
    text-overflow: ellipsis;
    background-color: transparent;
    color: $black;
    height: 44px;
    width: 600px;
  }

  &.error {
    input[type="header"],
    input[type="text"] {
      border: $border-error;
    }
  }

  &.warning {
    input[type="header"],
    input[type="text"] {
      border: $border-warning;
    }
  }
}
