@import "../../themes/colors";

.idseq-ui.ui.menu {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .active.item {
    background-color: $primary-light;
    // TODO for removing importants from _header.scss
    color: $white !important;
  }
}
