@import "../../themes/colors";

.idseq-ui.upload-box {
  width: 100%;
  max-width: 30rem;
  height: 10rem;
  margin-top: 1rem;
  border: 2px $medium-grey dashed;
  border-radius: 5px;
  cursor: pointer;

  &.active {
    background-color: $primary-lightest;
    border: 2px solid $primary-light;
  }

  &:hover,
  &.accepted {
    background-color: $primary-lightest;
    border: 2px dashed $primary-light;
  }

  .upload-box-inside {
    margin: 2rem;

    .upload-box-file-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .upload-box-file {
      font-weight: bold;
      color: $primary-light;
      overflow-wrap: break-word;
    }

    .upload-box-progress {
      margin-top: 1rem;
      color: $primary-light;
    }

    .upload-box-link {
      color: $primary-light;
    }
  }
}
