@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.pipelineVizContainer {
  display: flex;
  flex-direction: column;
}

.pipelineViz {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.stageAndArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stageButton {
  background-color: $light-grey;
  border-radius: 8px;
  padding: 12px;
  width: 250px;
  text-align: center;
  font-weight: $font-weight-bold;
  cursor: pointer;
  word-break: break-word;

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.stageArrow {
  width: 50px;
  height: 10px;
  display: flex;
  align-items: center;
  overflow: visible;
  position: relative;
  flex-shrink: 0;
  pointer-events: none;

  .stageArrowBody {
    position: relative;
    width: calc(100% - 12px);
    padding: 0.5px 0;
    background-color: $medium-grey;

    &.fromColoring {
      background-color: $black;
      padding: 1px 0;
    }

    &.toColoring {
      background-color: $primary-light;
      padding: 1px 0;
    }
  }

  .stageArrowHead {
    position: absolute;
    right: 0;
    height: 100%;
    fill: $medium-grey;

    &.fromColoring {
      fill: $black;
    }

    &.toColoring {
      fill: $primary-medium;
    }
  }
}

.graphLabel {
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;

  .closeIcon {
    padding: 24px;
    box-sizing: content-box;
  }
}

.hidden {
  display: none;
}

.graph {
  padding: 60px 0;
}

.openedStage {
  background-color: $off-white;
  border-radius: 6px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-bold;
  position: relative;
  height: 100%;
}

.panZoomContainer {
  cursor: all-scroll !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px; /* To offset the page header */
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
}

.plusMinusControl {
  position: fixed;
  bottom: 50px;
  right: 15px;
  box-shadow: $box-shadow-dropdown-menu;
}

.hovered {
  cursor: pointer;
}

.headerSection {
  padding-left: 105px;
  padding-bottom: 24px;
}

.pipelineInfo {
  @include font-body-xxxs;
  color: $medium-grey;
  margin-top: 14px;
  margin-bottom: 18px;
}

.pipelineDetailsLink {
  @include font-header-xxs;
  margin-top: 4px;
  color: $primary-light;
}

.headerDivider {
  height: 3px;
  background-color: $lightest-grey;
  position: absolute;
  left: 0;
  right: 0;
}
