@import "../themes/colors";

.tidy-tree {
  .node {
    circle {
      stroke: $primary;
      stroke-width: 2px;
      fill: white;

      &:hover {
        cursor: pointer;
        fill: $primary-lightest;
      }
    }

    text {
      font-size: 8px;

      &.name-missing {
        fill: $gray-medium;
      }

      &:hover {
        cursor: pointer;
        fill: $primary;
      }
    }

    &__leaf,
    &__internal {
      &--collapsed {
        circle {
          fill: $primary;

          &:hover {
            fill: $primary-light;
          }
        }

        path.cross {
          stroke-width: 2px;
          stroke: white;
        }
      }
    }

    &__leaf {
      &--collapsed {
        circle {
          fill: $primary;

          &:hover {
            fill: $primary-light;
          }
        }
      }
    }
  }

  .link {
    fill: none;
    stroke: $gray-medium;

    &.highlighted {
      stroke: $primary;
    }
  }
}
