<div id="MapPlayground_page">

<%= javascript_tag do %>
  react_component(
  'MapPlayground',
  {
    results: JSON.parse('<%= raw escape_json(@results) %>'),
    mapTilerKey: '<%= ENV["MAPTILER_API_KEY"] %>',

  },
  'MapPlayground_page'
  );
<% end %>

</div>
