name: Automate regular release and deployment cycle

on:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # GITHUB_TOKEN is provided by Actions and can create deployment objects, but these objects won't trigger workflows.
  # A separate token, bound to a specific developer with access to the repo, is required to create GitHub deployment
  # objects that can trigger a deployment workflow. The secret for this token (with repo_deployment scope) is created in
  # https://github.com/settings/tokens and can be managed in https://github.com/chanzuckerberg/idseq/settings/secrets.
  GH_DEPLOY_TOKEN: ${{ secrets.GH_DEPLOY_TOKEN }}

jobs:
  run-deployment-prerequisites:
    runs-on: [self-hosted, idseq-dev]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Ensure a full clone with all history and tags
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: |
            ${{ secrets.GH_SSH_KEY }}
      - name: Force prune and fetch tags
        run: |
          git tag -l | xargs -r git tag -d # Delete all local tags
          git fetch --all --tags --prune
      - name: Update release fix checklist
        run:  ./bin/deploy_automation/update_release_checklist.sh
      - name: Automate release cycle
        run:  ./bin/deploy_automation/automated_release_cycle.sh
  deploy-prod:
    needs: run-deployment-prerequisites
    uses: ./.github/workflows/reusable-deploy-workflow.yml
    with:
      source: prod
      destination: prod
      developer_name: ${{ github.actor }}
      deployment_reason: scheduled deployment of staging to prod
    secrets: inherit

  deploy-staging:
    needs: [run-deployment-prerequisites, deploy-prod]
    uses: ./.github/workflows/reusable-deploy-workflow.yml
    with:
      source: staging
      destination: staging
      developer_name: ${{ github.actor }}
      deployment_reason: scheduled deployment of main to staging
    secrets: inherit

  run_staging_playwright_e2e_tests:
    name: Run Playwright E2E tests on staging
    needs: deploy-staging
    uses: ./.github/workflows/e2e-automation.yml
    with:
      node-environment: "staging"
      test-category: "smoke"
      should-run-with-feature-flags: "false"
    secrets: inherit

  # Separated make-release-checklist into it's own job to prevent the failure of it from blocking deployment
  # The goal here is make make_release_checklist part of run-deployment-prerequisites eventually, but for the time being this will help debug the script better
  make-release-checklist:
    needs: [run-deployment-prerequisites]
    runs-on: [self-hosted, idseq-dev]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: '0'
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: |
            ${{ secrets.GH_SSH_KEY }}
      - name: Make release checklist
        run:  ./bin/deploy_automation/make_release_checklist.sh
