.idseq-ui.pathogen-preview {
  margin-left: 10px;
  .ui.circular {
    min-width: 10px;
    min-height: 10px;
  }
  .pathogen-count {
    margin-left: 2px;
    font-size: 12px;
    font-weight: bold;
  }
}
