<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/segment_analytics" %>
        <!-- SEO Tags -->
    <title>Chan Zuckerberg ID - Detect & Track Infectious Diseases</title>
    <meta name="description" content="CZ ID: a free, cloud-based metagenomic platform for researchers, empowers global pathogen and outbreak detection and monitoring.">
    <meta name="keywords" content="Infectious disease, sequencing, metagenomic sequencing, genomics, Chan Zuckerberg Initiative, CZI, Chan Zuckerberg Biohub, CZ Biohub, science, next gen sequencing, research, biology, virology, bioinformatics, computational biology, global health">

    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Chan Zuckerberg ID: The free, cloud-based metagenomics platform" />
    <meta property="og:description" content="Real-time pathogen detection, microbiome characterization and outbreak detection for researchers" />
    <meta property="og:url" content="https://czid.org/" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://assets.prod.czid.org/assets/CZID_Meta.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="500" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Specific Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Chan Zuckerberg ID: The free, cloud-based metagenomics platform" />
    <meta name="twitter:description" content="Real-time pathogen detection, microbiome characterization and outbreak detection for researchers" />
    <meta name="twitter:image" content="https://assets.prod.czid.org/assets/CZID_Meta.png" />

    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="<%= image_url("logo-#{Rails.env}.png") %>"/>
    <p>
      Sorry, CZ ID does not currently support your web browser!
    </p>
    <p>
      We recommend using an alternative modern browser such as Google Chrome v50+ or Firefox v50+.
    </p>
  </head>
</html>
