@import "~styles/themes/colors";
@import "~styles/themes/elements";

.header {
  display: flex;

  &.toggleable {
    cursor: pointer;
  }

  &.center {
    align-items: center;
  }

  &.baseline {
    align-items: baseline;
  }

  .fill {
    flex: 1 1 0;
    min-width: 0;
  }
}

.toggleContainer {
  padding: 0 $space-default;

  .toggleIcon {
    font-size: 22px;
    fill: $gray-dark;

    &.topRight {
      margin: -$space-xxs 0 0 $space-default;
      padding: 0;
    }

    &:hover {
      fill: $black;
    }
  }
}

.content {
  // prevent margin collapse, so that interior elements can set a bottom margin
  overflow: auto;
  margin-right: $space-xl;

  &.bottomPadding {
    margin-bottom: 20px;
  }
}
