@import "~styles/themes/colors";
@import "~styles/themes/elements";

.header {
  display: flex;

  &.toggleable {
    cursor: pointer;
  }

  &.center {
    align-items: center;
  }

  &.baseline {
    align-items: baseline;
  }

  .fill {
    flex: 1 1 0;
    min-width: 0;
  }
}

.toggleIcon {
  padding: 0 $space-default;
  font-size: 22px;
  color: $medium-grey;

  &.topRight {
    margin: -$space-xxxs 0 0 $space-default;
    padding: 0;
  }

  &:hover {
    color: $black;
  }
}

.content {
  // prevent margin collapse, so that interior elements can set a bottom margin
  overflow: auto;

  &.bottomPadding {
    margin-bottom: 20px;
  }
}
