@import "~styles/themes/colors";

.divider {
  height: 0px;
  border-bottom: 2px solid $off-white;

  &.thin {
    border-bottom: 2px solid $off-white;
  }

  &.medium {
    border-bottom: 2px solid $lightest-grey;
  }

  &.shadow {
    border-bottom: 10px solid $white;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.2);
  }
}
