.narrowContainer {
  // Per design, narrow container has a max-width of 1280px with a minimum margin of 14px.
  // Since there is no min-margin property we set max-width to 2xmin_margin and
  // ensure the min margin by removing the margin width from the actual width of
  // the component (i.e. 100% - 2xmin_margin)
  max-width: 1308px;
  margin: 0 auto;
  width: calc(100% - 28px);

  &.small {
    max-width: 800px;
  }
}
