<p id="notice"><%= notice %></p>

<%= render 'host_genomes', host_genomes: @host_genomes %>

<p>
<%= link_to 'New Host Genome', new_host_genome_path %> |
<%= link_to 'Front portal', root_path %>
</p>
