@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";

.nextcladeConfirmation {
  .logo {
    margin-bottom: $space-l;
    width: 184px;
  }

  .title {
    @include font-header-xl;
    color: $black;
  }

  .text {
    @include font-body-s;
    margin-top: $space-s;
    margin-bottom: $space-xl;
    color: $gray-darkest;
  }

  .actions {
    margin-top: $space-m;
    display: flex;

    .item {
      &:not(:first-child) {
        margin-left: $space-xs;
      }

      &:not(:last-child) {
        margin-right: $space-xs;
      }
    }
  }
}
