@import "~styles/themes/typography";
@import "~styles/themes/colors";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.footer {
  .downloadDisclaimer {
    @include font-body-xxs;
    color: $gray-dark;
    margin-top: $sds-spaces-xs;
  }
}

.highlight {
  @include font-header-xxs;
}

.listContainer {
  background-color: $warning-off-white;
  margin-bottom: $sds-spaces-l;
}

.notificationContainer {
  margin: $sds-spaces-l 0 $sds-spaces-l;

  .errorMessage {
    @include font-header-xxs;
  }
}

.messageLine {
  @include font-body-xxs;
  padding: $sds-spaces-xxs 0;
  margin-right: $sds-spaces-xl;
}

.notifications {
  margin-bottom: $sds-spaces-xl;
}

.loading {
  @include font-body-s;
  padding: 0 0 0 $sds-spaces-default;
  color: $gray-dark;
  display: inline-block;

  .loadingIcon {
    fill: $gray-dark;
    width: $icon-s;
    height: $icon-s;
    vertical-align: -0.1em;
  }
}
