@import "~styles/themes/colors";
@import "~styles/themes/typography";
@import "~styles/themes/elements";
@import "~czifui/dist/variables";

.nextcladeConfirmation {
  .logo {
    margin-bottom: $sds-spaces-l;
    width: 184px;
  }

  .title {
    @include font-header-xl;
    color: $black;
  }

  .text {
    @include font-body-s;
    margin-top: $sds-spaces-s;
    margin-bottom: $sds-spaces-xl;
    color: $gray-darkest;
  }

  .actions {
    margin-top: $sds-spaces-m;
    display: flex;

    .item {
      &:not(:first-child) {
        margin-left: $sds-spaces-xs;
      }

      &:not(:last-child) {
        margin-right: $sds-spaces-xs;
      }
    }

    .loadingIcon {
      fill: $gray-dark;
      width: $icon-l;
      height: $icon-l;
      vertical-align: middle;
      margin-right: $sds-spaces-xxs;
    }

    .loading {
      @include font-body-s;
      color: $gray-dark;
      vertical-align: middle;
    }
  }
}
